@model WebApp.Areas.Admin.ViewModels.AssessorPackagesViewModel
<h1>Physician Documents</h1>

@foreach (var item in Model.PhysicianDocuments)
{
    <div>
        <h3>@item.DocumentTemplateName</h3>
        <div>
            <strong>Effective Date: </strong>@item.EffectiveDate.GetValueOrDefault().GetDateTimeFormats('d')[5]
            <span> to </span>
            <strong>Expiry Date: </strong>@item.ExpiryDate.GetValueOrDefault().GetDateTimeFormats('d')[5]
        </div>
    </div>
}

<h1>Assessor Packages</h1>

@foreach (var item in Model.PhysicianAssessorPackages)
{
    <div>
        <h3>@item.CompanyName</h3>
        <div>
            <strong>Effective Date: </strong>@item.EffectiveDate.GetValueOrDefault().GetDateTimeFormats('d')[5]
            <span> to </span>
            <strong>Expiry Date: </strong>@item.ExpiryDate.GetValueOrDefault().GetDateTimeFormats('d')[5]
        </div>
    </div>
}
