@using Model.Enums
@using WebApp.Library.Extensions.Model
@using WebApp.Library.Helpers
@model WebApp.Areas.Admin.ViewModels.CompaniesViewModel

<h2>Companies</h2>
<div class="lead text-muted">@Model.User.DisplayName</div>

<ul class="nav nav-tabs">
    @Html.MenuLink("Companies", "Companies", "User", "Admin", Model.User.Id, null)
    @Html.MenuLink("ExamWorks", "Companies", "User", "Admin", Model.User.Id, ParentCompanies.Examworks)
    @Html.MenuLink("SCM", "Companies", "User", "Admin", Model.User.Id, ParentCompanies.SCM)
</ul>
<div class="margin-top: 20px">
    &nbsp;
</div>

@foreach (var item in Model.Companies)
{
    <div class="row">
        <div class="col-md-12">
            <span class="h4 pull-left">@item.CompanyName</span>
            <nav>
                <ul class="nav nav-pills nav-condensed">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                        <ul class="dropdown-menu nav-uncondensed" role="menu">
                            <li role="presentation">@Html.ActionLink("Service Catalogue", "Index", "ServiceCatalogue", new { area="Admin", physicianId = item.PhysicianId, companyId = item.CompanyId }, new { })</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div><strong>Relationship Status:</strong> @item.RelationshipStatusName</div>
        </div>
    </div>
    <hr />
}