@model Orvosi.Shared.Model.Person

@Styles.Render("~/Content/markdown")

<a href="~/Admin/User/?parentId=@ViewBag.ParentId">Back</a>
<h1>Notes for @Model.DisplayName</h1>
<hr />

<a data-toggle="collapse" href="#editor">show/hide editor</a>
<div id="editor" class="collapse">

    <div class="mdd_toolbar"></div>

    <textarea cols=50 rows=10 class="mdd_editor" id="Notes" name="Notes">
        @Model.Notes
    </textarea>
    <div class="mdd_resizer"></div>

    <button id="saveChanges" class="btn btn-primary">Save</button>

</div>

<div class="mdd_preview"></div>

@section scripts {
    @Scripts.Render("~/bundles/markdown")

    <script type="text/javascript">

        $("textarea.mdd_editor").MarkdownDeep({

            help_location: "/Content/mdd_help.html",

            disableTabHandling: true

        });

        $("#saveChanges").click(function (e) {

            var url = '@Url.Content("~/Admin/User/Notes")';

            var text = $("textarea.mdd_editor").val();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    Id: '@Model.Id',
                    Notes: text
                },
                success: function () {
                    toastr.success("Your notes were saved successfully.");
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.success("Your notes were not saved.", "Something went wrong!");
                }
            }, this);
        });
    </script>
}