@using enums = Model.Enums
@model WebApp.Areas.Admin.ViewModels.ProfileViewModel

<h2>Profile</h2>
<div class="lead text-muted">@Model.Profile.DisplayName</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Profile.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profile.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profile.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profile.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profile.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profile.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profile.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Profile.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Profile.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.IsTestRecord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Profile.IsTestRecord)
                    @Html.ValidationMessageFor(model => model.Profile.IsTestRecord, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <div class="h4 text-muted">To edit the following fields, go to @Html.ActionLink("Security", "Security", new { id = Model.Profile.Id }).</div>
        </div>

        @if (Model.Profile.RoleId == enums.Roles.Company)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Profile.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.Profile.CompanyName</p>
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@Model.Profile.Email</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@Model.Profile.PhoneNumber</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", new { parentId = HttpUtility.ParseQueryString(Request.UrlReferrer.Query)["parentId"] }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
