@using WebApp.Library.Helpers
@using WebApp.Library.Extensions
@using Orvosi.Data
@using Features = Orvosi.Shared.Enums.Features
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var features = User.Identity.GetFeatures();
}

<p class="h3 text-muted">Work</p>

<ul class="nav nav-tabs">
    @if (features.Contains(Features.Work.Agenda))
    {
        <li role="presentation" class="@Html.IsActive("Dashboard", "Agenda")"><a href="~/Dashboard/Agenda?@(Request.QueryString)">Agenda <strong>(@Html.Action("RefreshAgendaSummaryCount", new { serviceProviderId = Request.QueryString["serviceProviderId"], day = Request.QueryString["day"] }))</strong></a></li>
    }
    @if (features.Contains(Features.Work.DueDates))
    {
        <li role="presentation" class="@Html.IsActive("Dashboard", "DueDates")"><a href="~/Dashboard/DueDates?@(Request.QueryString)">Tasks <strong>(@Html.Action("RefreshDueDateSummaryCount", new { serviceProviderId = Request.QueryString["serviceProviderId"] }))</strong></a></li>
    }
    @if (features.Contains(Features.Work.Schedule))
    {
        <li role="presentation" class="@Html.IsActive("Dashboard", "Schedule")"><a href="~/Dashboard/Schedule?@(Request.QueryString)">Schedule <strong>(@Html.Action("RefreshScheduleSummaryCount", new { serviceProviderId = Request.QueryString["serviceProviderId"] }))</strong></a></li>
    }
    @if (features.Contains(Features.Work.Additionals))
    {
        <li role="presentation" class="@Html.IsActive("Dashboard", "Additionals")"><a href="~/Dashboard/Additionals?@(Request.QueryString)">Additionals <strong>(@Html.Action("RefreshAdditionalsSummaryCount", new { serviceProviderId = Request.QueryString["serviceProviderId"] }))</strong></a></li>
    }
</ul>
<section class="tab-content">
    <div role="tabpanel" class="tab-pane active panel-body">
        @RenderBody()
    </div>
</section>
<div class="modal fade" id="dependencies-modal"></div>

@section Scripts {

    <script>
        function onShowTaskHierarchy(serviceRequestId, taskId) {
            // get the html and display it in the model
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Dashboard/TaskHierarchy")' + '?serviceRequestId=' + serviceRequestId + '&taskId=' + taskId,
                contentType: "text/html",
                success: function (result) {
                    // inject the html into the modal and display it
                    var modalDiv = $("#dependencies-modal");
                    modalDiv.html(result);
                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }
    </script>

@RenderSection("scripts", required: false)
    <script src="@Url.Content("~/signalr/hubs")"></script>
}