@using WebApp.ViewModels.DashboardViewModels
@model Task

<span title="@Model.AssignedToDisplayName">
    <span title="@(!string.IsNullOrEmpty(Model.AssignedToDisplayName) ? Model.AssignedToDisplayName : "Unassigned")"
          class="btn btn-sm btn-circle disabled"
          style="cursor: pointer; color: white; background-color: @(!string.IsNullOrEmpty(Model.AssignedToColorCode) ? Model.AssignedToColorCode : "red")">
        <span class="small">@(!string.IsNullOrEmpty(Model.AssignedToInitials) ? Model.AssignedToInitials : "?")</span>
    </span>
</span>
<span>
    @Html.Partial("_TaskStatusLabel", Model)
</span>
<span>
    @Model.Name
</span>