@using Orvosi.Shared.Enums
@model WebApp.ViewModels.DashboardViewModels.Assessment
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Task List - @Model.ClaimantName</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed">
                    @foreach (var task in Model.Tasks.OrderBy(c => c.Sequence))
                    {
                        <tr>
                            <td>
                                <span data-toggle="modal" title="@(task.AssignedTo.HasValue ? task.AssignedToDisplayName : "Unassigned")"
                                      class="btn btn-sm btn-circle disabled pull-left"
                                      style="cursor: pointer; color: white; background-color: @(task.AssignedTo.HasValue ? task.AssignedToColorCode : "red")"
                                      data-target="#task-modal-@task.Id" data-trigger="focus" data-container="body" tabindex="-1">
                                    <span class="small">@(task.AssignedTo.HasValue ? task.AssignedToInitials : "?")</span>
                                </span>
                            </td>
                            <td>
                                @*<form action="~/ServiceRequestTask/ToggleCompleted" method="post" class="pull-left">
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("serviceRequestTaskId", task.Id)
                                    <span class="checkbox" style="margin-top:0px; margin-bottom:0px;">
                                        <label>
                                            <input id="task-checkbox-@task.Id" type="checkbox"
                                                   value="@task.IsComplete"
                                                   @(task.IsComplete ? "checked" : "")
                                                   @(task.StatusId == TaskStatuses.Waiting || task.StatusId == TaskStatuses.Obsolete ? "disabled" : "")
                                                   onclick="this.form.submit();">
                                        </label>
                                    </span>
                                </form>*@
                                @Html.Partial("_TaskStatusLabel", task)
                            </td>
                            <td>@task.Name</td>
                            <td>
                                @if (task.StatusId == TaskStatuses.Done || task.TaskStatusId == TaskStatuses.Archive)
                                {
                                    <div class="small text-muted">@task.CompletedDate.Value.ToString("ddd, MMM dd") at @task.CompletedDate.Value.ToShortTimeString()</div>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>