@using WebApp.Library.Extensions
@using Orvosi.Shared.Enums
@model WebApp.ViewModels.DashboardViewModels.IndexViewModel
@{
    Layout = "~/Views/Dashboard/_Layout.cshtml";
    var roleId = User.Identity.GetRoleId();
    var userId = User.Identity.GetGuidUserId();
}
<div>
    <div class="btn-group">
        <a href="~/Dashboard/Agenda?serviceProviderId=@Model.SelectedUserId&day=@Model.Day.AddDays(-1).Date.ToOrvosiDateFormat()" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
        <a href="~/Dashboard/Agenda?serviceProviderId=@Model.SelectedUserId&day=@Model.Day.AddDays(1).Date.ToOrvosiDateFormat()" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
    </div>
    <span class="h3" style="vertical-align:middle;margin-left:15px;">
        @Model.Day.ToString("MMMdd")<span class="small"> @Model.Day.ToString("dddd")</span>
    </span>
</div>
@if (Model.Today != null)
{
    <div>
        @Model.Today.Address.Name
    </div>
        <div class="small text-muted" style="padding-bottom:20px;">
            @Model.Today.Address.City
        </div>
    foreach (var assessment in Model.Today.Assessments.OrderBy(a => a.StartTime))
    {
        <div class="row o-dashboard-tr">
            <div class="col-md-1 o-dashboard-td">
                <strong>@assessment.StartTime.ToShortTimeSafe()</strong>
                @if (!assessment.IsLateCancellation && !assessment.IsCancelled)
                    {
                    <form>
                        <div class="checkbox">
                            <label>
                                <input id="task-checkbox-@assessment.Id" type="checkbox"
                                       value="@assessment.IsNoShow"
                                       @(assessment.IsNoShow ? "checked" : "")
                                       onclick="onToggleNoShow(this, @assessment.Id, @Model.Today.DayTicks);">
                                No Show
                            </label>
                        </div>
                    </form>
                }
                <div class="o-dashboard-td">
                    @Html.Partial("_ServiceStatus", assessment)
                </div>
            </div>
            <div class="col-md-2 o-dashboard-td">
                <div><a target="_blank" class="" href="~/ServiceRequest/Details/@assessment.Id">@assessment.ClaimantName (@assessment.Id)</a></div>
                <strong style="color: @assessment.Service.ColorCode;">@assessment.Service.Code</strong>
                -
                <span>@assessment.Company.Name</span>
            </div>
            <div class="col-md-3">
                @Html.Partial("_ServiceRequestTasks_Today", assessment)
            </div>
            <div class="col-md-2 o-dashboard-td">
                <a class="btn btn-default" target="_blank" href="@assessment.BoxCaseFolderURL"><i class="fa fa-folder-open-o fa-lg"></i>&nbsp;Open Case Folder</a>
                @if (roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.Physician)
                    {
                    @Html.Partial("_Note", new WebApp.ViewModels.ServiceRequestViewModels.NoteViewModel() { ServiceRequestId = assessment.Id, Note = assessment.Notes })
                }
            </div>
            <div class="col-md-4 o-dashboard-td">
                @Html.Action("Discussion", "ServiceRequestMessage", new { serviceRequestId = assessment.Id })
                @Html.Partial("~/Views/ServiceRequestMessage/_PostMessage.cshtml", assessment)
            </div>
        </div>
    }
}
else
{
    <p></p>
    <p><strong> No assessments today</strong></p>
}

@Html.Partial("~/Views/Note/_NoteModalForm.cshtml")

@section Scripts {

    <script>

        function onTaskChecked(checkbox, taskId, serviceRequestId) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Dashboard/UpdateTaskStatus")',
                data: JSON.stringify({
                    taskId: taskId,
                    isChecked: checkbox.checked,
                    serviceProviderGuid: '@Model.SelectedUserId'
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    refreshServiceRequestTasks(serviceRequestId);
                    toastr.success("Task updated successfully.", "Task Updated");
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.success("Task was not updated.", "Something went wrong!");
                }
            }, this);
        }

        function onToggleNoShow(checkbox, serviceRequestId) {

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Dashboard/ToggleNoShow")',
                data: JSON.stringify({
                    serviceRequestId: serviceRequestId,
                    isChecked: checkbox.checked,
                    serviceProviderGuid: '@Model.SelectedUserId'
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    toastr.success("Request updated successfully.", "Request Updated");
                    refreshServiceRequestTasks(serviceRequestId);
                    refreshServiceStatus(serviceRequestId);
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }

        function refreshServiceRequestTasks(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Dashboard/RefreshServiceRequestTasks?serviceRequestId=")' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    $('#service-request-tasks-' + serviceRequestId).replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);

        }

        function refreshServiceStatus(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Dashboard/RefreshServiceStatus?serviceRequestId=")' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    $('#service-status-' + serviceRequestId).replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);

        }

        function onEditNote(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Note/EditNote?serviceRequestId=")' + serviceRequestId,
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    var modalDiv = $("#edit-note-modal");
                    modalDiv.find('#ServiceRequestId').val(result.ServiceRequestId); // hidden field
                    modalDiv.find('#Notes').val(result.Notes);
                    modalDiv.find('#ClaimantName').html(result.ClaimantName);

                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }

        $("#edit-note-form").submit(function (e) {

            var url = '@Url.Content("~/Note/UpdateNote")';

            var form = $("#edit-note-form");
            var serviceRequestId = form.find('#ServiceRequestId').val();

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function () {
                    $("#edit-note-modal").modal('toggle');
                    toastr.success("The note was updated successfully.");
                    refreshNote(serviceRequestId);
                }
            });
            e.preventDefault();
        });

        function refreshNote(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Dashboard/RefreshNote?serviceRequestId=")' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    $('#notes-' + serviceRequestId).replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);

        }

    </script>

    @Html.Partial("~/Views/ServiceRequestMessage/_ServiceRequestMessageJS.cshtml", Request.QueryString)
}
