@model Orvosi.Data.OTask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRole.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskPhase.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPhase.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guidance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guidance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBillable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBillable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMilestone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMilestone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependsOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependsOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDateDiff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDateDiff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCriticalPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCriticalPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
