@model IEnumerable<Orvosi.Data.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Responsible Role
        </th>
        <th>
            Phase
        </th>
        <th>
            Task
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guidance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            Included On Template Count
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetRole.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskPhase.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="wordwrap-off">
            @Html.DisplayFor(modelItem => item.Guidance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @item.ServiceRequestTemplateTasks.Count()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
