@model  WebApp.Models.Appointment.Index
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExamWorks Appointments</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="~/Appointment/Book" class="btn btn-primary">Book an Appointment</a>
        <div class="btn-group pull-right" data-toggle="buttons" role="group" aria-label="...">
            <label class="btn btn-default active">
                <input type="radio" id="Agenda" name="View" value="Agenda" />Agenda
            </label> 
            <label class="btn btn-default">
                <input type="radio" id="Week" name="View" value="Week" />Week
            </label> 
            <label class="btn btn-default">
                <input type="radio" id="Month" name="View" value="Month" />Month
            </label> 
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        File ID
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Physician
                    </th>
                    <th>
                        Docs
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">Open</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add Comment</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cancel</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href="#">AB0001</a>
                    </td>
                    <td>
                        <strong class="text-success">Accepted (@DateTime.UtcNow.AddDays(6).ToShortDateString())</strong>
                    </td>
                    <td>
                        @DateTime.UtcNow.ToShortDateString()
                    </td>
                    <td>
                        Dr. Zeeshan Waseem
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">Propose New Time</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Re-book</a></li>
                                <li><a href="#">Open</a></li>
                                <li><a href="#">Add Comment</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cancel</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href="#">ML0002</a>
                    </td>
                    <td>
                        <strong class="text-danger">Rejected (@DateTime.UtcNow.AddDays(4).ToShortDateString())</strong>
                    </td>
                    <td>
                        @DateTime.UtcNow.AddDays(-1).ToShortDateString()
                    </td>
                    <td>
                        Dr. Matthew Farago
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">Send Reminder</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Open</a></li>
                                <li><a href="#">Add Comment</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Cancel</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href="#">AD0003</a>
                    </td>
                    <td>
                        <strong class="text-warning">Not Responded</strong>
                    </td>
                    <td>
                        @DateTime.UtcNow.AddDays(-4).ToShortDateString()
                    </td>
                    <td>
                        Dr. Zeeshan Waseem
                    </td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">Open</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Request Addendum</a></li>
                                <li><a href="#">Request Paper Review</a></li>
                                <li><a href="#">Add Comment</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a href="#">ML0003</a>
                    </td>
                    <td>
                        <strong class="text-success">Completed (@DateTime.UtcNow.AddDays(28).ToShortDateString())</strong>
                    </td>
                    <td>
                        @DateTime.UtcNow.AddDays(-4).ToShortDateString()
                    </td>
                    <td>
                        Dr. Zeeshan Waseem
                    </td>
                    <td>
                        4
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>