@model Orvosi.Data.ServiceRequestTemplateTask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceRequestTemplateTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceRequestTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRequestTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTask.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTask.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DueDateType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>
