@using Enums = ImeHub.Models.Enums;
@model ListViewModel


@functions{
    string IsActive(Guid? selectedTeamMemberId, Guid teamMemberId)
    {
        return selectedTeamMemberId.HasValue && selectedTeamMemberId.Value == teamMemberId ? "active" : string.Empty;
    }
}
<div style="margin-bottom: 15px;">
    @if (Model.AuthorizedFeatures.Contains(Features.Team.Create))
    {
        <button class="btn btn-success" onclick="showNewTeamMemberForm()">New Team Member</button>
        <a class="btn btn-primary" href="~/Team/TeamRole">Manage Roles</a>
    }
</div>
<h3>Invites</h3>
<div id="teammemberinvite-container" class="list-group">
    @foreach (var invite in Model.TeamMemberInvites)
    {
        <a style="cursor:pointer;" onclick="navigateToInvite('@invite.Id')" class="list-group-item @IsActive(Model.SelectedTeamMemberId, invite.Id)">
            @invite.Name
            <div class="help-block">@invite.Role.Name</div>
            @if (invite.InviteStatusId == Enums.InviteStatus.NotSent)
            {
                <div class="text-danger">@invite.InviteStatus.Name</div>
            }
            else if (invite.InviteStatusId == Enums.InviteStatus.NotResponded)
            {
                <div class="text-muted">@invite.InviteStatus.Name</div>
            }
        </a>
        <button onclick="navigateToInvite('@invite.Id')"  class="btn btn-primary">Send</button>
    }
</div>
<div id="teammember-container" class="list-group">
    @foreach (var teamMember in Model.TeamMembers)
    {
        <a style="cursor:pointer;" onclick="navigateToTeamMember('@teamMember.Id')" class="list-group-item @IsActive(Model.SelectedTeamMemberId, teamMember.Id)">@teamMember.Name</a>
    }
</div>