@using Orvosi.Data
@using WebApp.Library

@model AvailableDay

@{
    var db = ContextPerRequest.db;
    var viewDataService = ContextPerRequest.ViewDataService;

    var roleId = User.Identity.GetRoleId();
    var userId = User.Identity.GetGuidUserId();
    var physicianId = User.Identity.GetUserContext().Id;
    var features = User.Identity.GetFeatures();

    var companySelectList = viewDataService.GetPhysicianCompanySelectList(physicianId);
    var addressSelectList = viewDataService.GetPhysicianAddressSelectList(physicianId);
}

<div class="lead">@ViewBag.PhysicianName</div>

<h2>Add Available Day</h2>

<form action="~/Availability/AddDay" method="post" class="form-horizontal">

    @Html.Hidden("PhysicianId", Model.PhysicianId)

    <div class="form-group">
        <label class="control-label col-md-2">Available Day</label>
        <div class="col-md-10">
            <div class="input-group date" style="width:100%" id="AvailableDayPicker">
                <input class="form-control" data-val="true" data-val-required="The Day field is required." id="AvailableDays" name="AvailableDays" size="16" type="text">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            @Html.ValidationMessage("Day", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Location</label>
        <div class="col-md-10">
            @Html.DropDownList("LocationId", new SelectList(addressSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("LocationId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Company</label>
        <div class="col-md-10">
            @Html.DropDownList("CompanyId", new SelectList(companySelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("CompanyId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-push-2 col-md-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $('#AvailableDayPicker').datepicker({
            startDate: '-1d',
            format: 'yyyy-mm-dd',
            multidate: true,
            datesDisabled: [@ViewBag.AvailableDaysCSV]
        });

    </script>
}