@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@using WebApp.Library

@model WebApp.ViewModels.AvailabilityViewModels.IndexViewModel

@{
    ViewBag.Title = "Availability";

    var userContext = User.Identity.GetUserContext();

    var yearsSelectList = DateRanges.GetYears()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();

    var monthsSelectList = DateRanges.GetMonths()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();
}

<h2>Availability <a href="~/Availability/AddDay/@userContext.Id" class="btn btn-success"><i class="fa fa-plus"></i></a></h2>

<a href="#availability-filter" data-toggle="collapse">show/hide filter</a>
<div class="row collapse" id="availability-filter">
    <div class="col-md-12">
        <form action="~/Availability/Index/" method="get" class="form-inline">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.DropDownList("Year", new SelectList(yearsSelectList, "Value", "Text", Model.FilterArgs.Year), "-- Year --", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
            <div class="form-group">
                @Html.DropDownList("Month", new SelectList(monthsSelectList, "Value", "Text", Model.FilterArgs.Month), "-- Month --", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </form>
    </div>
</div>
<p></p>
@if (Model.Months.Count <= 0)
{
    <div>No available days</div>
}
@foreach (var month in Model.Months)
{
    <div class="row o-th" style="background-color: aliceblue">
        <div class="col-md-12">
            <div class="h3">
                @month.Month.ToString("yyyy MMM")
            </div>
        </div>
    </div>

    foreach (var day in month.AvailableDays.OrderBy(c => c.Day))
    {
        <div class="row o-dashboard-tr">
            <div class="col-md-2" style="padding:15px 15px">
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default btn-sm" onclick="showAvailableDayAddressForm(@day.Id)">
                            <i class="fa fa-map-marker"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="showAvailableDayCompanyForm(@day.Id)">
                            <i class="fa fa-building"></i>
                        </button>
                        <button class="btn btn-default btn-sm" onclick="showAvailableDayResourceForm(@day.Id)">
                            <i class="fa fa-user"></i>
                        </button>
                    </div>
                </div>
                <div>

                    @if (day.AvailableSlots.Any() && day.AvailableSlots.All(a => a.ServiceRequestIds.Any()))
                    {
                        <div class="pull-left">@day.Day.ToString("dddd dd")<span>&nbsp;&nbsp;</span></div>
                        <i class="fa fa-check fa-lg text-success"></i>
                    }
                    else if (day.AvailableSlots.Any(a => a.ServiceRequestIds.Any()))
                    {
                        <div class="pull-left bg-warning">@day.Day.ToString("dddd dd")<span>&nbsp;&nbsp;</span></div>
                        <i class="fa fa-exclamation fa-lg text-warning"></i>
                    }
                    else
                    {
                        <form action="~/Availability/CancelDay" method="post">
                            @Html.Hidden("id", day.Id)
                            <div class="pull-left bg-danger">@day.Day.ToString("dddd dd")<span>&nbsp;&nbsp;</span></div>
                            <button type="submit" class="btn btn-link" style="padding: 0 0 0 0;"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                        </form>
                    }
                </div>
                <div>
                    @if (day.Address == null)
                    {
                        <span class="small text-muted">No Location</span>
                    }
                    else
                    {
                        <strong class="small">@string.Format("{0} - {1}", day.Address.Name, day.Address.City)</strong>
                    }
                </div>
                <div>
                    @if (day.Company == null)
                    {
                        <span class="small text-muted">No Company</span>
                    }
                    else
                    {
                        <strong class="small">@day.Company.Name</strong>
                    }
                </div>
                <div>
                    <div id="availableday-resource-container-@day.Id">
                        @Html.Partial("~/Views/Availability/_AvailableDayResourceList.cshtml", day.Resources)
                    </div>
                </div>
            </div>
            <div class="col-md-10" style="padding:15px 15px">
                <form action="~/Availability/AddSlots" method="post">
                    @Html.Hidden("AvailableDayId", day.Id)
                    <div class="bootstrap-timepicker">
                        <select name="StartHour">
                            <option value="7">7h</option>
                            <option value="8" selected>8h</option>
                            <option value="9">9h</option>
                            <option value="10">10h</option>
                            <option value="11">11h</option>
                            <option value="12">12h</option>
                            <option value="13">13h</option>
                            <option value="14">14h</option>
                            <option value="15">15h</option>
                            <option value="16">16h</option>
                            <option value="17">17h</option>
                            <option value="18">18h</option>
                            <option value="19">19h</option>
                            <option value="20">20h</option>
                            <option value="21">21h</option>
                        </select>
                        <select name="StartMinute">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <select name="Duration">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60" selected>1h</option>
                            <option value="75">1h15</option>
                            <option value="90">1h30</option>
                            <option value="105">1h45</option>
                            <option value="120">2h</option>
                        </select>
                        <select name="Repeat">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button type="submit" class="btn btn-default btn-sm">Add Slot(s)</button>
                    </div>
                </form>
                <ul class="list-inline" style="margin-bottom: 0;">
                    @foreach (var slot in day.AvailableSlots.OrderBy(c => c.StartTime))
                    {
                        <li>
                            <div class="pull-left" style="vertical-align: middle">
                                @if (slot.ServiceRequestIds.Any())
                                {
                                    <a href="~/ServiceRequest/Details/@slot.ServiceRequestIds.First()" target="_blank">
                                        <div class="pull-left text-muted">@slot.StartTime.ToString(@"hh\:mm") (@slot.Duration)</div>
                                        <i class="fa fa-check fa-lg" style="color:green;"></i>
                                    </a>
                                }
                                else
                                {
                                    <div style="display:inline-flex" class="bg-info">
                                        <button type="button" onclick="showBookingForm(@slot.Id)" class="btn btn-link pull-left" style="padding: 0 0 0 0;color:green;"><i class="glyphicon glyphicon-plus"></i></button>
                                        <div class="pull-left">
                                            <strong>@slot.StartTime.ToString(@"hh\:mm") (@slot.Duration)</strong>
                                        </div>
                                        <button type="button" onclick="cancelSlot(@slot.Id)" class="btn btn-link pull-left" style="padding: 0 0 0 0;"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}

@Html.Partial("ModalContainer")

@section Scripts {

    @Html.Partial("~/Views/Availability/_AvailabilityJS.cshtml")
    @Html.Partial("~/Views/ServiceRequest/BookingJS.cshtml")
    @Html.Partial("~/Views/Resources/_ResourceJS.cshtml")

    <script type="text/javascript">

        function availableSlotChanged(availableSlotId) {
            window.location.reload();
        }

        function availableDayAddressChanged(availableSlotId) {
            window.location.reload();
        }

        function availableDayCompanyChanged(availableSlotId) {
            window.location.reload();
        }

        function bookingChanged(serviceRequestId) {
            showRequiredResourcesForm(serviceRequestId);
        }

        function resourcesChanged(serviceRequestId) {
            var url = '@Url.Content("~/ServiceRequest/AssignRequiredResourcesToTasks")';
            $.post(
                url,
                {
                    serviceRequestId: serviceRequestId
                }
            ).done(function () {
                window.location.reload();
            });
        }

    </script>

}