@using Model
@using Model.Enums
@model WebApp.ViewModels.AvailabilityViewModels.IndexViewModel
@{
    ViewBag.Title = "Availability";
}

@{
    var db = new Orvosi.Data.OrvosiDbContext();

    ViewBag.Users = db.AspNetUsers
        .AsEnumerable()
        .Select(c => new SelectListItem()
        {
            Text = c.GetDisplayName(),
            Value = c.Id.ToString(),
            Group = new SelectListGroup() { Name = c.AspNetUserRoles.First().AspNetRole.Name }
        });

    ViewBag.Years = DateRanges.GetYears()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();

    ViewBag.Months = DateRanges.GetMonths()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();


}

@if (Model.CurrentUser.Id != Model.SelectedUser.Id)
{
    <div class="lead">@Model.SelectedUser.GetDisplayName()</div>
}

<h2>Availability</h2>

<div class="row">
    <div class="col-md-12">
        <form action="~/Availability/Index/" method="get" class="form-inline">
            @if (Model.CurrentUser.AspNetUserRoles.First().AspNetRole.RoleCategoryId == RoleCategory.Admin)
            {
                <div class="form-group">
                    @Html.DropDownList("PhysicianId", new SelectList(ViewBag.Users, "Value", "Text", Model.FilterArgs.PhysicianId), new { @class = "form-control" })
                </div>
            }
            <div class="form-group">
                @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Value", "Text", Model.FilterArgs.Year.Value.ToString()), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("Month", new SelectList(ViewBag.Months, "Value", "Text", Model.FilterArgs.Month.Value.ToString()), new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>
<p />
<div class="row">
    <div class="col-md-12">
        <a href="~/Availability/AddDay/@Model.SelectedUser.Id" class="btn btn-primary">Add Available Day(s)</a>
    </div>
</div>
<h3>@Model.FilterArgs.FilterDate.ToString("yyyy MMMM")</h3>
@foreach (var day in Model.AvailableDays.OrderBy(c => c.Day))
{
    <p></p>
    <div class="row">
        <div class="col-md-2">
            <div>
                <div class="pull-left">@day.Day.ToString("dddd dd")</div>
                <form action="~/Availability/CancelDay" method="post">
                    @Html.Hidden("id", day.Id)
                    <button type="submit" @(day.AvailableSlots.FirstOrDefault(c => c.ServiceRequests.Count() > 0) != null ? "disabled": string.Empty) class="btn btn-link @(day.AvailableSlots.FirstOrDefault(c => c.ServiceRequests.Count() == 0) != null ? "disabled": string.Empty)" style="padding: 0 0 0 0"><i class="glyphicon glyphicon-remove"></i></button>
                </form>
            </div>
            <span>
                @if (day.LocationId == null)
                {
                    <span class="small text-muted">No Location</span>
                }
                else
                {
                    <strong class="small">@string.Format("{0} - {1}", day.Address.Name, day.Address.City)</strong>
                }
            </span>
            <span> | </span>
            <span>
                @if (day.CompanyId == null)
                {
                    <span class="small text-muted">No Company</span>
                }
                else
                {
                    <strong class="small">@day.Company.Name</strong>
                }
            </span>
        </div>
        <div class="col-md-10">
            <form action="~/Availability/AddSlots" method="post">
                @Html.Hidden("AvailableDayId", day.Id)
                <div class="bootstrap-timepicker">
                    <select name="StartHour">
                        <option value="7">7h</option>
                        <option value="8" selected>8h</option>
                        <option value="9">9h</option>
                        <option value="10">10h</option>
                        <option value="11">11h</option>
                        <option value="12">12h</option>
                        <option value="13">13h</option>
                        <option value="14">14h</option>
                        <option value="15">15h</option>
                        <option value="16">16h</option>
                        <option value="17">17h</option>
                        <option value="18">18h</option>
                        <option value="19">19h</option>
                        <option value="20">20h</option>
                        <option value="21">21h</option>
                    </select>
                    <select name="StartMinute">
                        <option value="00">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                    <select name="Duration">
                        <option value="30">30</option>
                        <option value="60" selected>1h</option>
                        <option value="90">1h30</option>
                        <option value="120">2h</option>
                    </select>
                    <select name="Repeat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <button type="submit" class="btn btn-default btn-sm">Add Slot(s)</button>
                </div>
            </form>
            <ul class="list-inline" style="margin-bottom: 0;">
                @foreach (var slot in day.AvailableSlots.OrderBy(c => c.StartTime))
                {
                    <li>
                        <div class="pull-left">@slot.StartTime.ToString(@"hh\:mm") (@slot.Duration)</div>
                        <div class="pull-left" style="vertical-align: middle">
                            <form action="~/Availability/CancelSlot" method="post">
                                @Html.Hidden("id", slot.Id)
                                <button type="submit" @(slot.ServiceRequests.Count() > 0 ? "disabled": string.Empty) class="btn btn-link @(slot.ServiceRequests.Count() > 0 ? "disabled": string.Empty)" style="padding: 0 0 0 0"><i class="glyphicon glyphicon-remove"></i></button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
