@model ListViewModel

<div class="row">
    @foreach (var service in Model.Services)
    {
        <div class="col-sm-4 col-md-3">
            <div>
                <div class="h4" style="margin-bottom:0;">
                    <a style="cursor:pointer;" onclick="showEditServiceForm('@(service.Id)')">@service.Name</a>
                    <button type="button" class="btn btn-link" onclick="removeService('@(service.Id)')"><i class="fa fa-times text-danger"></i></button>
                </div>
                <div class="text-muted">
                    Code: @service.Code<br />
                    Price: @service.Price
                </div>
            </div>
        </div>
    }
</div>