@using WebApp.Library.Extensions
@using Orvosi.Shared.Enums
@model List<WebApp.ViewModels.ServiceRequestTaskViewModels.AssessmentTaskViewModel>

@*<div class="thumbnail alert">
    <div class="caption">
        <div class="h1 text-center">@Where(c => c.TaskStatusId == TaskStatuses.ToDo).Count().ToString()</div>
        <div class="text-muted text-center">Actionable Tasks</div>
    </div>
</div>
<div class="list-group">
    @foreach (var item in Where(c => c.TaskStatusId == TaskStatuses.ToDo))
    {
        <div class="list-group-item">
            @if (item.TaskStatusId != Tasks.SubmitInvoice)
            {
                <div class="pull-left" style="padding-right: 10px">
                    <form method="post" action="@(Url.Content("~/servicerequesttask/markascomplete"))">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.Id)
                        <button class="btn btn-sm btn-default btn-circle"></button>
                    </form>
                </div>
                <div class="pull-right">
                    <div class="btn btn-circle disabled" style="cursor: default; color: white; background-color: @item.PhysicianColorCode;">@item.PhysicianInitials</div>
                </div>
            }
            <div style="margin-left: 40px">
                <h4 class="list-group-item-heading"> <a href="~/ServiceRequest/Details/@item.ServiceRequestId">@item.TaskName</a></h4>
                <p class="list-group-item-text"><strong>Due:</strong> &nbsp; @item.DueDate.ToOrvosiDateFormat()</p>
                <p class="list-group-item-text">
                    <strong>Case:</strong>
                    <a href="~/ServiceRequest/Details/@item.ServiceRequestId">
                        @string.Format("{0} - {1}", item.ClaimantName, item.CompanyName)
                    </a>
                </p>
            </div>
        </div>
    }
</div>*@


@*<table class="table table-condensed table-hover table-bordered hidden">
    <tr>
        <th>Task</th>
        <th>Due Date</th>
        <th>Request</th>
    </tr>
    @foreach (var item in Where(c => c.TaskStatusId == TaskStatuses.ToDo))
    {
        <tr>
            <td>
                
                    @if (item.TaskStatusId != Tasks.SubmitInvoice)
                {
                        <div class="pull-left" style="padding-right: 10px">
                            <form method="post" action="@(Url.Content("~/servicerequesttask/markascomplete"))">
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.Id)
                                <button class="btn btn-sm btn-default btn-circle"></button>
                            </form>
                        </div>
                    }
                <a href="~/ServiceRequest/Details/@item.ServiceRequestId">
                    @item.TaskName
                </a>
            </td>
            <td>
                @item.DueDate.ToOrvosiDateFormat()
            </td>
            <td>
                <div title="@item.PhysicianDisplayName" class="pull-left btn btn-sm btn-circle disabled" style="cursor: default; color: white; background-color: @item.PhysicianColorCode;">@item.PhysicianInitials</div>
                <a style="padding-left: 10px" href="~/ServiceRequest/Details/@item.ServiceRequestId">
                    @string.Format(" {0} - {1}", item.ClaimantName, item.CompanyName)
                </a>
            </td>
        </tr>
    }
</table>*@
