@using Model.Enums
@using WebApp.Library.Extensions.Model
@using WebApp.Library.Helpers
@model WebApp.Areas.Admin.ViewModels.CompanyViewModels.IndexViewModel

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="nav nav-tabs">
    @Html.MenuLink("Companies", "Index", "Company", "Admin", null)
    @Html.MenuLink("ExamWorks", "Index", "Company", "Admin", ParentCompanies.Examworks)
    @Html.MenuLink("SCM", "Index", "Company", "Admin", ParentCompanies.SCM)
</ul>
<div class="margin-top: 20px">
    &nbsp;
</div>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Billing Email</th>
            <th>Reports Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>
                    <a href="~/Admin/Company/Edit/@item.Id">@item.Name</a>
                </td>
                <td>
                    @item.BillingEmail
                </td>
                <td>
                    @item.ReportsEmail
                </td>
                <td>
                    @item.Phone
                </td>
            </tr>
        }
    </tbody>
</table>
