@using Model.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orvosi Medical</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand top-nav"><div class="image-logo-sm"></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "Staff", staffId = ViewBag.UserId, lookAhead = 7 }, null)</li>
                        <li>@Html.ActionLink("Requests", "", "ServiceRequest", new { area = "" }, null)</li>
                    }
                </ul>
                @Html.Action("_LoginPartial", "Account", new { area = "" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer style="margin-top: 40px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright text-muted small">Orvosi Inc. &copy; @DateTime.Now.Year. All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline quicklinks small">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>