@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@using WebApp.Library

@model IndexViewModel

<div id="calendar-navigation-container">
    @Html.Partial("CalendarNavigation", Model.CalendarNavigation)
</div>

<div>
    <button class="btn btn-success" onclick="showAddDayForm()">Add Availability</button>
</div>

<div id="availability-container">
    @Html.Partial("Availability", Model.Availability)
</div>

@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts {

    @Html.Partial("CalendarNavigationJS")
    @Html.Partial("AvailabilityJS")
    @Html.Partial("~/Areas/Availability/Views/Availability/BookingJS.cshtml")
    

    <script type="text/javascript">

        $(document).ready(function () {
            // this is a function that is in CalendarNavigationJS (it inits bootstrap datepicker)
            initCalendarNavigation();
        });

        function calendarNavigationChanged(selectedDate) {

            refreshCalendarNavigation(selectedDate);

            refreshAvailability(selectedDate);
        }

        function availabilityChanged() {
            refreshAvailability();
        }

        function availableSlotChanged(availableSlotId) {
            refreshAvailability();
        }

        function availableDayAddressChanged(availableSlotId) {
            refreshAvailability();
        }

        function availableDayCompanyChanged(availableSlotId) {
            refreshAvailability();
        }

        function bookingChanged(serviceRequestId) {
            showRequiredResourcesForm(serviceRequestId);
        }

        function resourcesChanged(serviceRequestId) {
            var url = '@Url.Content("~/ServiceRequest/AssignRequiredResourcesToTasks")';
            $.post(
                url,
                {
                    serviceRequestId: serviceRequestId
                }
            ).done(function () {
                refreshAvailability();
            });
        }

        function refreshAvailability(selectedDate) {
            if (!selectedDate) {
                selectedDate = new URL(window.location).searchParams.get("SelectedDate");
            }

            let url = '@Url.Content("~/Availability/Home/Availability")';
            $.get(url,
            {
                selectedDate: selectedDate // this variable is set at the top of this script section
            })
            .done(function (result) {
                document.getElementById('availability-container').innerHTML = result;
            });
        }

        function refreshCalendarNavigation(date) {
            let url = '@Url.Content("~/Availability/Home/CalendarNavigation")';
            $.get(url,
            {
                selectedDate: date // this variable is set at the top of this script section
            })
            .done(function (result) {
                document.getElementById('calendar-navigation-container').innerHTML = result;

                // this is also called in the onready function to init the bootstrap datepicker
                initCalendarNavigation();

                let url = new URL(window.location);
                url.searchParams.set('SelectedDate', date);
                history.pushState({}, "", url);
            });

        }

    </script>

}