@model IEnumerable<WebApp.Areas.Admin.ViewModels.AddressViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Type
        </th>
        <th>
            Owner
        </th>
        <th>
            City
        </th>
        <th>
            Building Name
        </th>
        <th>
            Address
        </th>
    </tr>

@foreach (var item in Model.OrderBy(a => a.Address.AddressType.Name).ThenBy(a => a.Owner)) {
    <tr>
        <td>
            <nav>
                <ul class="nav nav-pills nav-condensed">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                        <ul class="dropdown-menu nav-uncondensed" role="menu">
                            <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = item.Address.Id })</li>
                            <li role="presentation">@Html.ActionLink("Details", "Details", new { id = item.Address.Id })</li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">@Html.ActionLink("Delete", "Delete", new { id = item.Address.Id })</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </td>
        <td>
            <strong>@item.Address.AddressType.Name</strong>
        </td>
        <td>
            <span>@item.Owner</span>
        </td>
        <td>
            @(item.Address.City_CityId == null ? string.Empty : item.Address.City_CityId.Name)
        </td>
        <td>
            <span class="text-muted">@item.Address.Name</span>
        </td>
        <td>
            @item.Address.Address1<br />
            @if (!string.IsNullOrEmpty(item.Address.Address2))
            {
                @item.Address.Address2<br />
            }
            @(item.Address.City_CityId == null ? string.Empty : item.Address.City_CityId.Name), @item.Address.PostalCode<br />
            @item.Address.Province.ProvinceName @item.Address.Country.Name<br />
            Timezone: @(item.Address.TimeZone.Name)
        </td>
    </tr>
}

</table>
