@model IEnumerable<Orvosi.Data.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Type
        </th>
        <th>
            City
        </th>
        <th>
            Building Name
        </th>
        <th>
            Address
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <nav>
                <ul class="nav nav-pills nav-condensed">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                        <ul class="dropdown-menu nav-uncondensed" role="menu">
                            <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                            <li role="presentation">@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </td>
        <td>
            <strong>@item.AddressType.Name</strong>
        </td>
        <td>
            @(item.City_CityId == null ? string.Empty : item.City_CityId.Name)
        </td>
        <td>
            <span class="text-muted">@item.Name</span>
        </td>
        <td>
            @item.Address1<br />
            @if (!string.IsNullOrEmpty(item.Address2))
            {
                @item.Address2<br />
            }
            @item.City, @item.PostalCode<br />
            @item.Province.ProvinceName @item.Country.Name
        </td>
    </tr>
}

</table>
