@model CalendarNavigationViewModel
<div style="display:flex; padding-top:10px; padding-bottom:10px;">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" onclick="navigateToMonth('@Model.PreviousMonth')" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
            <button type="button" onclick="navigateToMonth('@Model.NextMonth')" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="input-group date" style="width:100%" id="calendar-navigation-datepicker">
            <input class="form-control" 
                   data-val="true" 
                   data-val-required="The Day field is required." 
                   size="10" 
                   type="text" 
                   value="@Model.SelectedMonth">
            <input type="hidden" id="selected-month" name="SelectedDate" />
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <div class="input-group-btn">
            @Html.DropDownList("SelectedDate", new SelectList(Model.DaySheets, "Value", "Text", Model.SelectedDate), string.Empty, new { @class = "form-control", id = "daysheet-dropdownlist-selected" })
            <button type="button" onclick="navigateToDate('@Model.Today')" class="btn btn-default">Today</button>
        </div>
    </div>
</div>