@using WebApp.Library.Extensions
@using WebApp.Areas.Work.Views.DaySheet.ServiceRequest.TaskList
@using WebApp.Views.ServiceRequestMessage
@model IndexViewModel
@{
                /**/

                ViewBag.Title = "DaySheet";
}

<div id="calendar-navigation-container">
    @Html.Partial("CalendarNavigation", Model.CalendarNavigation)
</div>

<div id="daysheet-container">
    @Html.Partial("DaySheet", Model.DaySheet)
</div>

@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")


@section Scripts {

    <script src="@Url.Content("~/signalr/hubs")"></script>
    @Html.Partial("~/Views/Cancellation/CancellationJS.cshtml")
    @Html.Partial("~/Views/Reschedule/_RescheduleJS.cshtml")
    @Html.Partial("~/Views/Comment/_CommentJS.cshtml")
    @Html.Partial("~/Views/Teleconference/_TeleconferenceJS.cshtml")
    @if (!Model.DaySheet.PhysicianIsNotSelected)
    {
        var ids = Model.DaySheet.ServiceRequests.Any() ? Model.DaySheet.ServiceRequests.Select(c => c.ServiceRequestId).ToArray() : new int[0];
        <span>
            @Html.Partial("~/Views/ServiceRequestMessage/_ServiceRequestMessageJS.cshtml", new ServiceRequestMessageJSViewModel { ServiceRequestIds = ids })
        </span>
    }
    @Html.Partial("ServiceRequest/InvoiceList/InvoiceJS")
    @Html.Partial("ServiceRequest/TaskList/TaskListJS")
    @Html.Partial("ServiceRequest/ServiceRequestJS")
    @Html.Partial("CalendarNavigationJS")
    @Html.Partial("DaySheetJS", Model.DaySheet)

    <script>

        $(document).ready(function () {
            // this is a function that is in CalendarNavigationJS (it inits bootstrap datepicker)
            initCalendarNavigation();
        });

        // Event Handlers
        function calendarNavigationChanged(selectedDate) {

            refreshCalendarNavigation(selectedDate);
            refreshDaySheet(selectedDate);
        }

        // Private Functions
        function refreshCalendarNavigation(selectedDate) {
            let url = '@Url.Content("~/Work/DaySheet/CalendarNavigation")';
            $.get(url,
            {
                selectedDate: selectedDate // this variable is set at the top of this script section
            })
            .done(function (result) {
                document.getElementById('calendar-navigation-container').innerHTML = result;

                // this is also called in the onready function to init the bootstrap datepicker
                initCalendarNavigation();

                let url = new URL(window.location);
                url.searchParams.set('SelectedDate', selectedDate);
                history.pushState({}, "", url);
            });
        }

        function refreshDaySheet(selectedDate) {
            let url = '@Url.Content("~/Work/DaySheet/DaySheet")';
            $.get(url,
            {
                selectedDate: selectedDate
            })
            .done(function (result) {
                document.getElementById('daysheet-container').innerHTML = result;

                let url = new URL(window.location);
                url.searchParams.set('SelectedDate', selectedDate);
                history.pushState({}, "", url);
            });
        }

    </script>
}
