@using WebApp.Library.Extensions
@model ServiceRequestForm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Claimant Name
    </h4>
</div>
<div class="modal-body">
    <form id="servicerequest-form" autocomplete="off">
        <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(c => c.PhysicianId)

        <div class="form-group">
            <label class="control-label">Company</label>
            <div>
                @Html.DropDownList("CompanyId", new SelectList(Model.ViewData.Companies, "Id", "Name", Model.CompanyId), string.Empty, new { @class = "form-control", onchange = "refreshServiceRequestForm($('#servicerequest-form'))" })
                @Html.ValidationMessage("CompanyId", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Service</label>
            <div>
                @Html.DropDownList("ServiceId", new SelectList(Model.ViewData.Services, "Id", "Name", Model.ServiceId), string.Empty, new { @class = "form-control", onchange = "refreshServiceRequestForm($('#servicerequest-form'))" })
                @Html.ValidationMessage("ServiceId", "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="servicerequestform-caselist-container">
            <label class="control-label">Claimant</label>
            <div>
                @Html.Editor("ClaimantName", new { htmlAttributes = new { @class = "form-control search", onchange = "refreshServiceRequestForm($('#servicerequest-form'))" } })
                @Html.ValidationMessage("ClaimantName", "", new { @class = "text-danger" })
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="validateServiceRequestForm($('#servicerequest-form'))" class="btn btn-primary">Create</button>
            </div>

            <div id="servicerequestform-servicerequestid-modalform" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                We found similar claimants
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="help-block">
                                Select a case below to add this to it or just click create to create a new one.
                            </div>
                            <div style="height:100px; overflow:scroll; overflow-x:hidden;">
                                <ul id="servicerequestform-caselist" class="list list-unstyled">
                                    <li id="servicerequestform-caselist-item">
                                        <input type="radio" class="Id" name="ServiceRequestId" value="Id" /> <span class="ClaimantName"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="validateServiceRequestForm($('#servicerequest-form'))" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        @Html.HiddenFor(c => c.ServiceRequestId)

    </form>
</div>


<script type="text/javascript">
    var options = {
            valueNames: [
                { name: 'Id', attr: 'value' },
                'ClaimantName',
                'CompanyName'
            ],
        item: 'servicerequestform-caselist-item' //'<li><input type="radio" name="Id" value="Id"><span class="ClaimantName"></span> (<span class="CaseNumber"></span>) - <span class="CompanyName"></span></li>'
        };

    var values = @Html.Raw(Model.ViewData.Claimants.ToJson());

    var serviceRequestFormCaseList = new List('servicerequestform-caselist-container', options, values);
    serviceRequestFormCaseList.show(0, 15);

</script>
