@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequestMessage

<li id="service-request-message-@Model.Id">
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-1">
                <span title="@(!string.IsNullOrEmpty(Model.PostedBy.DisplayName) ? Model.PostedBy.DisplayName : "Unassigned")"
                      class="btn btn-sm btn-circle btn-circle-groupitem"
                      style="color: white; background-color: @(!string.IsNullOrEmpty(Model.PostedBy.ColorCode) ? Model.PostedBy.ColorCode : "red"); cursor: default;">
                    <span class="small">@(!string.IsNullOrEmpty(Model.PostedBy.Initials) ? Model.PostedBy.Initials : "?")</span>
                </span>
            </span>
            @*<span style="color: white; background-color:@Model.PostedBy.ColorCode; padding:2px;">@Model.PostedBy.Initials</span>*@
            <span class="col-md-8">@Model.Message</span>
            <span class="col-md-3 pull-right small text-muted">@Model.PostedDate.ToOrvosiDateTimeFormat()</span>
        </div>
    </div>
</li>
