@model IEnumerable<Orvosi.Data.ServiceRequestTemplateTaskRelated>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { ServiceRequestTemplateTaskId = ViewBag.ServiceRequestTemplateTaskId })
</p>
<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            Related Task
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceRequestTemplateTask_ServiceRequestTemplateTaskId.Task.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedTask.Task.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relationship)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
