<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- This forces the IE mode to the latest supported version by the browser and enables the use of google chrome frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- This seems to be the best practice and is the setting the HTML5Boilerplate template https://gist.github.com/3132542 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <!--
    To collect end user analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Note that it may take up to 15
    minutes to process and display information here after
    instrumenting and opening your web page.
    -->
    <script type="text/javascript">
        window.appInsights = { queue: [], applicationInsightsId: null, accountId: null, appUserId: null, configUrl: null, start: function (n) { function u(n) { t[n] = function () { var i = arguments; t.queue.push(function () { t[n].apply(t, i) }) } } function f(n, t) { if (n) { var u = r.createElement(i); u.type = "text/javascript"; u.src = n; u.async = !0; u.onload = t; u.onerror = t; r.getElementsByTagName(i)[0].parentNode.appendChild(u) } else t() } var r = document, t = this, i; t.applicationInsightsId = n; u("logEvent"); u("logPageView"); i = "script"; f(t.configUrl, function () { f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js") }); t.start = function () { } } };

        appInsights.start("41fd79ea-ca18-4138-a050-dc1e9f65cebd");
        appInsights.logPageView();
    </script>

    @Styles.Render("~/bundles/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar">Profile</span>
                        <span class="icon-bar">Portfolio</span>
                        <span class="icon-bar">Blog</span>
                    </a>
                    <div class="nav-collapse collapse">
                        <a class="brand" href="@Url.Content("~/")">fargs.ca</a>
                        <ul class="nav">
                            <li><a href="@Url.Content("~/Profile")"><i class="icon-user"></i>&nbsp;Profile</a></li>
                            <li><a href="@Url.Content("~/Portfolio")"><i class="icon-briefcase"></i>&nbsp;Portfolio</a></li>
                            <li><a href="@Url.Content("~/blog")"><i class="icon-book"></i>&nbsp;Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    
    <!-- FOOTER -->
    <hr />
    <div class="container">
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>
                &copy; @DateTime.Today.Year fargs.ca
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39170185-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
