@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img src="@Url.Content("~/Content/images/sm-Orvosi-Gradient-Colour.png")" alt="logo" class="center-block hidden-xs" />
        <img src="@Url.Content("~/Content/images/xs-Orvosi-Gradient-Colour.png")" alt="logo" class="center-block visible-xs-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="h1 hidden-xs">Time is money.</div>
        <div class="h1 hidden-xs">Fill your day with more of both.</div>
        <div class="lead">
            IMEs are rewarding but time consuming for physicians who choose to perform them. Orvosi Medical can help you use your IME time more efficiently, therefore more productively.
        </div>
        @if (!Request.IsAuthenticated)
        {
        <div class="h3 hidden-xs">Register now to see how it works &raquo;</div>
        }
    </div>
@if (!Request.IsAuthenticated) { 
    <div class="col-md-offset-1 col-md-5">
        @Html.Partial("_RegisterPartial")
    </div>
}
else
{
    <div class="col-md-offset-1 col-md-5">
        <h1>Welcome @(User.Identity.GetUserName())!</h1>
        <div>
            Your next assessment is in 2 days at 9am.
        </div>
    </div>
}
</div>

@if (HttpContext.Current.User.IsInRole("Admin"))
{
    <hr />
    @Html.Partial("_ServiceOverview")
}