@model RegisterUserFormModel
@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
<form method="post" action="~/Physicians/Invite/RegisterUserAsync">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(c => c.Email)
    @Html.HiddenFor(c => c.PhysicianId)
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <p class="form-control-static">@Model.Email</p>
    </div>
    <div class="form-group">
        <label for="Title" class="control-label">Title</label>
        <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" />
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="FirstName" class="control-label">First Name</label>
        <input type="text" class="form-control" name="FirstName" id="FirstName" value="@Model.FirstName" />
        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="LastName" class="control-label">Last Name</label>
        <input type="text" class="form-control" name="LastName" id="LastName" value="@Model.LastName" />
        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <fieldset title="Password">
        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            <input type="password" class="form-control" name="Password" id="Password" />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" />
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </fieldset>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
