@model Model.ServiceRequest

<h1>Service Request ID @Model.Id</h1>
<div class="lead">@Model.PhysicianDisplayName</div>

<div class="alert alert-warning">
    <div class="h4">
        Status is <div class="label label-warning">@Model.StatusName</div>
    </div>
</div>
<button class="btn btn-link">Mark as No Show and Close Request</button>
<h2>Assessment</h2>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                Case Preparation
            </div>
            <div class="panel-body">
                <span class="image-greencheckmark"></span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Document Review
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Intake Interview
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Examination
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
</div>
<h2>Final Report</h2>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Drafted
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Approved
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Submitted
            </div>
            <div class="panel-body">
                <button class="btn btn-link">Mark as Complete</button>
            </div>
        </div>
    </div>
</div>
<h2>Case Details</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Service</dt>
            <dd>@Model.ServiceName</dd>
            <dt>Company</dt>
            <dd>@Model.CompanyName</dd>
            <dt>Reference Id</dt>
            <dd>@Model.CompanyReferenceId</dd>
            <dt>Claimant Name</dt>
            <dd>@Model.ClaimantName</dd>
            <dt>Documents</dt>
            <dd>Open <code>Dropbox (Orvosi)/@Model.Title</code></dd>
        </dl>
    </div>
</div>
<h2>People</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Requested By</dt>
            <dd>@Model.RequestedByName</dd>
            <dt>Case Coordinator</dt>
            <dd>@Model.CaseCoordinatorName</dd>
            <dt>Intake Assistant</dt>
            <dd>@Model.IntakeAssistantName</dd>
            <dt>Document Reviewer</dt>
            <dd>@Model.DocumentReviewerName</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Schedule</h2>
        <dl class="dl-horizontal">
            <dt>Appointment Date</dt>
            <dd>@Model.AppointmentDate.Value.GetDateTimeFormats('D')[0]</dd>
            <dt>Start Time</dt>
            <dd>@Model.StartTime</dd>
            <dt>End Time</dt>
            <dd>@Model.EndTime</dd>
            <dt>Calendar Title</dt>
            <dd>@Model.CalendarEventTitle</dd>
            @*<dt>Effective Price</dt>
                <dd>
                    <a data-toggle="popover" data-trigger="click" title="Price Details" data-placement="left" data-content="@Html.Partial("_PriceDetails", Model)">
                        <strong class="text-success">@Model.EffectivePrice</strong>
                    </a>
                </dd>*@
        </dl>
    </div>
</div>
<h2>Location</h2>
<div class="row">
    <div class="col-md-12">
        <address>
            <strong>@Model.LocationName</strong><br>
            <strong>@Model.AddressName</strong><br>
            @Model.Address1<br>
            @if (!string.IsNullOrEmpty(Model.City))
            {
                @:@Model.City, @Model.ProvinceName @Model.PostalCode<br>
            }
        </address>
    </div>
</div>
<h2>Comments</h2>
<div class="row">
    <div class="col-md-12">
        No comments
    </div>
</div>
