@model WebApp.Areas.Calendar.Views.Calendar.Index

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
        margin: 0px; /*removes default style*/
        display: flex; /*enables flex content for its children*/
        box-sizing: border-box;
        font-family: Arial;
    }

    .column {
        height: 100%; /*allows both columns to span the full height of the browser window*/
        display: flex;
        flex-direction: column; /*places the left and right headers above the bottom content*/
        align-items:stretch;
    }

    #left {
        flex-shrink: 0; /*makes sure that content is not cut off in a smaller browser window*/
    }

    .top-left {
        flex-shrink: 0;
    }

    .top-right {
        flex-shrink: 0;
        display: inline-flex;
    }

    ul {
        display: inline-flex;
        list-style: none;
    }

    .bottom, .bottom-left, .bottom-right {
        flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
        overflow-y: auto; /*adds scroll to this container*/
    }

    .calendar-header-row {
        display:flex;
        padding-top: 2em;
        padding-bottom: 2em;
        background-color: black;
        color:whitesmoke;
    }

    .calendar-header-col-first {
        flex: 1;
        min-width: 75.594px;
    }
    .calendar-header-col {
        flex:1;
    }

    .calendar-month-container {
        display: flex;
        align-items: stretch;
    }
    .calendar-month {
        display: flex;
        align-self: center;
        flex: 1;
        max-width: 75.594px;
    }
    .calendar-week-container {
        flex: 1;
        display:flex;
        flex-direction: column;
    }
    .calendar-week {
        display: flex;
    }

    .calendar-day {
        flex-grow: 1;
        height: 100px;
        width: 100px;
        padding: 5px;
    }
    .calendar-day:hover {
        background-color: #e2e1e1;
        
    }

    .calendar-day-selected {
        background-color: #fbdddd !important;
    }
    
    .calendar-day:hover .calendar-day-header-menu {
        display: block;
    }

    .calendar-day-header {
        display:flex;
    }
    .calendar-day-header-title {
        font-weight: 700;
    }

    .calendar-day-header-menu {
        display: none;
        margin-left: auto;
    }

    .calendar-day-body {
        padding-top: 5px;
    }

    .not-working-day {
        color: #e2e1e1;
    }
    .even {
        background-color: white;
    }

    .odd {
        background-color: #f6f5f5;
    }

    .rotate {
        transform: rotate(-90deg);
        transform-origin: 50% 50% 0;
    }

    .caselink-row {
        display:flex;
    }

    .caselink-row:hover {
        background-color: #e2e1e1;
    }

    .caselink-cell {
        padding: 5px;
    }

    .caselink-physician {
        width: 30px;
    }

    .caselink-service {
        width: 40px;
    }

    .caselink-status {
        width: 30px;
        align-self: center;
    }

    .caselink-time {
        width: 80px;
        text-align: right;
    }

    .caselink-title {
        min-width: 100px;
    }

    .caselink-resources {
        min-width: 100px;
        text-align: right;
    }
</style>

<html>
    <head>
        <script src="https://use.fontawesome.com/3877822095.js"></script>
        @Styles.Render("~/Bundles/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @*@Scripts.Render("~/bundles/bootstrap")*@
    </head>
    <body>
        <div id="left" class="column">
            <div class="top-left">
                <div class="calendar-header-row">
                    <div class="calendar-header-col-first"></div>
                    <div class="calendar-header-col">Sun</div>
                    <div class="calendar-header-col">Mon</div>
                    <div class="calendar-header-col">Tue</div>
                    <div class="calendar-header-col">Wed</div>
                    <div class="calendar-header-col">Thu</div>
                    <div class="calendar-header-col">Fri</div>
                    <div class="calendar-header-col">Sat</div>
                </div>
            </div>
            <div class="bottom-left">
                <input type="hidden" value="@Model.AvailabilityDateRange.DateRange.FirstDayOfStartWeek" name="calendar-start-date" />
                <input type="hidden" value="@Model.AvailabilityDateRange.DateRange.FirstDayOfEndWeek" name="calendar-end-date" />
                <section>
                    @Html.Partial("AvailabilityDateRange", Model.AvailabilityDateRange)
                </section>
            </div>
        </div>
        <div id="right" class="column" style="padding-left:3em;">
            <div class="top-right"></div>
            <div class="bottom" id="day-container"></div>
        </div>
        <div id="right" class="column">
            <div class="top-right"></div>
            <div class="bottom-right" id="details-container"></div>
        </div>
        <script>

            function checkPreload() {
                var bottom = $('.bottom-left');
                if (bottom.scrollTop() + bottom.innerHeight() + 1 >= bottom[0].scrollHeight) {
                    var endDate = $('input[name="calendar-end-date"]');
                    $.get('@Url.Content("~/Calendar/Calendar/GetRange?startDate=")' + endDate.val())
                        .done(function (result) {
                            // update the end date from result
                            var newEndDate = $(result).attr('data-calendar-end-date')
                            endDate.val(newEndDate);
                            // append the result
                            bottom.append(result);
                        });
                }
                else if (bottom.scrollTop() <= 0) {

                    var old_height = bottom[0].scrollHeight;  //store document height before modifications
                    var old_scroll = bottom.scrollTop(); //remember the scroll position

                    var startDate = $('input[name="calendar-start-date"]');
                    $.get('@Url.Content("~/Calendar/Calendar/GetRange?startDate=")' + startDate.val() + '&getPrevious=true')
                        .done(function (result) {
                            // update the start date from result
                            var newStartDate = $(result).attr('data-calendar-start-date');
                            startDate.val(newStartDate);
                            // prepend the result
                            bottom.prepend(result);
                            // maintain scroll position
                            bottom.scrollTop(old_scroll + bottom[0].scrollHeight - old_height);
                        });
                }
            }

            $(function () {
                $('.bottom-left').on('scroll', _.throttle(checkPreload, 1000));
            });

            function daySelected(e, day) {
                $('.bottom-left').find('.calendar-day-selected').removeClass('calendar-day-selected');
                $(e).addClass('calendar-day-selected');

                $.get('@Url.Content("~/Calendar/Calendar/DayView")',
                    {
                        day: day
                    }).done(function (result) {
                        $('#day-container').html(result);
                    })
            }

            function selectAssessment(e, serviceRequestId) {
                assessmentSelected(e, serviceRequestId);
            }

            function assessmentSelected(e, serviceRequestId) {
                $('.bottom').find('.case-selected').removeClass('case-selected');
                $(e).addClass('case-selected');

                $.get('@Url.Content("~/Calendar/Task/GetAssessment")',
                    {
                        serviceRequestId: serviceRequestId
                    }).done(function (result) {
                        $('#details-container').html(result);
                    })
            }
        </script>
    </body>
</html>
