@model IndexViewModel

@if (Model.HasPendingInvites)
{
    <h2>Invites</h2>
    @Html.Partial("PendingInvitationList", Model.PendingInviteList)
}
<h2>Physician Portals</h2>
@Html.Partial("List", Model.List)
<h2>Requires Action</h2>
<div>
    task list of todo items here
</div>

@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts{

    @Html.Partial("IndexJS")
}