@model InvoiceViewModel

<div style="display:flex;">
    <div>Invoice Date</div>
    <div style="margin-left:auto;">@Model.InvoiceDate</div>
</div>
@if (Model.InvoiceDetails.Any())
{
    <hr class="hr-smaller-margins" />
}
@foreach (var item in Model.InvoiceDetails)
{
    <div style="display:flex;">
        <div>
            @if (Model.IsSent)
            {
                <span>@item.Description</span>
            }
            else
            {
                <a onclick="onShowEditInvoiceItemForm(@item.Id)" style="cursor:pointer;">@item.Description </a>
            }
            @if (item.HasDiscount)
            {
                <span class="text-danger">@item.DiscountDescription</span>
            }
            @if (!string.IsNullOrWhiteSpace(item.AdditionalNotes))
            { 
                <i class="fa fa-sticky-note" style="color:goldenrod;"></i> 
            }
            @if (!item.ServiceRequestId.HasValue)
            {
                <a onclick="onDeleteInvoiceItem(@item.Id , @Model.Id , @Model.ServiceRequestId)" style="cursor:pointer;"><i class="fa fa-remove text-danger"></i></a>
            }
        </div>
        <div style="margin-left:auto;">@item.Total</div>
    </div>
}
<hr class="hr-smaller-margins" />
<div style="display:flex;">
    <div>Sub Total</div>
    <div style="margin-left:auto;">@Model.SubTotal</div>
</div>
<div style="display:flex;">
    <div>Tax (@(Model.TaxRateHst))</div>
    <div style="margin-left:auto;">@Model.Hst</div>
</div>
<hr class="hr-smaller-margins" />
<div style="display:flex;">
    <div>Total</div>
    <div style="margin-left:auto;">@Model.Total</div>
</div>
<div style="display:flex;">
    <div>Amount Paid</div>
    <div style="margin-left:auto;">@Model.AmountPaid</div>
</div>
<div style="display:flex;">
    <div>Outstanding Balance</div>
    <div style="margin-left:auto;">@Model.OutstandingBalance</div>
</div>

