@using DanTup.Web
@model TeleconferenceListViewModel

<div class="panel panel-default panel-shadow">
    <div class="panel-heading" style="display:flex;">
        <span class="panel-title" style="margin-right:auto; width:auto;">
            Teleconferences
        </span>
        <span style="margin-left:auto;">
            Total: @Model.Teleconferences.Count()
        </span>
    </div>
    <div class="panel-body">
        <div style="display:flex;">
            @foreach (var note in Model.Notes)
            {
                <div class="alert alert-warning" style="width:200px;">
                    <div>@note.Message</div>
                    <div style="margin-top:4px;">@Html.Partial("_Initials2", note.PostedBy) @note.PostedDate.ToOrvosiDateFormat()</div>
                </div>
            }
        </div>
        @{ int i = 0; }
        @foreach (var teleconference in Model.Teleconferences)
        {
            if (i > 0)
            {
                <hr />
            }
            <div style="display:flex;">
                <span style="margin-right:auto;">
                    Teleconference Start Time:<br />
                    @teleconference.AppointmentDate.ToOrvosiDateFormat() @teleconference.StartTime.ToShortTimeSafe()
                </span>
                <span style="margin-left:auto;" class="text-right">
                    @if (teleconference.ResultSentDate.HasValue)
                    {
                        <i class="fa fa-check text-success"></i>
                        <span>Email sent: <strong>@teleconference.ResultSentDate.ToOrvosiDateTimeFormat()</strong></span><br />
                    }
                    @if (teleconference.ResultTypeId.HasValue)
                    { 
                        <span>Status: <strong>@teleconference.ResultType.Name</strong></span>
                    }
                    @if (!teleconference.ResultSentDate.HasValue)
                    {
                        <button class="btn btn-sm btn-default" onclick="showTeleconferenceResultForm(@Model.ServiceRequestId, '@(teleconference.Id)')">Send Result</button>
                        <button class="btn btn-sm btn-default" onclick="showTeleconferenceForm(@Model.ServiceRequestId, '@(teleconference.Id)')">Edit</button>
                        <button class="btn btn-sm btn-danger" onclick="showDeleteTeleconferenceForm('@teleconference.Id')">Delete</button>
                    }
                </span>
            </div>
            i++;
        }
    </div>
</div>

