@using DanTup.Web
@model TeleconferenceDayListViewModel

@if (Model.Teleconferences.Any())
{
    <div class="panel panel-default panel-shadow">
        <div class="panel-heading" style="display:flex;">
            <span class="panel-title" style="margin-right:auto; width:auto;">
                Teleconferences
            </span>
            <span style="margin-left:auto;">
                Total: @Model.Teleconferences.Count()
            </span>
        </div>
        <div class="panel-body">
            @{ int i = 0; }
            @foreach (var teleconference in Model.Teleconferences.OrderBy(t => t.StartTime))
            {
                if (i > 0)
                {
                    <hr />
                }
                <div style="display:flex;">
                    <div style="margin-right:auto;">
                        Teleconference Start Time:<br />
                        @teleconference.AppointmentDate.ToOrvosiDateFormat() @teleconference.StartTime.ToShortTimeSafe()
                    </div>
                    <div style="margin:auto; cursor:pointer;" onclick="window.open('@Url.Content("~/ServiceRequest/Details/" + teleconference.ServiceRequestId)', '_Blank')">
                        <div style="padding-bottom:5px;">
                            <strong>
                                <a>@teleconference.ClaimantName (@(teleconference.ServiceRequestId)) </a>
                                @if (teleconference.CommentCount > 0)
                                {
                                    <i class="fa fa-sticky-note" style="color:goldenrod;"></i> @teleconference.CommentCount
                                }
                            </strong>
                        </div>
                        <div>
                            <small class="text-muted">@teleconference.Company.Name</small>
                            @if (!string.IsNullOrEmpty(teleconference.SourceCompany))
                            {
                                <small class="text-muted"> (@teleconference.SourceCompany)</small>
                            }
                        </div>
                        <div>
                            <small class="text-muted">@teleconference.Service.Name</small>
                            @if (teleconference.MedicolegalTypeId.HasValue)
                            {
                                <small class="text-muted"> (@teleconference.MedicolegalType.Name)</small>
                            }
                        </div>
                    </div>
                    <div style="margin-left:auto;" class="text-right">
                        @if (teleconference.ResultSentDate.HasValue)
                        {
                            <i class="fa fa-check text-success"></i>
                            <span>Email sent: <strong>@teleconference.ResultSentDate.ToOrvosiDateTimeFormat()</strong></span><br />
                        }
                        @if (teleconference.ResultTypeId.HasValue)
                        {
                            <span>Status: <strong>@teleconference.ResultType.Name</strong></span>
                        }
                        @if (!teleconference.ResultSentDate.HasValue)
                        {
                            <button class="btn btn-sm btn-default" onclick="showTeleconferenceResultForm(@teleconference.ServiceRequestId, '@(teleconference.Id)')">Send Result</button>
                            <button class="btn btn-sm btn-default" onclick="showTeleconferenceForm(@teleconference.ServiceRequestId, '@(teleconference.Id)')">Edit</button>
                            <button class="btn btn-sm btn-danger" onclick="showDeleteTeleconferenceForm('@teleconference.Id')">Delete</button>
                        }
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
}