@using WebApp.ViewModels.WorkViewModels
@using Newtonsoft.Json.Linq
@model TaskListViewModel

@helper ShowDependencies(Task task, byte level)
{
    <tr>
        @*<td width="100px">
                <span>
                    <button class="btn btn-default btn-link"><i class="glyphicon glyphicon-envelope"></i></button>
                </span>
                <span title="@(!string.IsNullOrEmpty(task.AssignedToDisplayName) ? task.AssignedToDisplayName : " Unassigned")"
                      class="btn btn-sm btn-circle disabled"
                      style="cursor: pointer; color: white; background-color: @(!string.IsNullOrEmpty(task.AssignedToColorCode) ? task.AssignedToColorCode : " red")">
                    <span class="small">@(!string.IsNullOrEmpty(task.AssignedToInitials) ? task.AssignedToInitials : "?")</span>
                </span>
            </td>*@
        <td>
            <div style="padding-left:@(level * 30)px;">
                @if (task.TaskType == "EVENT")
                {
                    <i class="fa fa-calendar fa-lg"></i>
                }
                else
                {
                    <span title="@(!string.IsNullOrEmpty(task.AssignedToDisplayName) ? task.AssignedToDisplayName : " Unassigned")"
                          class="btn btn-sm btn-circle disabled"
                          style="color: white; background-color: @(!string.IsNullOrEmpty(task.AssignedToColorCode) ? task.AssignedToColorCode : " red")">
                        <span class="small">@(!string.IsNullOrEmpty(task.AssignedToInitials) ? task.AssignedToInitials : "?")</span>
                    </span>
                }
                <span>
                    @task.Name
                </span>
                <span class="pull-right">
                    @Html.Partial("_TaskStatusLabel", task)
                </span>
            </div>
        </td>
    </tr>
{
    level++;
    foreach (var dependent in task.Dependencies)
    {
            @ShowDependencies(dependent, level)
    }
}
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Waiting On</h4>
        </div>
        <div class="modal-body">

            @foreach (var person in Model.People)
            {

                    if (person.Id != null)
                    {
                        <p>
                            <span title='@(!string.IsNullOrEmpty(person.DisplayName) ? person.DisplayName : "Unassigned")'
                                  class="btn btn-sm btn-circle btn-circle-groupitem disabled"
                                  style="color: white; background-color: @(!string.IsNullOrEmpty(person.ColorCode) ? person.ColorCode : "red")">
                                <span class="small">@(!string.IsNullOrEmpty(person.Initials) ? person.Initials : "?")</span>
                            </span>
                            <span>
                                @person.DisplayName to
                            </span>
                            @foreach (var item in person.Tasks)
                            {
                            <strong>
                                @item.Name.ToLower()
                            </strong>
                            }
                        </p>
                    }
                    else
                    {
                        <p>
                            @foreach (var item in person.Tasks.Where(t => t.TaskType == "EVENT"))
                            {
                                <span>
                                    <i class="fa fa-calendar fa-lg"></i>
                                    <strong>
                                        @item.Name.ToLower()
                                    </strong>
                                </span>
                            }
                        </p>
                    }
            }
            @*<table class="table table-condensed table-">
                    @ShowDependencies(Model.RootTask, 0)
                </table>*@
        </div>
    </div>
</div>


