@using WebApp.Library.Extensions
@using Orvosi.Shared.Enums
@{
    Layout = "~/Views/Work/_Layout.cshtml";

    ViewBag.Title = "AddOns";
}

<div id="additionals-container">
    @Html.Action("Additionals", "ServiceRequest")
</div>

@Html.Partial("ModalContainer")

@section Scripts {

    <script src="@Url.Content("~/signalr/hubs")"></script>
    @Html.Partial("~/Views/ServiceRequestTask/TaskListJS.cshtml")
    @Html.Partial("~/Views/ServiceRequest/CaseJS.cshtml")

    <script>

        function tasklistChanged(serviceRequestId) {
            let url = '@Url.Content("~/ServiceRequestTask/TaskList")';

            $.get(url, {
                serviceRequestId: serviceRequestId,
                viewOptions: '@ViewTarget.Additionals',
                options: '@TaskListViewModelFilter.CriticalPathOrAssignedToUser'
            })
            .done(function (result) {
                document.getElementById('tasklist-container').innerHTML = result;
            })
            .always(function () {
                //loader.hide();
            });
        }

        function serviceRequestStatusChanged(serviceRequestId) {

            // refresh the modal
            $.get('@Url.Content("~/ServiceRequest/Case")', {
                serviceRequestId: serviceRequestId,
                viewOptions: '@ViewTarget.Modal'
            })
            .done(function (result) {
                document.getElementById('case-container').innerHTML = result;
            });

            // refresh the grid
            $.get('@Url.Content("~/ServiceRequest/Additionals")')
            .done(function (result) {
                document.getElementById('additionals-container').innerHTML = result;
            });

            // refresh the week counts
        }

        function showCaseDetails(serviceRequestId) {
            window.open('@Url.Content("~/ServiceRequest/Details/")' + serviceRequestId, '_Blank');
        }

    </script>

}
