@using Fargs.Web.Models;

@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<td>
    <table class="table">
        @foreach (var item in @Model)
        {
            var url = System.IO.Path.Combine(Url.Content("~/blog/post/"), item.Name);
            <tr class="row">
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <td class="span3">
                        <img src="@System.IO.Path.Combine(ViewBag.ImageContainer, item.ImageName)" />
                        <div class="muted">
                            <small>Image courtesy of @item.ImageCreatedBy / @item.ImageProvidedBy</small>
                        </div>
                    </td>
                    <td class="span9">
                        <a href="@url"><h3>@item.Title</h3></a>
                        <p>
                            @item.Abstract
                        </p>
                        <div class="muted">
                            <small>Authored by <em>@item.Author</em> on <em>@item.PublishedDate.GetDateTimeFormats()[6]</em></small>
                        </div>
                    </td>  
                }
                else
                {
                    <td class="span9">
                        <a href="@url">@item.Title</a>
                    </td>
                }
            </tr>
        }
    </table>
    </div>
