@using Fargs.Web.Models;

@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<td>
    <table class="table">
        @foreach (var item in @Model)
        {
            var url = System.IO.Path.Combine(Url.Content("~/blog/post/"), item.Name);
            <tr class="row">
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <td class="span3">
                        <img src="@System.IO.Path.Combine(ViewBag.ImageContainer, item.ImageName)" title="Image courtesy of @item.ImageCreatedBy / @item.ImageProvidedBy" />
                    </td>
                    <td class="span9">
                        <a href="@url">
                            <h3>@item.Title</h3>
                        </a>
                        <p>
                            @item.Abstract
                        </p>
                        <div class="row muted">
                            <span class="span6">
                                <small>Authored by @item.Author on @item.PublishedDate.GetDateTimeFormats()[7]</small>
                            </span>
                            <span class="span2">
                                <span class="pull-right">
                                    <i class="icon-comment"></i>&nbsp;<small>@{ this.Write(item.Comments == null ? 0 : item.Comments.Count()); }
                                        comments</small>
                                </span>
                            </span>
                        </div>
                    </td>  
                }
                else
                {
                    <td class="span12">
                        <a href="@url">@item.Title</a>
                    </td>
                }
            </tr>
        }
    </table>
    </div>
