@using Features = ImeHub.Models.Enums.Features.PhysicianPortal
@using WebApp.Library.Extensions
@model IndexViewModel

<div style="display:flex; align-items:stretch; padding-bottom: 10px;">
    <div id="workflow-list-container">
        @Html.Partial("List", Model.List)
    </div>
    <div id="workflow-readonly-container" style="display:flex;">
        @if (Model.ReadOnly == null)
        {
            <div style="margin-left:20px;">select a workflow</div>
        }
        else
        {
            @Html.Partial("ReadOnly", Model.ReadOnly)
        }
    </div>
</div>
@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts{

    @Html.Partial("IndexJS")
}