@model WorkflowViewModel

<div style="margin-left:20px;">
    <div id="workflow-readonly-properties-container">
        <div class="form-group">
            <label class="control-label">Name</label>
            <div>
                <p class="form-control-static">@Model.Name</p>
            </div>
        </div>
    </div>
</div>
<div style="margin-left:20px;">
    <div id="workflow-readonly-workitems-container">
        <div style="margin-bottom:15px;">
            <button class="btn btn-success" onclick="showNewWorkItemForm('@Model.WorkflowId')">New Work Item</button>
        </div>
        <div class="list-group">
            @foreach (var wi in Model.WorkItems)
            {
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    @wi.Name
                </div>
                <div>@Html.Partial("LookupColorAndCode", wi.ResponsibleRole) <span class="text-muted">@wi.ResponsibleRole.Name</span></div>
                <div class="h5 small">
                    Depends On
                </div>
                @foreach (var dependency in wi.Dependencies)
                {
                    <div class="small text-muted">@dependency.Name</div>
                }
            </div>
            }
        </div>
    </div>
</div>
<div style="margin-left:20px;">
    <div id="workflow-readonly-dependencies-container">
        
    </div>
</div>