@using WebApp.Library.Extensions
@using System.Security.Claims
@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.ViewModels.ServiceRequestViewModels

@{
    IEnumerable<CaseSearchListItem> caseSearchList = new List<CaseSearchListItem>();
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var userId = User.Identity.GetGuidUserId();
        var context = new OrvosiDbContext();
        var list = context.ServiceRequests.AsQueryable();
        if (User.Identity.GetRoleId() != AspNetRoles.SuperAdmin && User.Identity.GetGuidUserId() != AspNetRoles.CaseCoordinator)
        {
            list = list.Where(sr => sr.PhysicianId == userId || sr.CaseCoordinatorId == userId || sr.DocumentReviewerId == userId || sr.IntakeAssistantId == userId);
        }
        caseSearchList = list
            .AsEnumerable()
            .Select(sr => new CaseSearchListItem()
            {
                Id = sr.Id,
                Claimant = sr.ClaimantName,
                Url = Url.Content("~/ServiceRequest/Details/" + sr.Id)
            });
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orvosi Medical</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/" class="navbar-brand top-nav"><div class="image-logo-sm"></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <div id="cases">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group dropdown">
                                        <input onfocus="dropdownSearch()" type="text" class="form-control search dropdown-toggle" placeholder="Search" data-toggle="dropdown">
                                        <ul id="case-list" class="list dropdown-menu scrollable-menu"></ul>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>@Html.ActionLink("Work", "", "Dashboard", new { area = "" }, null)</li>
                        if (User.Identity.GetRoleId() == AspNetRoles.SuperAdmin || User.Identity.GetRoleId() == AspNetRoles.CaseCoordinator || User.Identity.GetRoleId() == AspNetRoles.Physician)
                        {
                            <li>@Html.ActionLink("Invoices", "Dashboard", "Invoice", new { area = "" }, null)</li>
                        }
                        if (User.Identity.GetRoleId() == AspNetRoles.SuperAdmin || User.Identity.GetRoleId() == AspNetRoles.CaseCoordinator)
                        {
                            <li>@Html.ActionLink("Availability", "", "Availability", new { area = "" }, null)</li>
                            <li class="dropdown">
                                <a href="~/ServiceRequest" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cases <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/ServiceRequest">View List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/ServiceRequest/Availability">Book an Assessment</a></li>
                                    <li><a href="~/ServiceRequest/CreateAddOn">Create Paper Review/Addendum</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Request Templates", "", "ServiceRequestTemplate", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Companies", "", "Company", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Locations", "", "Location", new { area = "Admin" }, null)</li>
                                    <li>@Html.ActionLink("Services", "", "Service", new { area = "Admin", parentId = ServicePortfolios.Physician }, null)</li>
                                    <li>@Html.ActionLink("Service Catalogues", "", "ServiceCatalogue", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Invoices", "", "Invoice", new { area = "" }, null)</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Users", "", "User", new { area = "Admin", parentId = RoleCategories.Physician }, null)</li>
                                    <li>@Html.ActionLink("Roles", "", "Role", new { area = "Admin" }, null)</li>
                                </ul>
                            </li>

                        }
                    }
                </ul>
                @Html.Action("_LoginPartial", "Account", new { area = "" })
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-muted small pull-left">Orvosi Inc. &copy; @DateTime.Now.Year. All Rights Reserved</div>
                    <div class="pull-right">
                        <ul class="list-inline quicklinks small">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                            @*<li>
                                    @SystemTime.Now()
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">

        function dropdownSearch(){
            $('.dropdown-toggle').dropdown();
        }

        var options = {
            valueNames: [
                'Id',
                'Claimant',
                { attr: 'href', name: 'Url' },
            ],
            item: '<li><a class="Url" href=""><span class="Id"></span> - <span class="Claimant"></span></a></li>'
        };

        var values = @Html.Raw(caseSearchList.ToJson());

        var caseList = new List('cases', options, values);

        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "@Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</body>
</html>
