@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.Library
@using WebApp.Library.Extensions
@model IEnumerable<Orvosi.Data.ServiceRequest>

@if (Model.Count() == 0)
{
    <div>No tasks are assigned to you.</div>
}
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <strong>@item.ClaimantName</strong>
                        @Html.Partial("_ServiceStatusLabel", item.GetExaminationStatusId(SystemTime.Now()))
                        <div class="text-muted">
                            @item.Company.Name<br />
                            @item.Service.Name<br />
                            @(item.AppointmentDate.Value.Add(item.StartTime.Value).ToOrvosiDateTimeFormat())
                        </div>
                    </div>
                    @foreach (var task in item.ServiceRequestTasks.Where(srt => srt.GetStatus(SystemTime.Now()) == TaskStatuses.ToDo).ToList())
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="pull-left">
                                    @Html.Partial("_TaskButton", task)
                                </span>
                                <span>
                                    @task.TaskName
                                </span>
                                <span class="pull-right">
                                    @Html.Partial("_TaskActionMenu", task)
                                </span>
                            </div>
                        </div>
                        <span class="pull-right" style="margin-left: 5px;">
                            @(task.AspNetUser == null ? "?" : task.AspNetUser.FirstName)
                        </span>
                    }
                </div>
            </div>
        </li>
    }
</ul>