@model Model.Invoice
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    ViewBag.Title = "Document Footer";
}
<div class="row">
    <div class="col-sm-6">
        <img src="@string.Format("{0}{1}", Url.Content("~/Content/images/Physician Branding/"), Model.ServiceProviderLogoCssClass)" height="100" width="500" />
    </div>
    <div class="col-sm-6">
        <div class="pull-right well">
            <div>@Model.ServiceProviderAddress1</div>
            <div>@Model.ServiceProviderAddress2</div>
            <div>@(string.Format("{0}, {1} {2}", Model.ServiceProviderCity, Model.ServiceProviderProvince, Model.ServiceProviderCountry))</div>
            <div>@Model.ServiceProviderPostalCode</div>
            <div>@Model.ServiceProviderEmail</div>
            <div>@Model.ServiceProviderPhoneNumber</div>
        </div>
    </div>
</div>