@model Orvosi.Data.Invoice

<style type="text/css">
    .right-header {
        float: right;
        font-family: Arial;
        text-align: right;
    }
</style>

<div style="display:block;width:100%;">
    <div class="h1" style="float:left">@Model.ServiceProviderName</div>

    <div class="right-header">
        <strong>@Model.ServiceProviderName</strong>
        <p>
            <div class="small">@Model.ServiceProviderAddress1</div>
            <div class="small">@Model.ServiceProviderAddress2</div>
            <div class="small">@(string.Format("{0}, {1} {2}", Model.ServiceProviderCity, Model.ServiceProviderProvince, Model.ServiceProviderCountry))</div>
            <div class="small">@Model.ServiceProviderPostalCode</div>
        </p>
        <div><strong>E: </strong>@Model.ServiceProviderEmail</div>
        <div><strong>GST/HST: </strong>@Model.ServiceProviderHstNumber</div>
    </div>
</div>