@model AddServiceFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Add Service
    </h4>
</div>
<div class="modal-body">
    <form id="company-addservice-form" class="form-horizontal">
        <input type="hidden" name="Id" value="@Model.Id.ToString()" />
        <input type="hidden" name="CompanyId" value="@Model.CompanyId.ToString()" />

        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Name" value="@(!string.IsNullOrEmpty(Model.Name) ? Model.Name : Model.ServiceId.HasValue ? Model.SelectedServiceName : string.Empty)" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Price</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Price" value="@(Model.Price)" />
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="checkbox col-md-10">
                <label>
                    <input type="checkbox" name="IsTravelRequired" value="true" checked="@(Model.IsTravelRequired.HasValue ? Model.IsTravelRequired : Model.ServiceId.HasValue ? Model.SelectedServiceIsTravelRequired  : false)" />
                    Is Travel Required
                 </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" onclick="saveAddServiceForm('@Model.CompanyId', $('#company-addservice-form'))" class="btn btn-primary">Save</button>

</div>