@model ServiceFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Service
    </h4>
</div>
<div class="modal-body">
    <form id="company-service-form" class="form-horizontal">
        <input type="hidden" name="Id" value="@Model.Id.ToString()" />
        <input type="hidden" name="CompanyId" value="@Model.CompanyId.ToString()" />

        <div class="form-group">
            <label class="control-label col-md-2">Alias</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Model.Name } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Price Override</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = Model.Price } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    @if (Model.Id.HasValue)
    {
        <button type="submit" onclick="saveEditServiceForm('@Model.CompanyId', $('#company-service-form'))" class="btn btn-primary">Save</button>
    }
    else
    {
        <button type="submit" onclick="saveNewServiceForm('@Model.CompanyId')" class="btn btn-primary">Save</button>
    }
</div>