@model WebApp.Areas.Admin.ViewModels.PhysicianLicenceViewModels.IndexViewModel

@{
    ViewBag.Title = "Licences";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Licences for</h2>
<div class="h3 lead">@Model.User.DisplayName</div>

<p>
    <a class="btn btn-success" href="~/PhysicianLicence/Create"><i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            College
        </th>
        <th>
            Member Name
        </th>
        <th>
            Expiry Date
        </th>
        <th>
            Certificate Class
        </th>
    </tr>

    @foreach (var item in Model.Licences)
    {
        <tr>
            <td>
                <nav>
                    <ul class="nav nav-pills nav-condensed">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                            </a>
                            <ul class="dropdown-menu nav-uncondensed" role="menu">
                                <li role="presentation">@Html.ActionLink("Download", "Download", new { id = item.Id })</li>
                                <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                                <li role="presentation">@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                                <li role="separator" class="divider"></li>
                                <li role="presentation">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </td>
            <td>
                @item.CollegeName
                <span class="text-muted">@item.LongName</span>
            </td>
            <td>
                @item.MemberName
            </td>
            <td>
                @item.ExpiryDate
            </td>
            <td>
                @item.CertificateClass
            </td>
        </tr>
    }

</table>

