<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orvosi - Developers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Content("~")"><img src="@Url.Content("~/Content/images/logo-small.png")" class="navbar-brand" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "Developers" }, null)</li>
                        <li>@Html.ActionLink("API", "About", "Home", new { area = "Developers" }, null)</li>
                        <li>@Html.ActionLink("Design", "Design", "Home", new { area = "Developers" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <section class="container body-content">
        @RenderBody()
    </section>
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - Orvosi</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
