@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@using WebApp.ViewDataModels
@using LinqKit
@model CaseViewModel

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
    var features = identity.GetFeatures();
    var filter = ViewData.ViewFilter_Get();
    var target = ViewData.ViewTarget_Get();

    TaskViewModel task = null;
    if (target == ViewTarget.Details)
    {
        int selectedTask;
        var qs = this.Request.QueryString.Get("selectedTask");
        if (int.TryParse(qs, out selectedTask))
        {
            task = Model.Tasks.SingleOrDefault(c => c.Id == selectedTask);
        }
    }
}

<div class="panel panel-default panel-shadow">
    <div class="panel-body">
        <div style="display:flex; align-items:center;">
            <div id="case-container-@Model.ServiceRequestId" style="margin-right:auto;">
                @Html.Partial("~/Views/ServiceRequest/Case.cshtml", Model)
            </div>
            <span id="actionmenu-container-@Model.ServiceRequestId" style="margin:auto;">
                @Html.Partial("~/Views/ServiceRequest/ActionMenu.cshtml", Model)
            </span>
            <span style="margin-left:auto;">
                @Html.Partial("~/Views/ServiceRequest/PhysicianLabel.cshtml", Model.Physician)
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default panel-shadow" id="notes-@Model.ServiceRequestId">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Notes @(Model.Comments.Any() ? string.Format(" ({0})", Model.Comments.Count()) : "" )</h3>
                <div class="pull-right">
                    <button class="btn btn-success btn-sm" type="button" onclick="showCommentForm(@(Model.ServiceRequestId))">
                        <i class="fa fa-plus"></i> New Note
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div id="comment-list-container-@Model.ServiceRequestId">
                    @Html.Partial("~/Views/Comment/_List.cshtml", CommentListViewModel.FromCaseViewModel.Invoke(Model))
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-shadow">
            <div class="panel-heading">
                <ul class="nav nav-tabs" role="tablist" id="tabs-@Model.ServiceRequestId">
                    @if (Model.HasAppointment)
                    {
                        <li role="presentation" class="@(Model.HasAppointment ? "active" : "")"><a href="#appointment-@Model.ServiceRequestId" aria-controls="Appointment" role="tab" data-toggle="tab">Appointment</a></li>
                    }
                    @if (Model.HasReportDeliverable)
                    {
                        <li role="presentation" class="@(!Model.HasAppointment ? "active" : "")"><a href="#report-@Model.ServiceRequestId" aria-controls="Report" role="tab" data-toggle="tab">Report</a></li>
                    }
                    <li role="presentation"><a href="#team-@Model.ServiceRequestId" aria-controls="Team" role="tab" data-toggle="tab">Team @(Model.Resources.Any() ? string.Format(" ({0})", Model.Resources.Count()) : "" )</a></li>
                </ul>
            </div>
            <div class="panel-body tab-content">
                @if (Model.HasAppointment)
                {
                    <div role="tabpanel" class="tab-pane @(Model.HasAppointment ? "active" : "")" id="appointment-@Model.ServiceRequestId">
                        <div id="appointment-container-@Model.ServiceRequestId">
                            <div class="section-collapse">
                                <p>
                                    <strong>@Model.AppointmentDate.Value.ToString("ddd MMM dd yyyy")</strong><br />
                                    <strong>@(Model.StartTime.HasValue ? Model.StartTime.Value.ToShortTimeSafe() : string.Empty)</strong><br />
                                </p>
                                <p>
                                    <small class="text-muted">@Model.Address.Name</small><br />
                                    <small>@Model.Address.Address1</small><br />
                                    <strong>@Model.Address.City</strong>
                                    <small>@Model.Address.ProvinceCode</small><br />
                                    <small>@Model.Address.PostalCode</small>
                                </p>
                            </div>
                        </div>
                        @if (features.Contains(Features.ServiceRequest_Google.CreateEvent))
                        {
                            <hr />
                            <h4>Calendar Integration</h4>
                            <div id="google-calendar-container-@Model.ServiceRequestId"></div>
                        }
                    </div>
                }
                <div role="tabpanel" class="tab-pane @(!Model.HasAppointment ? "active" : "")" id="report-@Model.ServiceRequestId">
                    <div class="section-collapse">
                        <h4>Due Date</h4>
                        @if (Model.DueDate.HasValue)
                        {
                            <p>@Model.DueDate.Value.ToString("ddd MMM dd yyyy")</p>
                        }
                        else
                        {
                            <p>Not Set</p>
                        }
                    </div>
                    @if (features.Contains(Features.ServiceRequest_Box.ManageBoxFolder))
                    {
                        <hr />
                        <h4>Box Integration</h4>
                        @Html.Partial("_loader", "box-loader")
                        <div id="box-container-@Model.ServiceRequestId"></div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="team-@Model.ServiceRequestId">
                    @if (features.Contains(Features.ServiceRequest.AssignResources) && !Model.Resources.Any())
                    {
                        <div class="pull-right">
                            <a onclick="showRequiredResourcesForm(@Model.ServiceRequestId)" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Assign Required Resources</a>
                        </div>
                    }
                    else
                    {
                        <section id="resources-container-@Model.ServiceRequestId">
                            @Html.Partial("~/Views/Resources/_Resources.cshtml", Model.Resources)
                        </section>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    Task List
                </h3>
                <div class="btn-group pull-right">
                    <button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#new-task-form-container-@Model.ServiceRequestId" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-plus"></i> New Task
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="collapse" id="new-task-form-container-@Model.ServiceRequestId">
                    @Html.Partial("~/Views/ServiceRequestTask/NewTaskForm.cshtml", new TaskViewModel() { ServiceRequestId = Model.ServiceRequestId })
                </div>
                <div id="tasklist-container-@Model.ServiceRequestId">
                    @Html.Action("TaskList", "ServiceRequestTask", new TaskListArgs()
                    {
                        Area = "",
                        ServiceRequestId = Model.ServiceRequestId,
                        ViewFilter = filter,
                        ViewTarget = target
                    })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @if (features.Contains(Features.ServiceRequest_Teleconference.Read))
        {
            <div id="teleconference-list-@Model.ServiceRequestId">
                @if (Model.Teleconferences.Any())
                {
                    @Html.Partial("~/Views/Teleconference/_List.cshtml", TeleconferenceListViewModel.FromCaseViewModel.Invoke(Model))
                }
            </div>
        }
        @if (features.Contains(Features.Accounting.ViewInvoice))
        {

            <div class="panel panel-default panel-shadow">
                <div class="panel-heading">

                    <h3 class="panel-title pull-left">
                        Invoices
                    </h3>
                    @if (features.Contains(Features.Accounting.CreateInvoice))
                    {
                        <div class="pull-right">
                            @Html.Partial("~/Views/ServiceRequest/InvoiceListMenu.cshtml", Model.ServiceRequestId)
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    @if (Model.Comments.Where(c => c.CommentTypeId == CommentTypes.Invoice).Any())
                    {
                        <div style="display:flex;">
                            @foreach (var comment in Model.Comments.Where(c => c.CommentTypeId == CommentTypes.Invoice))
                            {
                                <div class="alert alert-warning" title="Posted on @comment.PostedDate.ToOrvosiDateTimeFormat()">
                                    <span>
                                        @Html.Markdown(comment.Message)
                                    </span>
                                </div>
                            }
                        </div>
                    }
                    <div id="invoice-list-container-@Model.ServiceRequestId">
                        @Html.Action("GetInvoices", "ServiceRequest", new { serviceRequestId = Model.ServiceRequestId })
                    </div>
                </div>
            </div>
        }
        @if (features.Contains(Features.ServiceRequest.LiveChat))
        {
            <div class="panel panel-default panel-shadow">
                <div class="panel-heading">
                    Live Chat
                </div>
                <div class="panel-body">
                    <div id="livechat-container-@Model.ServiceRequestId">
                        @Html.Partial("~/Views/ServiceRequestMessage/_Discussion.cshtml", Model)
                        @Html.Partial("~/Views/ServiceRequestMessage/_PostMessage.cshtml", Model)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
