@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@model CaseViewModel

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
    var features = identity.GetFeatures();
}

<span class="btn-group">
    <a class="btn btn-default" target="_blank" href="@Model.BoxCaseFolderURL" title="Open Case Folder"><i class="fa fa-folder-open-o fa-lg"></i> Case Folder</a>
</span>
<div class="btn-group">
    @if (features.Contains(Features.ServiceRequest.ToggleNoShow))
    {
        if (Model.CanBeNoShow)
        {
            if (Model.CancellationViewModel.IsNoShow)
            {
                <button type="button" onclick="noShow(@Model.ServiceRequestId , false)" class="btn btn-default btn-danger" style="border:0;"><i class="fa fa-check-square-o"></i> No Show</button>
            }
            else
            {
                <button type="button" onclick="noShow(@Model.ServiceRequestId , true)" class="btn btn-default" style="border:0;"><i class="fa fa-square-o"></i> No Show</button>
            }
        }
    }
    <ul class="dropdown-menu"></ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More Actions <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        @if (features.Contains(Features.ServiceRequest.Cancel))
    {
        if (Model.CanBeUncancelled)
        {
            <li><a onclick="undoCancellation(@Model.ServiceRequestId)" title="Undo Cancellation"><i class="fa fa-ban"></i> Undo Cancellation</a></li>
            <li><a onclick="showDeleteRequest(@Model.ServiceRequestId)" title="Delete"><i class="fa fa-trash"></i> Delete</a></li>
    }
    else if (Model.CanBeCancelled)
    {
        <li><a onclick="showCancellationForm(@Model.ServiceRequestId)" title="Cancel"><i class="fa fa-ban"></i> Cancel</a></li>
}
}
        @if (features.Contains(Features.ServiceRequest.ToggleOnHold))
    {
        if (Model.ServiceRequestStatusId == ServiceRequestStatuses.OnHold)
        {
            <li><a onclick="onHold(@Model.ServiceRequestId , false)" title="Undo On Hold"><i class="fa fa-hand-paper-o"></i> Undo On Hold</a></li>
    }
    else
    {
        <li><a onclick="onHold(@Model.ServiceRequestId , true)" title="On Hold"><i class="fa fa-hand-paper-o"></i> On Hold</a></li>
}
}
        <li class="divider"></li>
        @if (features.Contains(Features.ServiceRequest_Teleconference.Create))
    {
        <li class="dropdown-header">Teleconferences</li>
        <li><a a onclick="showTeleconferenceForm(@Model.ServiceRequestId)" title="Add Teleconference"><i class="fa fa-phone"></i> Add Teleconference</a></li>
}
        <li class="dropdown-header">Case</li>
        @if (features.Contains(Features.ServiceRequest.Edit))
    {
        <li><a a onclick="showChangeClaimantForm(@Model.ServiceRequestId)" title="Change Claimant"><i class="fa fa-pencil"></i> Claimant</a></li>
}
        @if (features.Contains(Features.ServiceRequest.ChangeCompanyOrService))
    {
        <li><a onclick="showChangeCompanyForm(@Model.ServiceRequestId)" title="Change Company"><i class="fa fa-building"></i> Company</a></li>
}
        @if (features.Contains(Features.ServiceRequest.ChangeCompanyOrService))
    {
        <li><a onclick="showChangeServiceForm(@Model.ServiceRequestId)" title="Change Service"><i class="fa fa-medkit"></i> Service</a></li>
}
        @if (features.Contains(Features.ServiceRequest.Reschedule))
    {
        <li><a onclick="showChangeAddressForm(@Model.ServiceRequestId)" title="Change Address"><i class="fa fa-map-marker"></i> Address</a></li>
}
        <li class="dropdown-header">Tasks</li>
        @if (features.Contains(Features.ServiceRequest.ChangeProcessTemplate))
    {
        <li>
            <a href="~/ServiceRequest/ChangeProcessTemplate/@Model.ServiceRequestId" title="Change Workflow Template"><i class="fa fa-tasks"></i> Workflow Template</a>
        </li>
}
        @if (features.Contains(Features.ServiceRequest.BulkUpdateDueDates))
    {
        <li>
            <a onclick="showBulkUpdateDueDateForm(@(Model.ServiceRequestId))">
                <i class="fa fa-calendar"></i> Task Due Dates
            </a>
        </li>
}
        <li class="dropdown-header">Resources</li>
        @if (features.Contains(Features.ServiceRequest.AssignResources))
    {
        <li>
            <a onclick="showRequiredResourcesForm(@Model.ServiceRequestId)"><i class="fa fa-users"></i> Assign Required Resources</a>
        </li>
        <li>
            <a onclick="showResourceForm(@Model.ServiceRequestId)"><i class="fa fa-user"></i> Add Additional Resource</a>
        </li>
}
    </ul>
</div>

<div class="btn-group">
    <a title="Secure Docs" href="https://www.securedocs.ca/Login.aspx" target="_blank"><img alt="Secure Docs" src="~/Content/images/SendDocumentsSecurely.jpg" /></a>
</div>
