@using WebApp.Library.Extensions
@using WebApp.ViewModels.CalendarViewModels
@using LinqKit
@using Features = Orvosi.Shared.Enums.Features
@using WebApp.FormModels
@model DayViewModel
@{
    var roleId = User.Identity.GetRoleId();
    var userId = User.Identity.GetGuidUserId();
    var physicianId = User.Identity.GetUserContext().Id;
    var features = User.Identity.GetFeatures();
    var viewData = new ViewDataDictionary();
    viewData.ViewTarget_Set(ViewTarget.Agenda);
    viewData.ViewFilter_Set(TaskListViewModelFilter.CriticalPathOrAssignedToUser);
}
@if (Model != null)
{
    <div id="teleconference-list">
        @Html.Action("ListByDay", "Teleconference", new { day = Model.Day })
    </div>
    <div style="display:flex; flex-flow:row wrap; justify-content: flex-start;">
        <div style="padding:10px;">
            @foreach (var address in Model.Addresses)
            {
                <div>@address</div>
            }
        </div>
        <div class="text-muted" style="padding:10px;">
            @foreach (var company in Model.Companies)
            {
                <div>@company.ToString()</div>
            }
        </div>
    </div>
    foreach (var serviceRequest in Model.Cases)
    {
        <div class="row o-dashboard-tr">
            <div class="col-md-6 o-dashboard-td">
                <div style="display:flex;">
                    <div id="case-container-@serviceRequest.ServiceRequestId" style="margin-right:auto;">
                        @Html.Partial("~/Views/ServiceRequest/Case.cshtml", serviceRequest, viewData)
                    </div>
                    <div id="actionmenu-@serviceRequest.ServiceRequestId" style="margin-left:auto;">
                        @Html.Partial("~/Views/ServiceRequest/AgendaActionMenu.cshtml", serviceRequest)
                    </div>
                </div>
                <div id="tasklist-container-@serviceRequest.ServiceRequestId">
                    @Html.Action("TaskList", "ServiceRequestTask", new TaskListArgs
                    {
                        ServiceRequestId = serviceRequest.ServiceRequestId,
                        ViewTarget = ViewTarget.Agenda,
                        ViewFilter = TaskListViewModelFilter.CriticalPathOrAssignedToUser
                    })
                </div>
            </div>
            <div class="col-md-6 o-dashboard-td">
                <ul class="nav nav-tabs" role="tablist" id="tabs-@serviceRequest.ServiceRequestId">
                    <li role="presentation" class="active"><a href="#live-chat-@serviceRequest.ServiceRequestId" aria-controls="Live Chat" role="tab" data-toggle="tab">Live Chat</a></li>
                    <li role="presentation">
                        <a href="#notes-@serviceRequest.ServiceRequestId" aria-controls="Notes" role="tab" data-toggle="tab">Notes@(serviceRequest.Comments.Any() ? " (" + serviceRequest.Comments.Count() + ")" : "" )</a>
                    </li>
                    @if (features.Contains(Features.Accounting.CreateInvoice))
                    {
                        <li role="presentation"><a href="#invoices-@serviceRequest.ServiceRequestId" aria-controls="Invoices" role="tab" data-toggle="tab">Invoices</a></li>
                    }
                    <li role="presentation" id="case-tab-details-' + serviceRequestId">
                        <a href="#details-@serviceRequest.ServiceRequestId" aria-controls="Details" role="tab" data-toggle="tab">Details</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    @if (features.Contains(Features.Accounting.CreateInvoice))
                    {
                        <div role="tabpanel" class="tab-pane" id="invoices-@serviceRequest.ServiceRequestId">
                            <div class="panel panel-default panel-shadow">
                                <div class="panel-heading">

                                    <h3 class="panel-title pull-left">
                                        Invoices
                                    </h3>
                                    <div class="clearfix"></div>
                                    @if (features.Contains(Features.Accounting.CreateInvoice))
                                    {
                                        <div class="pull-right">
                                            @Html.Partial("~/Views/ServiceRequest/InvoiceListMenu.cshtml", serviceRequest.ServiceRequestId)
                                        </div>
                                    }
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    @if (serviceRequest.Comments.Where(c => c.CommentTypeId == CommentTypes.Invoice).Any())
                                    {
                                        <div style="display:flex;">
                                            @foreach (var comment in serviceRequest.Comments.Where(c => c.CommentTypeId == CommentTypes.Invoice))
                                            {
                                                <div class="alert alert-warning" title="Posted on @comment.PostedDate.ToOrvosiDateTimeFormat()">
                                                    <span>
                                                        @Html.Markdown(comment.Message)
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                    <div id="invoice-list-container-@serviceRequest.ServiceRequestId">
                                        @Html.Action("GetInvoices", "ServiceRequest", new { serviceRequestId = serviceRequest.ServiceRequestId })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div role="tabpanel" class="tab-pane active" id="live-chat-@serviceRequest.ServiceRequestId">
                        @Html.Action("Discussion", "ServiceRequestMessage", new { serviceRequestId = serviceRequest.ServiceRequestId })
                        @Html.Partial("~/Views/ServiceRequestMessage/_PostMessage.cshtml", serviceRequest)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="notes-@serviceRequest.ServiceRequestId">
                        <section id="section-case-comments-@serviceRequest.ServiceRequestId">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button class="btn btn-success btn-sm" type="button" onclick="showCommentForm(@(serviceRequest.ServiceRequestId))">
                                        <i class="fa fa-plus"></i> New Note
                                    </button>
                                </div>
                                <div id="comment-list-container-@serviceRequest.ServiceRequestId" class="panel-body">
                                    @Html.Partial("~/Views/Comment/_List.cshtml", CommentListViewModel.FromCaseViewModel.Invoke(serviceRequest))
                                </div>
                            </div>
                        </section>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="details-@serviceRequest.ServiceRequestId">
                        <section id="section-case-details-@serviceRequest.ServiceRequestId">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <form id="servicerequest-details-form-@serviceRequest.ServiceRequestId">
                                        @Html.Hidden("ServiceRequestId", serviceRequest.ServiceRequestId)
                                        @Html.Hidden("CompanyId", serviceRequest.Company.Id)
                                        <div class="form-group">
                                            <label class="control-label">
                                                Referral Source
                                            </label>
                                            <input type="text" name="SourceCompany" value="@serviceRequest.SourceCompany" class="form-control" />
                                            @Html.ValidationMessage("SourceCompany")
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm" type="button" onclick="saveCaseDetails($('#servicerequest-details-form-@serviceRequest.ServiceRequestId'))">
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p></p>
    <p><strong> No assessments today</strong></p>
}

