@using WebApp.Library.Extensions
@using WebApp.ViewModels.CalendarViewModels
@using Features = Orvosi.Shared.Enums.Features
@model DayViewModel
@{
    var roleId = User.Identity.GetRoleId();
    var userId = User.Identity.GetGuidUserId();
    var physicianId = User.Identity.GetUserContext().Id;
    var features = User.Identity.GetFeatures();
    var viewData = new ViewDataDictionary();
    viewData.ViewTarget_Set(ViewTarget.Agenda);
    viewData.ViewFilter_Set(TaskListViewModelFilter.CriticalPathOrAssignedToUser);
}
@if (Model != null)
{
    <div style="display:flex; flex-flow:row wrap; justify-content: flex-start;">
        <div style="padding:10px;">
            @foreach (var address in Model.Addresses)
                {
                <div>@address</div>
            }
        </div>
        <div class="text-muted" style="padding:10px;">
            @foreach (var company in Model.Companies)
                {
                <div>@company.ToString()</div>
            }
        </div>
    </div>
    foreach (var serviceRequest in Model.Cases)
    {
        <div class="row o-dashboard-tr">
            <div class="col-md-2">
                <div id="case-container-@serviceRequest.ServiceRequestId">
                    @Html.Partial("~/Views/ServiceRequest/Case.cshtml", serviceRequest, viewData)
                </div>
            </div>
            <div class="col-md-5 o-dashboard-td">
                <div id="actionmenu-@serviceRequest.ServiceRequestId">
                    @Html.Partial("~/Views/ServiceRequest/AgendaActionMenu.cshtml", serviceRequest)
                </div>
                <div id="tasklist-container-@serviceRequest.ServiceRequestId">
                    @Html.Action("TaskList", "ServiceRequestTask", new TaskListArgs
               {
                   ServiceRequestId = serviceRequest.ServiceRequestId,
                   ViewTarget = ViewTarget.Agenda,
                   ViewFilter = TaskListViewModelFilter.CriticalPathOrAssignedToUser
               })
                </div>
            </div>
            <div class="col-md-5 o-dashboard-td">
                <ul class="nav nav-tabs" role="tablist" id="tabs-@serviceRequest.ServiceRequestId">
                    <li role="presentation"><a href="#task-details-@serviceRequest.ServiceRequestId" aria-controls="Task Details" role="tab" data-toggle="tab">Task Details</a></li>
                    <li role="presentation" class="active"><a href="#live-chat-@serviceRequest.ServiceRequestId" aria-controls="Live Chat" role="tab" data-toggle="tab">Live Chat</a></li>
                    <li role="presentation"><a href="#notes-@serviceRequest.ServiceRequestId" aria-controls="Notes" role="tab" data-toggle="tab">Notes@(!string.IsNullOrWhiteSpace(serviceRequest.Notes) ? " (1)" : "" )</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="task-details-@serviceRequest.ServiceRequestId">
                        <p></p>
                        <div id="task-editform-container-@serviceRequest.ServiceRequestId"></div>
                        <p></p>
                        <div id="task-tools-container-@serviceRequest.ServiceRequestId"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="live-chat-@serviceRequest.ServiceRequestId">
                        @Html.Action("Discussion", "ServiceRequestMessage", new { serviceRequestId = serviceRequest.ServiceRequestId })
                        @Html.Partial("~/Views/ServiceRequestMessage/_PostMessage.cshtml", serviceRequest)
                    </div>
                    <div role="tabpanel" class="tab-pane" id="notes-@serviceRequest.ServiceRequestId">
                        @Html.Partial("~/Views/Note/_Note.cshtml", new WebApp.ViewModels.ServiceRequestViewModels.NoteViewModel() { ServiceRequestId = serviceRequest.ServiceRequestId, Note = serviceRequest.Notes, AllowEdit = true })
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p></p>
    <p><strong> No assessments today</strong></p>
}

