@model WebApp.ViewModels.ServiceRequestViewModels.AvailabilityForm

@{
    ViewBag.Title = "Create Booking - Availability";
    var db = new Orvosi.Data.OrvosiDbContext();
    ViewBag.Physicians = db.Physicians
        .AsEnumerable()
        .Select(c => new SelectListItem()
        {
            Text = c.AspNetUser.GetDisplayName(),
            Value = c.Id.ToString(),
            Group = new SelectListGroup() { Name = c.PhysicianSpeciality.Name }
        }).ToList();
}

<h3>Book an Exam</h3>
<h4>Step 1 of 2: Availability</h4>

<form action="@Url.Content("~/ServiceRequest/Availability")" method="post" class="form-horizontal">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Physician</label>
        <div class="col-md-10">
            @Html.DropDownListFor(c => c.PhysicianId, new SelectList(ViewBag.Physicians, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.PhysicianId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Appointment Date</label>
        <div class="col-md-10">
            <div class="input-group date" style="width:100%" id="AppointmentDatePicker">
                @Html.TextBoxFor(c => c.AppointmentDate, new { @class="form-control", size="16" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            @Html.ValidationMessageFor(c => c.AppointmentDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-push-2 col-md-10">
            <button id="GetAvailabilityButton" class="btn btn-primary">Get Availability</button>
        </div>
    </div>
</form>

@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $('#AppointmentDatePicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });

    </script>
}