@model CaseLinkViewModel
@{
    var viewTarget = ViewData.ViewTarget_Get();
}
<td style="vertical-align: text-top; width:40px;">
    <strong style="color: @Model.Service.ColorCode;">@Model.Service.Code</strong>
</td>
<td style="vertical-align: text-top; width:30px;">
    @if ((Model.NextTaskStatusForUser == null ? 0 : Model.NextTaskStatusForUser.Id) == TaskStatuses.Obsolete)
    {
        <span id="assessment-total-label" class="fa fa-frown-o" style="color: dodgerblue;" title="@(Model.CancellationViewModel.IsNoShow ? "No Show" : "Late Cancellation")">&nbsp;</span>
    }
    else if ((Model.NextTaskStatusForUser == null ? 0 : Model.NextTaskStatusForUser.Id) == TaskStatuses.ToDo)
    {
        <span id="assessment-total-label" style="color: red;" class="small label label-danger">&nbsp;</span>
    }
    else if ((Model.NextTaskStatusForUser == null ? 0 : Model.NextTaskStatusForUser.Id) == TaskStatuses.Waiting)
    {
        <span id="assessment-total-label" style="cursor: pointer;" class="small label label-warning">&nbsp;</span>
    }
    else if ((Model.NextTaskStatusForUser == null ? 0 : Model.NextTaskStatusForUser.Id) == TaskStatuses.OnHold)
    {
        <span id="assessment-total-label" style="cursor: pointer;" class="small label label-info">&nbsp;</span>
    }
    else
    {
        <span id="assessment-total-label" class="fa fa-check" style="color: green;">&nbsp;</span>
    }
</td>
@if (viewTarget == ViewTarget.Schedule)
{
    <td style="vertical-align: text-top; width:80px;">@Model.StartTime.ToShortTimeSafe()</td>
}
else if (viewTarget == ViewTarget.Additionals)
{
    <td style="vertical-align: text-top; width:200px;"><span class="text-muted">Due on</span> @Model.DueDate.ToOrvosiDateFormat()</td>
}
<td style="vertical-align: text-top; max-width: 50px;" class="wordwrap-off">
    @if (!string.IsNullOrEmpty(Model.Notes))
    {
        <i class="fa fa-sticky-note" style="color:goldenrod;"></i>
    }
    <a onclick="showCaseDetails(@Model.ServiceRequestId)">@Model.ClaimantName</a>
    <div>@Html.Partial("_ServiceStatusLabel2", Model.CancellationViewModel)</div>
</td>
<td style="vertical-align: text-top; width:100px;" class="text-right">
    @Html.Partial("~/Views/Shared/_Initials2.cshtml", Model.DocumentReviewer == null ? new LookupViewModel<Guid>() : Model.DocumentReviewer)
    @Html.Partial("~/Views/Shared/_Initials2.cshtml", Model.IntakeAssistant == null ? new LookupViewModel<Guid>() : Model.IntakeAssistant)
    @Html.Partial("~/Views/Shared/_Initials2.cshtml", Model.Physician == null ? new LookupViewModel<Guid>() : Model.Physician)
</td>