@model WebApp.ViewModels.ChangeCompanyViewModel

<form action="~/ServiceRequest/ChangeCompany" method="post">
    <h3>@Model.ClaimantName - @Model.ServiceRequestId</h3>
    <input type="hidden" name="ServiceRequestId" value="@Model.ServiceRequestId"/>
    <div class="form-group">
        <label class="control-label col-md-2">Company</label>
        <div class="col-md-10">
            @Html.DropDownList("CompanyId", new SelectList(Model.CompanySelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("CompanyId", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Service</label>
        <div class="col-md-10">
            @Html.DropDownList("ServiceId", new SelectList(Model.ServiceSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("ServiceId", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
