@model WebApp.ViewModels.ServiceRequestViewModels.CreateSuccessViewModel

<h1>Examination</h1>
<div class="alert alert-success">
    <strong>Great!</strong> Your exam was submitted successfully.
</div>
<dl>
    <dt>
        Title
    </dt>
    <dd>
        @Model.ServiceRequest.Title
    </dd>
</dl>
<h1>Dropbox Case Folder</h1>
<div class="alert alert-success">
    <strong>Great!</strong> The dropbox folder was created successfully.
</div>
<dl>
    <dt>Folder Name</dt>
    <dd>@Model.Folder.AsFolder.Name</dd>
    <dt>Folder Path</dt>
    <dd>@Model.Folder.AsFolder.PathLower</dd>
</dl>
<ol>
    @foreach (var item in Model.Members)
    {
        <li>@item.AsMemberInfo.Value.Profile.Name.DisplayName</li>
    }
</ol>
@if (Model.Errors.Count > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var item in Model.Errors)
            {
                <li>@item.ErrorMessage</li>
            }
        </ul>
    </div>
}
<a href="~/ServiceRequest" class="btn btn-default">Back to List</a>
<a href="~/ServiceRequest/Details/@Model.ServiceRequest.Id" class="btn btn-default">View Details</a>
<a href="~/ServiceRequest/ResourceAssignment/@Model.ServiceRequest.Id" class="btn btn-default">Assign Resources</a>

