@model WebApp.ViewModels.ServiceRequestViewModels.CreateViewModel

@{
    ViewBag.Title = "Create a Paper Review/Addendum - Details";
    
}

<h3>Create Paper Review/Addendum</h3>

<form action="@Url.Content("~/ServiceRequest/CreateAddOn")" method="post" class="form-horizontal">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Physician</label>
        <div class="col-md-6">
            @Html.DropDownList("PhysicianId", new SelectList(Model.PhysicianSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("PhysicianId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Company</label>
        <div class="col-md-6">
            @Html.DropDownList("CompanyId", new SelectList(Model.CompanySelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("CompanyId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Service</label>
        <div class="col-md-6">
            @Html.DropDownList("ServiceId", new SelectList(Model.ServiceSelectList, "Value", "Text", new { }), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("ServiceId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Claimant</label>
        <div class="col-md-6">
            @Html.Editor("ClaimantName", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("ClaimantName", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Due Date</label>
        <div class="col-md-6">
            <div class="input-group date" style="width:100%" id="DueDatePicker">
                @Html.TextBox("DueDate", "", new { @class = "form-control", size = "16" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            @Html.ValidationMessage("DueDate", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Company Reference Id</label>
        <div class="col-md-6">
            @Html.Editor("CompanyReferenceId", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("CompanyReferenceId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Case Coordinator</label>
        <div class="col-md-6">
            @Html.DropDownList("CaseCoordinatorId", new SelectList(Model.StaffSelectList, "Value", "Text"), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("CaseCoordinatorId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Process Template</label>
        <div class="col-md-6">
            @Html.DropDownList("ServiceRequestTemplateId", new SelectList(Model.ServiceRequestTemplateSelectList, "Value", "Text"), string.Empty, new { @class = "form-control" })
            @Html.ValidationMessage("ServiceRequestTemplateId", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-push-2 col-md-6">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {

            $('#DueDatePicker').datepicker({
                startDate: '-1d',
                format: 'yyyy-mm-dd',
                autoclose: true
            });

            //var dueDate = $('#DueDate').datepicker();
            $('#AppointmentDatePicker').datepicker({
                startDate: '-1d',
                format: 'yyyy-mm-dd',
                autoclose: true
            });

            $('#RequestedDatePicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

    </script>
}
