@using WebApp.Library.Extensions.Model
@using WebApp.Library;
@using e = Orvosi.Shared.Enums
@using Box.V2.Models
@model WebApp.ViewModels.ServiceRequestViewModels.DetailsViewModel

<p>
    <ul class="list-unstyled">
        <li>
            <a href="@(Request.UrlReferrer == null ? Url.Content("~/servicerequest") : Request.UrlReferrer.ToString())" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></a>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions <span class="caret"></span>
                </button>
                @if (Model.User.AspNetUserRoles.First().RoleId == e.Roles.CaseCoordinator || Model.User.AspNetUserRoles.First().RoleId == e.Roles.SuperAdmin)
                {
                    <ul class="dropdown-menu">
                        <li><a href="~/ServiceRequest/Edit/@Model.ServiceRequest.Id">Edit</a></li>
                        <li><a href="~/ServiceRequest/ResourceAssignment/@Model.ServiceRequest.Id">Resource Assignment</a></li>
                        @if (Model.ServiceRequest.CanBeRescheduled(SystemTime.Now()))
                        {
                            <li><a href="~/ServiceRequest/Reschedule/@Model.ServiceRequest.Id">Reschedule</a></li>
                        }

                        @if (Model.ServiceRequest.CanBeUncancelled(SystemTime.Now()))
                        {
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Undo Cancellation", "UndoCancel", new { id = Model.ServiceRequest.Id })</li>
                        }
                        else if (Model.ServiceRequest.CanBeCancelled(SystemTime.Now()))
                        {
                            <li>@Html.ActionLink("Cancel", "Cancel", new { id = Model.ServiceRequest.Id })</li>
                        }
                    </ul>
                }
            </div>

            <strong class="pull-right">Case @Model.ServiceRequest.Id</strong>

        </li>
    </ul>
</p>



<div class="row">
    <div class="col-sm-3">
        <h4><span class="btn btn-circle" style="color: white; background-color: @Model.ServiceRequest.Physician.AspNetUser.ColorCode">@Model.ServiceRequest.Physician.AspNetUser.GetInitials() </span> @Model.ServiceRequest.Physician.AspNetUser.GetDisplayName()</h4>
        <hr />
        <h3>@Model.ServiceRequest.ClaimantName</h3>
        <p class="small text-muted">@Model.ServiceRequest.Service.Name, @Model.ServiceRequest.Company.Name</p>
        @if (Model.ServiceRequest.IsClosed())
        {
            <span class="label label-danger">
                Closed
            </span>
        }
        @if (Model.ServiceRequest.Service.HasAppointment())
        {
            <div class="form-group">
                <label class="control-label">Appointment</label>
                <p class="form-control-static">
                    @Model.ServiceRequest.AppointmentDate.Value.ToString("ddd MMM dd yyyy")
                    <br />
                    <strong><small class="text-muted">@Model.ServiceRequest.Address.Name</small></strong><br />
                    <small><mark>@Model.ServiceRequest.Address.City</mark>, @Model.ServiceRequest.Address.Province.ProvinceCode</small>

                </p>
            </div>
        }
        @if (Model.ServiceRequest.Service.HasReportDeliverable())
        {
            <div class="form-group">
                <label class="control-label">Report</label>
                @if (Model.ServiceRequest.DueDate.HasValue)
                {
                    <p class="form-control-static">@Model.ServiceRequest.DueDate.Value.ToString("ddd MMM dd yyyy")</p>
                }
                else
                {
                    <p class="form-control-static">Not Set</p>
                }
            </div>
        }

        <div class="form-group">
            <label class="control-label">Assignments</label>
            <p class="form-control-static">
                @Html.Partial("_ResourceAssignments", Model.ServiceRequest)
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                @if (Model.ServiceRequest.CanNoShowBeUndone(SystemTime.Now()))
                {
                    <form action="~/ServiceRequest/ToggleNoShow" method="post">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id")
                        <span class="alert alert-danger"><i class="glyphicon gyphicon-info-sign"></i> This case was a <strong>No Show</strong></span>
                        <span><button class="btn btn-link">Undo</button></span>
                    </form>
                }
                else if (Model.ServiceRequest.CanBeNoShow(SystemTime.Now()))
                {
                    <form action="~/ServiceRequest/ToggleNoShow" method="post">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id")
                        <button class="btn btn-default">No Show</button>
                        <div class="help-block">Click to flag this case as a "No Show"</div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>My Tasks</strong>
                <div class="pull-right">
                    <form action="~/ServiceRequestTask/MarkAllComplete" method="post">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("serviceRequestId", Model.ServiceRequest.Id)
                        <input type="submit" value="Mark All Complete" class="btn btn-xs btn-primary" />
                    </form>
                </div>
            </div>
                   @Html.Action("TaskList", "ServiceRequestTask", new { serviceRequest = Model.ServiceRequest, currentUser = Model.User, collapsed = true })
   
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#AllTasks" data-toggle="collapse">All Tasks</a>
                @if (Model.User.AspNetUserRoles.First().RoleId == e.Roles.CaseCoordinator || Model.User.AspNetUserRoles.First().RoleId == e.Roles.SuperAdmin)
                {
                    <div class="pull-right">
                        @Html.Partial("_TaskListActionMenu", Model.ServiceRequest.Id)
                    </div>
                }
            </div>
            <div id="AllTasks" class="panel-collapse">
                @Html.Action("TaskList", "ServiceRequestTask", new { serviceRequest = Model.ServiceRequest, currentUser = Model.User, myTasksOnly = false, collapsed = true })
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        @if (Model.User.AspNetUserRoles.First().AspNetRole.RoleCategoryId == e.RoleCategory.Admin)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    Box Integration
                </div>
                <div class="panel-body">
                    @if (Model.ServiceRequest.BoxCaseFolderId != null)
                    {
                        <div class="alert alert-success">
                            Box folder has been created<br />
                        </div>
                        <a href="~/ServiceRequest/BoxManager?serviceRequestId=@Model.ServiceRequest.Id" class="btn btn-primary">Box Share and Sync Manager</a>
                    }
                    else
                    {
                        <div>
                            <form action="~/ServiceRequest/CreateBoxCaseFolder?ServiceRequestId=@Model.ServiceRequest.Id" method="post">
                                <button type="submit" class="btn btn-primary">Create Box Folder</button>
                            </form>
                        </div>
                    }
                </div>
            </div>

            if (Model.ServiceRequest.Service.HasAppointment())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Google Calendar Integration
                    </div>
                    <div class="panel-body">
                        <h4>@Model.ServiceRequest.GetCalendarEventTitle()</h4>
                        <strong>Google Event Data</strong>
                        <div>@Model.ServiceRequest.GetCalendarEventTitle()</div>
                        <div>@Model.ServiceRequest.AppointmentDate.Value.GetDateTimeFormats('D')[0]</div>
                        <div>@Model.ServiceRequest.StartTime</div>
                        <div>@Model.ServiceRequest.EndTime</div>
                    </div>
                </div>
            }
            if (Model.User.AspNetUserRoles.First().RoleId == e.Roles.SuperAdmin)
            {
                <form action="~/Invoice/Create" method="post">
                    @Html.Hidden("Id", Model.ServiceRequest.Id)
                    <input type="submit" class="btn btn-link btn-sm" name="Create" value="Add Invoice" />
                </form>
                foreach (var invoiceDetail in Model.ServiceRequest.InvoiceDetails)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Invoice @invoiceDetail.Invoice.InvoiceNumber
                            <div class="pull-right">
                                @Html.Partial("_InvoiceActionMenu", invoiceDetail.Invoice)
                            </div>
                        </div>
                        <div class="panel-body">
                            @Html.Action("ReadOnly", "Invoice", invoiceDetail.Invoice)
                        </div>
                    </div>
                }
            }
        }
    </div>

            </div>

            @section Scripts {
                <script type="text/javascript">
                    $(function () {
                    })
                </script>
            }
