@using e = Model.Enums
@model WebApp.ViewModels.ServiceRequestViewModels.DetailsViewModel

<p>
    <a href="@(Request.UrlReferrer == null ? Url.Content("~/servicerequest") : Request.UrlReferrer.ToString())" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></a>
</p>

<h3>@Model.ServiceRequest.PhysicianDisplayName</h3>
<div class="lead">
    Exam ID @Model.ServiceRequest.Id <span class="lead">(@Model.ServiceRequest.ClaimantName) </span>
    @if (Model.ServiceRequest.ServiceRequestStatusId == e.ServiceRequestStatus.Closed)
    {
        <span class="label label-danger">
            @Model.ServiceRequest.ServiceRequestStatusText
        </span>
    }
</div>


@if (Model.ServiceRequest.ServiceStatusId == e.ServiceStatus.Cancellation || Model.ServiceRequest.ServiceStatusId == e.ServiceStatus.LateCancellation)
{
    <span class="alert alert-danger"><i class="glyphicon glyphicon-info-sign"></i> This case was a <strong>@(Model.ServiceRequest.IsLateCancellation ? "Late " : "")Cancellation</strong></span>
    @Html.ActionLink("Undo", "UndoCancel", new { id = Model.ServiceRequest.Id })
}
else if (Model.ServiceRequest.ServiceStatusId == e.ServiceStatus.NoShow)
{
    <form action="~/ServiceRequest/ToggleNoShow" method="post">
        @Html.AntiForgeryToken()
        @Html.Hidden("id")
        <span class="alert alert-danger"><i class="glyphicon gyphicon-info-sign"></i> This case was a <strong>No Show</strong></span>
        <span><button class="btn btn-link">Undo</button></span>
    </form>
}
else
{
    <form action="~/ServiceRequest/ToggleNoShow" method="post">
        @Html.AntiForgeryToken()
        @Html.Hidden("id")
        <button class="btn btn-default">No Show</button>
        <div class="help-block">Click to flag this case as a "No Show"</div>
    </form>
}

<h2>Tasks</h2>
<ul class="list-group">
    @foreach (var item in Model.ServiceRequestTasks)
            {
        <li class="list-group-item @(item.CompletedDate.HasValue ? "border-left-success" : "border-left-warning")">

            @if (item.CompletedDate.HasValue)
            {
                <button type="button" class="btn btn-success btn-circle disabled"><i class="glyphicon glyphicon-ok"></i></button>
                        <strong>&nbsp;@item.TaskName</strong>
                        <small class="text-muted">@item.AssignedToDisplayName</small>
                            <div>Completed on @item.CompletedDate.Value.ToString("dddd, MMM dd") at @item.CompletedDate.Value.ToShortTimeString()</div>
                if (item.Notes != string.Empty)
                {
                    <div><strong>Notes</strong></div>
                            <div>
                                @item.Notes
                            </div>
                }
                if (Model.User.RoleId == e.Roles.SuperAdmin)
                {
                    if (item.ActualHours.HasValue)
                    {
                        <div class="h5" style="margin-bottom:0;">Cost</div>
                                <div>
                                    Expected: @item.EstimatedHours hours at @(item.HourlyRate.HasValue ? item.HourlyRate.Value.ToString("C2") : "<Not Set>") = @((item.EstimatedHours * item.HourlyRate).Value.ToString("C2"))
                                </div>
                                <div>
                                    Actual:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>@item.ActualHours hours</strong> at @(item.StaffHourlyRate.HasValue ? item.StaffHourlyRate.Value.ToString("C2") : "<Not Set>") = @((item.ActualHours * item.StaffHourlyRate).Value.ToString("C2"))
                                </div>
                    }
                }
            }
            else
            {
                <a data-toggle="collapse" href="@("#CompleteForm" + @item.Id.ToString())" class="btn btn-default btn-circle">&nbsp;</a>
                        <strong>&nbsp;@item.TaskName</strong>
                        <small class="text-muted">@item.AssignedToDisplayName</small>
                            <div id="@("CompleteForm" + @item.Id.ToString())" class="collapse">
                                <div class="help-block">@item.Guidance</div>
                                <form method="post" action="@(Url.Content("~/servicerequest/markascomplete/") + item.Id)">
                                    @Html.AntiForgeryToken()
                                    @if (item.IsBillable)
                                    {
                                        <div class="form-group">
                                            <label for="Time Spent" class="control-label">Time Spent (Hours)</label>
                                            <select class="form-control" name="Hours">
                                                <option></option>
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    <option>@((double)i)</option>
                                                    <option>@((double)i + 0.25)</option>
                                                    <option>@((double)i + 0.5)</option>
                                                    <option>@((double)i + 0.75)</option>
                                                }
                                            </select>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label for="Notes" class="control-label">Notes</label>
                                        <textarea rows="3" class="form-control" name="Notes"></textarea>
                                    </div>
                                    <button class="btn btn-primary">Done</button>
                                </form>
                            </div>
            }
        </li>

    }
</ul>

@if (Model.User.RoleId == e.Roles.SuperAdmin)
{
    <h3>Invoice from Physician to Company</h3>
            <div>Price: @(Model.ServiceRequest.EffectivePrice.HasValue ? Model.ServiceRequest.EffectivePrice.Value.ToString("C2") : "<Price has not been set>")</div>
            <h3>Invoice from Staff to Orvosi</h3>
    if ((Model.ServiceRequest.ClosedTasks.HasValue ? Model.ServiceRequest.ClosedTasks.Value : 0) == 0)
    {
        <div>No billable tasks have been completed.</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Contractor</th>
                    <th>Task</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ServiceRequestCostRollUps)
                {
                    <tr>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.TaskName
                        </td>
                        <td>
                            @item.TotalCost
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

}
<h4></h4>


<h2>Case Details</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Service</dt>
            <dd>@Model.ServiceRequest.ServiceName</dd>
            <dt>Company</dt>
            <dd>@Model.ServiceRequest.CompanyName</dd>
            <dt>Reference Id</dt>
            <dd>@Model.ServiceRequest.CompanyReferenceId</dd>
            <dt>Claimant Name</dt>
            <dd>@Model.ServiceRequest.ClaimantName</dd>
            <dt>Case Folder</dt>
            <dd><strong>@Model.ServiceRequest.Title</strong></dd>
        </dl>
    </div>
</div>
<h2>People</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Requested By</dt>
            <dd>@Model.ServiceRequest.RequestedByName</dd>
            <dt>Case Coordinator</dt>
            <dd>@Model.ServiceRequest.CaseCoordinatorName</dd>
            <dt>Intake Assistant</dt>
            <dd>@Model.ServiceRequest.IntakeAssistantName</dd>
            <dt>Document Reviewer</dt>
            <dd>@Model.ServiceRequest.DocumentReviewerName</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Schedule</h2>
        <dl class="dl-horizontal">
            <dt>Appointment Date</dt>
            <dd>@Model.ServiceRequest.AppointmentDate.Value.GetDateTimeFormats('D')[0]</dd>
            <dt>Start Time</dt>
            <dd>@Model.ServiceRequest.StartTime</dd>
            <dt>End Time</dt>
            <dd>@Model.ServiceRequest.EndTime</dd>
            <dt>Calendar Title</dt>
            <dd><strong>@Model.ServiceRequest.CalendarEventTitle</strong></dd>
            @*<dt>Effective Price</dt>
                <dd>
                    <a data-toggle="popover" data-trigger="click" title="Price Details" data-placement="left" data-content="@Html.Partial("_PriceDetails", Model)">
                        <strong class="text-success">@Model.EffectivePrice</strong>
                    </a>
                </dd>*@
        </dl>
    </div>
</div>
<h2>Location</h2>
<div class="row">
    <div class="col-md-12">
        <address>
            <strong>@Model.ServiceRequest.LocationName</strong><br>
            <strong>@Model.ServiceRequest.AddressName</strong><br>
            @Model.ServiceRequest.Address1<br>
            @if (!string.IsNullOrEmpty(Model.ServiceRequest.City))
            {
                @:@Model.ServiceRequest.City, @Model.ServiceRequest.ProvinceName @Model.ServiceRequest.PostalCode<br>
            }
        </address>
    </div>
</div>
