@using Model.Enums
@model WebApp.ViewModels.ServiceRequestViewModels.DetailsViewModel

<p>
    <a href="~/ServiceRequest" class="btn btn-link">Back To List</a>
</p>

<h3>@Model.ServiceRequest.PhysicianDisplayName</h3>
<div class="lead">Service Request ID @Model.ServiceRequest.Id <span class="lead">(@Model.ServiceRequest.ClaimantName) </span><span class="label @(Model.ServiceRequest.StatusId == ServiceRequestStatus.Closed ? "label-danger" : "label-success")">@Model.ServiceRequest.StatusName</span></div>

<div class="h4">

</div>

<form action="~/ServiceRequest/ToggleNoShow" method="post">
    @Html.AntiForgeryToken()
    @Html.Hidden("id")
    @if (Model.ServiceRequest.IsNoShow)
    {
        <div>
            <span class="alert alert-danger"><i class="glyphicon glyphicon-info-sign"></i> This case was a <strong>No Show</strong></span>
            <span><button class="btn btn-link">Undo</button></span>
        </div>
    }
    else
    {
        <button class="btn btn-default">No Show</button>
        <div class="help-block">Click to flag this case as a "No Show"</div>
    }
</form>

<h2>Tasks</h2>
<ul class="list-group">
    @foreach (var item in Model.ServiceRequestTasks)
    {
        <li class="list-group-item @(item.CompletedDate.HasValue ? "border-left-success" : "border-left-warning")">
            <div>
                <strong>@item.TaskName</strong> assigned to @item.AssignedToDisplayName
            </div>

            @if (item.CompletedDate.HasValue)
            {
                <div>Completed on @item.CompletedDate.Value.ToString("dddd, MMM dd") at @item.CompletedDate.Value.ToShortTimeString()</div>
                if (item.Notes != string.Empty)
                {
                    <h4>Notes</h4>
                    <div>
                        @item.Notes
                    </div>
                }
            }
            else
            {
                <a data-toggle="collapse" href="@("#CompleteForm" + @item.Id.ToString())" class="@(item.CompletedDate.HasValue ? "text-success" : "text-warning")">Mark as complete</a>
                <div id="@("CompleteForm" + @item.Id.ToString())" class="collapse">
                    <form method="post" action="@(Url.Content("~/servicerequest/markascomplete/") + item.Id)">
                        @Html.AntiForgeryToken()
                        @if (item.IsBillable)
                        {
                            <div class="form-group">
                                <label for="Time Spent" class="control-label">Time Spent (Hours)</label>
                                <select class="form-control" name="Hours">
                                    <option></option>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <option>@((double)i)</option>
                                        <option>@((double)i + 0.25)</option>
                                        <option>@((double)i + 0.5)</option>
                                        <option>@((double)i + 0.75)</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group">
                            <label for="Notes" class="control-label">Notes</label>
                            <textarea rows="3" class="form-control" name="Notes"></textarea>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            }
        </li>

    }
</ul>



<h2>Case Details</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Service</dt>
            <dd>@Model.ServiceRequest.ServiceName</dd>
            <dt>Company</dt>
            <dd>@Model.ServiceRequest.CompanyName</dd>
            <dt>Reference Id</dt>
            <dd>@Model.ServiceRequest.CompanyReferenceId</dd>
            <dt>Claimant Name</dt>
            <dd>@Model.ServiceRequest.ClaimantName</dd>
            <dt>Case Folder</dt>
            <dd><strong>@Model.ServiceRequest.Title</strong></dd>
        </dl>
    </div>
</div>
<h2>People</h2>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Requested By</dt>
            <dd>@Model.ServiceRequest.RequestedByName</dd>
            <dt>Case Coordinator</dt>
            <dd>@Model.ServiceRequest.CaseCoordinatorName</dd>
            <dt>Intake Assistant</dt>
            <dd>@Model.ServiceRequest.IntakeAssistantName</dd>
            <dt>Document Reviewer</dt>
            <dd>@Model.ServiceRequest.DocumentReviewerName</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Schedule</h2>
        <dl class="dl-horizontal">
            <dt>Appointment Date</dt>
            <dd>@Model.ServiceRequest.AppointmentDate.Value.GetDateTimeFormats('D')[0]</dd>
            <dt>Start Time</dt>
            <dd>@Model.ServiceRequest.StartTime</dd>
            <dt>End Time</dt>
            <dd>@Model.ServiceRequest.EndTime</dd>
            <dt>Calendar Title</dt>
            <dd><strong>@Model.ServiceRequest.CalendarEventTitle</strong></dd>
            @*<dt>Effective Price</dt>
                <dd>
                    <a data-toggle="popover" data-trigger="click" title="Price Details" data-placement="left" data-content="@Html.Partial("_PriceDetails", Model)">
                        <strong class="text-success">@Model.EffectivePrice</strong>
                    </a>
                </dd>*@
        </dl>
    </div>
</div>
<h2>Location</h2>
<div class="row">
    <div class="col-md-12">
        <address>
            <strong>@Model.ServiceRequest.LocationName</strong><br>
            <strong>@Model.ServiceRequest.AddressName</strong><br>
            @Model.ServiceRequest.Address1<br>
            @if (!string.IsNullOrEmpty(Model.ServiceRequest.City))
            {
                @:@Model.ServiceRequest.City, @Model.ServiceRequest.ProvinceName @Model.ServiceRequest.PostalCode<br>
            }
        </address>
    </div>
</div>
<h2>Comments</h2>
<div class="row">
    <div class="col-md-12">
        No comments
    </div>
</div>
