@using WebApp.Library.Extensions
@using WebApp.Library
@using Orvosi.Shared.Enums
@using Box.V2.Models
@model WebApp.ViewModels.ServiceRequestViewModels.DetailsViewModel

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
}
@if (roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.CaseCoordinator)
{
    <p>
        <ul class="list-unstyled">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    @if (roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.SuperAdmin)
                    {
                        <ul class="dropdown-menu">
                            <li><a href="~/ServiceRequest/Edit/@Model.ServiceRequest.Id">Edit</a></li>
                            <li><a href="~/ServiceRequest/ResourceAssignment/@Model.ServiceRequest.Id">Resource Assignment</a></li>
                            <li><a href="~/ServiceRequest/ChangeCompany/@Model.ServiceRequest.Id">Change Company</a></li>
                            <li><a href="~/ServiceRequest/ChangeProcessTemplate/@Model.ServiceRequest.Id">Change Process Template</a></li>
                            @if (Model.ServiceRequest.CanBeRescheduled)
                            {
                                <li><a href="~/ServiceRequest/Reschedule/@Model.ServiceRequest.Id">Reschedule</a></li>
                            }

                            @if (Model.ServiceRequest.CanBeUncancelled)
                            {
                                <li roleId="separator" class="divider"></li>
                                <li>@Html.ActionLink("Undo Cancellation", "UndoCancel", new { serviceRequestId = Model.ServiceRequest.Id })</li>
                                <li>@Html.ActionLink("Delete", "Delete", new { id = Model.ServiceRequest.Id })</li>
                            }
                            else if (Model.ServiceRequest.CanBeCancelled)
                            {
                                <li>@Html.ActionLink("Cancel", "Cancel", new { serviceRequestId = Model.ServiceRequest.Id })</li>
                            }
                        </ul>
                    }
                </div>
            </li>
        </ul>
    </p>
}


<div class="row">
    <div class="col-sm-3">
        <h4><span class="btn btn-circle" style="color: white; background-color: @Model.ServiceRequest.Physician.ColorCode">@Model.ServiceRequest.Physician.Initials </span> @Model.ServiceRequest.Physician.DisplayName</h4>
        <hr />
        <h3>@Model.ServiceRequest.ClaimantName</h3>
        <p class="small text-muted">@Model.ServiceRequest.Service.Name, @Model.ServiceRequest.Company.Name</p>
        @if (Model.ServiceRequest.IsClosed)
        {
            <span class="label label-danger">
                Closed
            </span>
        }
        @if (Model.ServiceRequest.Service.HasAppointment)
        {
            <div class="form-group">
                <label class="control-label">Assessment</label>
                <p class="form-control-static">
                    @Model.ServiceRequest.AppointmentDate.ToOrvosiDateTimeFormat(Model.ServiceRequest.StartTime.HasValue ? Model.ServiceRequest.StartTime.Value : new TimeSpan(0, 0, 0))
                    <br />
                    <strong><small class="text-muted">@Model.ServiceRequest.Address.Name</small></strong><br />
                    <small>@Model.ServiceRequest.Address.Address1</small>
                    <small><mark>@Model.ServiceRequest.Address.City</mark>, @Model.ServiceRequest.Address.ProvinceCode</small>
                    <small>@Model.ServiceRequest.Address.PostalCode</small>

                </p>
            </div>
        }
        @if (Model.ServiceRequest.Service.HasReportDeliverable)
        {
            <div class="form-group">
                <label class="control-label">Report</label>
                @if (Model.ServiceRequest.DueDate.HasValue)
                {
                    <p class="form-control-static">@Model.ServiceRequest.DueDate.Value.ToString("ddd MMM dd yyyy")</p>
                }
                else
                {
                    <p class="form-control-static">Not Set</p>
                }
            </div>
        }

        <div class="form-group">
            <label class="control-label">Assignments</label>
            <p class="form-control-static">
                @Html.Partial("~/Views/Shared/_Initials.cshtml", Model.ServiceRequest.Physician == null ? new Orvosi.Shared.Model.Person() : Model.ServiceRequest.Physician)
                @Html.Partial("~/Views/Shared/_Initials.cshtml", Model.ServiceRequest.IntakeAssistant == null ? new Orvosi.Shared.Model.Person() : Model.ServiceRequest.IntakeAssistant)
                @Html.Partial("~/Views/Shared/_Initials.cshtml", Model.ServiceRequest.DocumentReviewer == null ? new Orvosi.Shared.Model.Person() : Model.ServiceRequest.DocumentReviewer)
                @Html.Partial("~/Views/Shared/_Initials.cshtml", Model.ServiceRequest.CaseCoordinator == null ? new Orvosi.Shared.Model.Person() : Model.ServiceRequest.CaseCoordinator)
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                @if (Model.ServiceRequest.CanNoShowBeUndone)
                {
                    <form action="~/ServiceRequest/UndoNoShow" method="post">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ServiceRequestId", Model.ServiceRequest.Id)
                        <span class="alert alert-danger"><i class="glyphicon gyphicon-info-sign"></i> This case was a <strong>No Show</strong></span>
                        <span><button class="btn btn-link">Undo</button></span>
                    </form>
                }
                else if (Model.ServiceRequest.CanBeNoShow)
                {
                    <form action="~/ServiceRequest/NoShow" method="post">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ServiceRequestId", Model.ServiceRequest.Id)
                        <button class="btn btn-default">No Show</button>
                        <div class="help-block">Click to flag this case as a "No Show"</div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <p>
            <h4 style="line-height:30px;">
                @if (Model.ServiceRequest.ServiceStatusId.HasValue)
                {
                    <span>
                        @Html.Partial("_ServiceStatusLabel", Model.ServiceRequest.ServiceStatusId.Value)
                    </span>
                }
                Case @Model.ServiceRequest.Id
            </h4>
        </p>
        <hr />
        @if (roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.Physician)
        {
            <div id="notes">
                @Html.Partial("_Note", new WebApp.ViewModels.ServiceRequestViewModels.NoteViewModel() { ServiceRequestId = Model.ServiceRequest.Id, Note = Model.ServiceRequest.Notes })
            </div>
        }
        <p>
        </p>
        <div class="panel panel-success">
            <div class="panel-heading">
                <strong>Tasks</strong>
                @if (roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.Physician)
                {
                    <div class="pull-right">
                        @Html.Partial("_TaskListActionMenu", Model.ServiceRequest.Id)
                    </div>
                }
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    @foreach (var task in Model.ServiceRequest.ServiceRequestTasks)
                    {
                        <tr>
                            <td width="50px">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-link" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-h fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li><a tabindex="-1" href="#" onclick="pickupTask(@task.Id)">Pickup</a></li>
                                        @if (new Guid[3] { AspNetRoles.SuperAdmin, AspNetRoles.Physician, AspNetRoles.CaseCoordinator }.Contains(roleId))
                                        {
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" class="assign-to" href="#">
                                                    Assign To
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var teamMember in Model.UserSelectList)
                                                    {
                                                        if (teamMember.Value != task.AssignedTo.ToString())
                                                        {
                                                            <li>
                                                                <a tabindex="-1" href="#" onclick="assignTask(@task.Id, '@(teamMember.Value)')">@teamMember.Text</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            @*<li class="divider"></li>
                                                <li><a href="#">Edit</a></li>
                                                <li><a href="#">Insert Below</a></li>
                                                <li><a href="#">Insert Above</a></li>
                                                <li><a href="#">Move Up</a></li>
                                                <li><a href="#">Move Down</a></li>*@
                                            <li class="divider"></li>
                                            <li><a href="#" onclick="deleteTask(@task.Id)">Delete</a></li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td width="50px">
                                @if (task.ProcessTask.Id == Tasks.AssessmentDay)
                                {
                                    <span class="btn btn-sm btn-circle">
                                        <i class="fa fa-calendar fa-lg"></i>
                                    </span>
                                }
                                else
                                {
                                    <span title="@(task.AssignedTo != null ? task.AssignedTo.DisplayName : "Unassigned")"
                                          class="btn btn-sm btn-circle disabled pull-left"
                                          style="color: white; background-color: @(task.AssignedTo != null ? task.AssignedTo.ColorCode : "red")">
                                        <span class="small">@(task.AssignedTo != null ? task.AssignedTo.Initials : "?")</span>
                                    </span>
                                }
                            </td>
                            <td width="20px">
                                @if ((roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.Physician || User.Identity.GetGuidUserId() == task.AssignedTo.Id) && task.ProcessTask.Id != Tasks.AssessmentDay)
                                {
                                    <form action="~/ServiceRequestTask/ToggleCompleted" method="post" class="pull-left">
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("serviceRequestTaskId", task.Id)
                                        <span class="checkbox" style="margin-top:0px; margin-bottom:0px;">
                                            <label>
                                                <input id="task-checkbox-@task.Id" type="checkbox"
                                                       name="IsComplete"
                                                       value="@(task.Status.Id == TaskStatuses.Done)"
                                                       @(task.Status.Id == TaskStatuses.Done ? "checked" : "")
                                                       @(task.Status.Id == TaskStatuses.Waiting || task.Status.Id == TaskStatuses.Obsolete ? "disabled" : "")
                                                       onclick="this.form.submit();">
                                            </label>
                                        </span>
                                    </form>
                                }
                            </td>
                            <td width="100px">
                                @Html.Partial("_TaskStatusLabel", task)
                            </td>
                            <td>@task.ProcessTask.Name</td>
                            <td>
                                @if (task.Status.Id == TaskStatuses.Done)
                                {
                                    if (task.CompletedDate.HasValue)
                                    {
                                        <div class="small text-muted" title="@task.CompletedBy.DisplayName">@task.CompletedDate.Value.ToString("ddd, MMM dd") at @task.CompletedDate.Value.ToShortTimeString()</div>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">

        <h4 style="line-height:30px;">Case Files and Reports</h4>
        <hr />
        @if (Model.ServiceRequest.BoxCaseFolderId == null)
            {
            <div>The case folder has not been created yet.<br />Your case coordinator will take care of this once the files are received.</div>
        }
        else
        {
            <p><a class="btn btn-default" target="_blank" href="@Model.ServiceRequest.BoxCaseFolderURL"><i class="fa fa-folder-open-o fa-lg"></i>&nbsp;Open Case Folder</a></p>
            <div class="help-block">This folder contains the supporting case files provided by the company and the report.</div>
        }
        @if (roleId == AspNetRoles.CaseCoordinator || roleId == AspNetRoles.SuperAdmin)
        {
            if (Model.ServiceRequest.BoxCaseFolderId != null)
            {
                <a href="~/ServiceRequest/BoxManager?serviceRequestId=@Model.ServiceRequest.Id" class="btn btn-primary">Box Share and Sync Manager</a>
            }
            else
            {
                <div>
                    <form action="~/ServiceRequest/CreateBoxCaseFolder?ServiceRequestId=@Model.ServiceRequest.Id" method="post">
                        <button type="submit" class="btn btn-primary">Create Case Folder</button>
                    </form>
                </div>
            }
            if (Model.ServiceRequest.Service.HasAppointment)
            {
                <h3>
                    Calendar Integration
                </h3>
                <div id="google-calendar-integration">
                </div>
            }
        }

        @if (roleId == AspNetRoles.SuperAdmin || roleId == AspNetRoles.Physician)
            {
            <h4 style="line-height:30px;" class="section-top-padding">Invoice</h4>
            <hr />
            if (roleId == AspNetRoles.SuperAdmin)
            {
                <form action="~/Invoice/Create" method="post">
                    @Html.Hidden("Id", Model.ServiceRequest.Id)
                    <input type="submit" class="btn btn-link btn-sm" name="Create" value="Add Invoice" />
                </form>
            }
            else if (Model.ServiceRequest.InvoiceDetails.Count() == 0)
            {
                <div>Invoice has not been generated.<br />Your case coordinator will take care of this.</div>
            }

            foreach (var invoiceDetail in Model.ServiceRequest.InvoiceDetails)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Invoice @invoiceDetail.Invoice.InvoiceNumber
                        @if (roleId == AspNetRoles.SuperAdmin)
                        {
                            <div class="pull-right">
                                @Html.Partial("_InvoiceActionMenu", invoiceDetail.Invoice)
                            </div>
                        }
                    </div>
                    <div class="panel-body">
                        @Html.Partial("~/Views/Invoice/_ReadOnly.cshtml", invoiceDetail.Invoice)
                    </div>
                </div>
            }
        }
    </div>
</div>

@Html.Partial("~/Views/Note/_NoteModalForm.cshtml")

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function(){
            $('.dropdown-submenu a.assign-to').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
            @if (Model.ServiceRequest.AppointmentDate.HasValue)
            {
                @:refreshGoogleCalendarIntegration();
            }
        });

        let serviceRequestId = @Model.ServiceRequest.Id;

        function onTaskChecked(checkbox, taskId) {
            var params = {
                taskId: taskId,
                checkbox: checkbox
            }

            if (checkbox.checked) {
                console.log(taskId + ' is now checked');
            } else {
                console.log(taskId + ' is now unchecked');
            }

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Dashboard/UpdateTaskStatus")',
                data: JSON.stringify({
                    taskId: taskId,
                    isChecked: checkbox.checked
                }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    //// get the updated assessment data
                    //SetAssessmentTotals(assessment[0], params.assessmentId);
                    //updateTaskStatuses(assessment[0], params.assessmentId);

                    console.log('success: ' + result);
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }

        function onEdit(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Note/EditNote?serviceRequestId=")' + serviceRequestId,
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    var modalDiv = $("#edit-note-modal");
                    modalDiv.find('#ServiceRequestId').val(result.ServiceRequestId); // hidden field
                    modalDiv.find('#Notes').html(result.Notes);
                    modalDiv.find('#ClaimantName').html(result.ClaimantName);

                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }

        $("#edit-note-form").submit(function (e) {

            var url = '@Url.Content("~/Note/UpdateNote")';

            var form = $("#edit-note-form");
            var serviceRequestId = form.find('#ServiceRequestId').val();

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function () {
                    $("#edit-note-modal").modal('toggle');
                    toastr.success("The note was updated successfully.");
                    refreshNote(serviceRequestId);
                }
            });
            e.preventDefault();
        });

        function refreshNote(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/ServiceRequest/RefreshNote?serviceRequestId=")' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    $('#notes').replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);
        }

        function pickupTask(serviceRequestTaskId) {
            let url = '@Url.Content("~/ServiceRequestTask/PickUp")';
            $.post(
                url,
                {
                    serviceRequestTaskId: serviceRequestTaskId
                },
                function (data) {
                    refreshTaskList();
                }
            );
        }

        function assignTask(serviceRequestTaskId, assignedTo) {
            let url = '@Url.Content("~/ServiceRequestTask/AssignTo")';
            $.post(
                url,
                {
                    serviceRequestTaskId: serviceRequestTaskId,
                    assignedTo: assignedTo
                },
                function (data) {
                    refreshTaskList();
                }
            );
        }

        function addTask(serviceRequestId, taskId) {
            let url = '@Url.Content("~/ServiceRequestTask/AddTask")';
            $.post(
                url,
                {
                    serviceRequestId: serviceRequestId,
                    taskId: taskId
                },
                function (data) {
                    refreshTaskList();
                }
            );
        };

        function deleteTask(serviceRequestTaskId) {
            let url = '@Url.Content("~/ServiceRequestTask/Delete")';
            $.post(
                url,
                {
                    serviceRequestTaskId: serviceRequestTaskId
                },
                function (data) {
                    refreshTaskList();
                }
            );
        }

        function refreshTaskList() {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/ServiceRequestTask/TaskList?serviceRequestId=")' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    window.location.reload();
                    //$('#tasklist-' + serviceRequestId).replaceWith(result);
                },
                error: function (err) {
                    window.location.reload();
                    //console.log(err.error);
                }
            }, this);
        }

        function refreshGoogleCalendarIntegration() {
            $.ajax({
                type: "GET",
                url: '@string.Format("{0}?serviceRequestId={1}", Url.Content("~/Google/Calendar/Get"), Model.ServiceRequest.Id)',
                contentType: "text/html",
                success: function (result) {
                    $('#google-calendar-integration').html(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error(err);
                }
            });
        }

        function addGoogleCalendarEvent(eventId) {
            $.ajax({
                type: "POST",
                url: '@string.Format("{0}?serviceRequestId={1}", Url.Content("~/Google/Calendar/Add"), Model.ServiceRequest.Id)',
                contentType: "text/html",
                success: function (result) {
                    refreshGoogleCalendarIntegration();
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error(err);
                }
            });
        }

    </script>
}