@model CaseViewModel
@{
    var viewData = new ViewDataDictionary();
    viewData.ViewTarget_Set(ViewTarget.Modal);
}
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="~/ServiceRequest/Details/@Model.ServiceRequestId" class="modal-title">@Html.Partial("PhysicianLabel", Model.Physician, viewData) @Model.ClaimantName (@(Model.ServiceRequestId))</a>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#case" aria-controls="case" role="tab" data-toggle="tab">Case</a></li>
            <li role="presentation" class="active"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
            <li role="presentation"><a href="#livechat" aria-controls="livechat" role="tab" data-toggle="tab">Live Chat</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="case">
                <div id="case-container" class="panel-body">
                    @Html.Partial("Case", Model, viewData)
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="tasks">
                <div id="tasklist-container">
                    @Html.Action("TaskList", "ServiceRequestTask", new TaskListArgs
                    {
                        ServiceRequestId = Model.ServiceRequestId,
                        ViewFilter = TaskListViewModelFilter.CriticalPathOrAssignedToUser,
                        ViewTarget = ViewTarget.Modal
                    })
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="livechat">
                <p></p>
                @Html.Partial("~/Views/ServiceRequestMessage/_Discussion.cshtml", Model)
                @Html.Partial("~/Views/ServiceRequestMessage/_PostMessage.cshtml", Model)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

@Html.Partial("~/Views/ServiceRequestMessage/_ServiceRequestMessageJS.cshtml", new ServiceRequestMessageJSViewModel { ServiceRequestIds = new int[1] { Model.ServiceRequestId } })
