@model WebApp.ViewModels.InvoiceViewModels.InvoiceViewModel

<div style="display:flex;">
    <div>Invoice Date</div>
    <div style="margin-left:auto;">@Model.InvoiceDate.ToOrvosiDateFormat()</div>
</div>
@if (Model.InvoiceDetails.Any())
{
    <hr class="hr-smaller-margins" />
}
@foreach (var item in Model.InvoiceDetails)
{
    <div style="display:flex;">
        <div>
            <a onclick="onShowEditInvoiceItemForm(@item.Id)" style="cursor:pointer;">@item.Description </a>
            @if (!string.IsNullOrWhiteSpace(item.AdditionalNotes))
            { 
                <i class="fa fa-sticky-note" style="color:goldenrod;"></i> 
            }
            <a onclick="onDeleteInvoiceItem(@item.Id , @Model.Id , @Model.ServiceRequestId)" style="cursor:pointer;"><i class="fa fa-remove text-danger"></i></a>
        </div>
        <div style="margin-left:auto;">@item.Total.ToString("C2")</div>
    </div>
}
<hr class="hr-smaller-margins" />
<div style="display:flex;">
    <div>Sub Total</div>
    <div style="margin-left:auto;">@Model.SubTotal.Value.ToString("C2")</div>
</div>
<div style="display:flex;">
    <div>Tax (@(Model.TaxRateHst.Value.ToString("0%")))</div>
    <div style="margin-left:auto;">@Model.Hst.Value.ToString("C2")</div>
</div>
<hr class="hr-smaller-margins" />
<div style="display:flex;">
    <div>Total</div>
    <div style="margin-left:auto;">@Model.Total.Value.ToString("C2")</div>
</div>
<div style="display:flex;">
    <div>Amount Paid</div>
    <div style="margin-left:auto;">@Model.AmountPaid.ToString("C2")</div>
</div>
<div style="display:flex;">
    <div>Outstanding Balance</div>
    <div style="margin-left:auto;">@Model.OutstandingBalance.ToString("C2")</div>
</div>

