@using WebApp.ViewModels.InvoiceViewModels
@using WebApp.Library
@using Features = Orvosi.Shared.Enums.Features
@model InvoiceViewModel

@{
    var session = DependencyResolver.Current.GetService<SessionService>();
    var features = session.AuthorizedFeatures;
    var identity = session.identity;
    var viewDataService = DependencyResolver.Current.GetService<ViewDataService>();
}

<div id="invoice-menu-@Model.Id" class="text-right">
    <div class="btn-group">
        @if (Model.IsPaid)
            {
            <button type="button" class="btn btn-success btn-sm" disabled><i class="fa fa-check fa-lg"></i></button>
        }
        else if (Model.IsDeleted && features.Contains(Features.Accounting.DeleteInvoice))
        {
            <button type="button" class="btn btn-default btn-sm" onclick="onUndeleteInvoice(@Model.Id)" style="cursor:pointer;">Uncancel</button>
        }
        else if (Model.IsSent && features.Contains(Features.Accounting.ManageReceipts))
        {
            <button type="button" class="btn btn-warning btn-sm" onclick="onPaid(@Model.Id)"><i class="fa fa-usd fa-lg"></i></button>
        }
        else
        {
            if (features.Contains(Features.Accounting.SendInvoice))
            {
                <button type="button" class="btn btn-primary btn-sm" onclick="onShowEditAndSendInvoiceForm(@Model.Id)"><i class="fa fa-send"></i></button>
            }
        }
        @if (!Model.IsDeleted)
            {
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    @if (!Model.IsPaid && features.Contains(Features.Accounting.SendInvoice))
                    {
                        <li>
                            <a onclick="onShowEditAndSendInvoiceForm(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-send"></i>&nbsp;
                                @if (Model.IsSent)
                                {
                                    <span>Re-Send</span>
                                }
                                else
                                {
                                    <span>Send</span>
                                }
                            </a>
                        </li>
                    }
                    @if (Model.IsSent && !Model.IsPaid && features.Contains(Features.Accounting.ManageReceipts))
                    {
                        <li>
                            <a onclick="onPaid(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-usd"></i> &nbsp;Mark as Paid
                            </a>
                        </li>
                    }
                    @if (features.Contains(Features.Accounting.ViewInvoice))
                    {
                        <li>
                            <a href="~/Accounting/PreviewInvoice/@Model.Id" target="_blank">
                                <i class="fa fa-eye"></i> &nbsp;Preview
                            </a>
                        </li>
                    }
                    @if (features.Contains(Features.Accounting.DownloadInvoice))
                    {
                        <li>
                            <a href="~/Accounting/DownloadInvoice/@Model.Id" target="_blank">
                                <i class="fa fa-download"></i> &nbsp;Download
                            </a>
                        </li>
                    }
                    @if (features.Contains(Features.Accounting.GenerateInvoicePdf))
                    {
                        <li>
                            <a onclick="onGenerateInvoicePdf(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-file-pdf-o"></i> &nbsp;Generate PDF
                            </a>
                        </li>
                    }
                    @if (!Model.IsSent && features.Contains(Features.Accounting.EditInvoice))
                    {
                        <li class="divider"></li>
                        <li>
                            <a onclick="onShowEditInvoiceHeaderForm(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-pencil"></i> &nbsp;Edit Header
                            </a>
                        </li>
                        <li>
                            <a onclick="onAddInvoiceItem(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-plus"></i> &nbsp;Add Item
                            </a>
                        </li>
                    }
                    @if (features.Contains(Features.Accounting.DeleteInvoice) && features.Contains(Features.Accounting.EditInvoice) && !Model.IsPaid)
                    {
                        <li class="divider"></li>
                        <li>
                            <a onclick="onDeleteInvoice(@Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-remove"></i> &nbsp;Cancel Invoice
                            </a>
                        </li>
                    }
                </ul>
        }
    </div>
</div>