@using WebApp.ViewModels.ServiceRequestViewModels
@using WebApp.Library
@using Orvosi.Data

@model ResourceAssignmentViewModel

@{ 
    var viewDataService = DependencyResolver.Current.GetService<ViewDataService>();
    var teamMemberSelectList = viewDataService.GetCollaborationSelectList(Model.PhysicianId);
}

<form action="~/ServiceRequest/ResourceAssignment/@Model.ServiceRequestId" method="post" class="form-horizontal">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(c => c.ServiceRequestId)

    <fieldset id="ResourceAssignment">
        <legend>Resource Assignments</legend>
        <div class="form-group">
            <label class="control-label col-md-2">Case Coordinator</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CaseCoordinatorId, new SelectList(teamMemberSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaseCoordinatorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Intake Assistant</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IntakeAssistantId, new SelectList(teamMemberSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IntakeAssistantId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Document Reviewer</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DocumentReviewerId, new SelectList(teamMemberSelectList, "Value", "Text", "Group.Name", new { }), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DocumentReviewerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-push-2 col-md-10">
                <button class="btn btn-primary">Submit</button>
                <a href="~/ServiceRequest" class="btn btn-primary">Back To List</a>
                <a href="~/ServiceRequest/Details/@Model.ServiceRequestId" class="btn btn-primary">Back To Details</a>
            </div>
        </div>

    </fieldset>

</form>
