@model WebApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@section instructions
{
    You must reset your password to unlock your account.
}

<form method="post" action="~/Account/ResetPassword" role="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input type="text" class="form-control" name="Email" id="Email" />
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Password" class="control-label">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" />
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="control-label">Confirm Password</label>
        <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" />
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@section footer
{
<div class="col-md-6 col-md-offset-6 text-right">
    <a href="~/Account/Help#ResetPassword"><small>Need Help?</small></a>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
