@using System.Globalization;
@model WebApp.Areas.Staff.ViewModels.Home.IndexViewModel

@functions{
    string GetRole(string userId, Guid? documentReviewerId, Guid? intakeAssistantId, Guid? caseCoordinatorId)
    {
        if (userId == documentReviewerId.ToString())
        {
            return "Document Reviewer";
        }
        else if (userId == intakeAssistantId.ToString())
        {
            return "Intake Assistant";
        }
        else if (userId == caseCoordinatorId.ToString())
        {
            return "Case Coordinator";
        }
        else
        {
            return "Nothing";
        }
    }
}

<h1>Dashboard</h1>
<h4>For @ViewBag.StaffName</h4>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Today</h2>
    </div>
    <div class="panel-body">
        @if (Model.Today.Count == 0)
        {
            <div class="text-muted">Nothing is required of you today.</div>
        }
        @foreach (var item in Model.Today)
        {
            <div>
                <a class="lead" href="@Url.Content("~/servicerequest/Details/" + item.Id)">@string.Format("{0} at {1}", item.AppointmentDate.Value.ToString("dddd, MMM dd"), item.AppointmentDate.Value.Add(item.StartTime.Value).ToShortTimeString())</a>
                <div><strong>@item.ServiceName</strong> for <strong>@item.PhysicianDisplayName</strong> as a <strong>@GetRole(ViewBag.UserId, item.DocumentReviewerId, item.IntakeAssistantId, item.CaseCoordinatorId)</strong></div>
                <div><strong>Case Folder: </strong>@item.Title</div>
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Upcoming</h2>
        <span class="small"> in the Next @ViewBag.LookAhead days</span>
    </div>
    <div class="panel-body">
        @if (Model.Upcoming.Count == 0)
        {
            <div class="text-muted">Nothing is planned in the next @ViewBag.LookAhead days.</div>
        }
        @foreach (var item in Model.Upcoming)
        {
            <div>
                <a class="lead" href="@Url.Content("~/servicerequest/Details/" + item.Id)">@string.Format("{0} at {1}", item.AppointmentDate.Value.ToString("dddd, MMM dd"), item.AppointmentDate.Value.Add(item.StartTime.Value).ToShortTimeString())</a>
                <div><strong>@item.ServiceName</strong> for <strong>@item.PhysicianDisplayName</strong> as a <strong>@GetRole(ViewBag.UserId, item.DocumentReviewerId, item.IntakeAssistantId, item.CaseCoordinatorId)</strong></div>
                <div><strong>Case Folder: </strong>@item.Title</div>
            </div>
        }
    </div>
</div>
