@model SummaryViewModel

<div style="padding-bottom:5px;">
    <span style="padding-right:5px; font-size:16px;"><strong>@Model.StartTime</strong></span>
    <a href="@Url.Content("~/ServiceRequest/Details/" + Model.ServiceRequestId)" target="_blank" style="font-size:16px;">@Model.ClaimantName (@(Model.ServiceRequestId))</a>
    @Html.Partial("ServiceRequest/ServiceRequestStatus", Model.ServiceRequestStatus)
    @Html.Partial("~/Views/Cancellation/CancellationStatus.cshtml", Model.CancellationStatus)
</div>
<div>
    <small class="text-muted">@Model.Company.Name</small>
    @if (!string.IsNullOrEmpty(Model.SourceCompany))
    {
        <small class="text-muted"> (@Model.SourceCompany)</small>
    }
</div>
<div>
    <small class="text-muted">@Model.Service.Name</small>
    @if (Model.MedicolegalTypeId.HasValue)
    {
        <small class="text-muted"> (@Model.MedicolegalType.Name)</small>
    }
</div>