@using WebApp.Library.Extensions.Model
@using WebApp.Library.Helpers
@using Model.Enums
@model Model.ServiceRequest

<div class="h3">@Model.PhysicianDisplayName - @Model.ServiceName for @Model.CompanyName</div>
<div class="lead text-muted">@Model.Title</div>

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.Id</dd>
            <dt>Status</dt>
            <dd><span class="label label-warning">@Model.StatusName</span></dd>
            <dt>Service</dt>
            <dd>@Model.ServiceName</dd>
            <dt>Effective Price</dt>
            <dd>
                <a data-toggle="popover" data-trigger="click" title="Price Details" data-placement="right" data-content="@Html.Partial("_PriceDetails", Model)">
                    <strong class="text-success">@Model.EffectivePrice</strong>
                </a>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Due Date</dt>
            <dd>@Model.DueDate.Value.GetDateTimeFormats('D')[0]</dd>
            <dt>Start Time</dt>
            <dd>@Model.StartTime</dd>
            <dt>End Time</dt>
            <dd>@Model.EndTime</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Requested By</dt>
            <dd>@Model.RequestedByDisplayName</dd>
            <dt>Case Coordinator</dt>
            <dd>@Model.AssignedToDisplayName</dd>
            <dt>Intake Assistant</dt>
            <dd>@Model.AssignedToDisplayName</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Location</h4>
        <address>
            <strong>@Model.LocationName</strong><br>
            <strong>@Model.AddressName</strong><br>
            @Model.AddressTypeName<br />
            @Model.Address1<br>
            @if (!string.IsNullOrEmpty(Model.City))
            {
            @:@Model.City, @Model.ProvinceName @Model.PostalCode<br>
            }
        </address>
    </div>
    <div class="col-md-4">
        <h4>Comments</h4>
    </div>
    <div class="col-md-4">
        <h4>Tasks</h4>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        $('document').ready(function () {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $(function () {
                $('[data-toggle="popover"]').popover({ html: true })
            })
        });
    </script>
}