@model IndexViewModel

<div id="servicecatalogue-container">
    @Html.Partial("ServiceCatalogue", Model.ServiceCatalogue)
</div>

@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts{

    @Html.Partial("ServiceCatalogueJS")
    @Html.Partial("IndexJS")

}