@model ServiceCatalogueViewModel

<button onclick="showServiceCatalogueForm()" class="btn btn-success">New Entry</button>
<div class="row">
    <div class="col-md-6">
        @foreach (var city in Model.CityPrices)
        {
            <div>
                <h3>@city.CityLabel</h3>
                @foreach (var service in city.Services)
                {
                    <div style="padding-left:20px;">
                        <h4>@service.ServiceLabel</h4>
                        @foreach (var company in service.Companies)
                        {
                            <div style="padding-left:20px;">@company.CompanyLabel, @String.Format("{0:C2}", company.Price)</div>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (var service in Model.ServicePrices)
        {
            <div>
                <h2>@service.ServiceLabel</h2>
                @foreach (var city in service.Cities)
                {
                    <div style="padding-left:20px;">
                        <h4>@city.CityLabel</h4>
                        @foreach (var company in city.Companies)
                        {
                            <div style="padding-left:20px;">@company.CompanyLabel, @String.Format("{0:C2}", company.Price)</div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
