@model ServiceCatalogueForm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Catalogue Entry
    </h4>
</div>
<div class="modal-body">
    <form id="servicecatalogue-form">
        <input type="hidden" name="ServiceCatalogueId" value="@Model.ServiceCatalogueId" />
        <div class="form-group">
            <label class="control-label">City</label>
            <div>
                @Html.DropDownList("CityId", new SelectList(Model.ViewData.Cities, "Value", "Text", Model.CityId), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("CityId", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Service</label>
            <div>
                @Html.DropDownList("ServiceId", new SelectList(Model.ViewData.Services, "Value", "Text", Model.ServiceId), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("ServiceId", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Company</label>
            <div>
                @Html.DropDownList("CompanyId", new SelectList(Model.ViewData.Companies, "Value", "Text", Model.CompanyId), string.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("CompanyId", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Price</label>
            <div>
                @Html.TextBox("Price", Model.Price, new { @class="form-control" })
                @Html.ValidationMessage("Price", "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" onclick="saveServiceCatalogueForm($('#servicecatalogue-form'))" class="btn btn-primary">Save</button>
</div>