@model AdditionalsViewModel

@if (Model != null)
{
    <table class="table table-hover">
        <tr>
            <th>
                Service
            </th>
            <th>
                Due Date
            </th>
            <th>
                Claimant
            </th>
            <th>
                Team
            </th>
        </tr>
        @foreach (var item in Model.Additionals)
        {
            <tr onclick="showCaseDetails(@item.ServiceRequestId)" ondblclick="showCaseDetails(@item.ServiceRequestId)" style="cursor:pointer;">
                <td>
                    <strong style="color: @item.Service.ColorCode;">@item.Service.Code</strong>
                </td>
                <td>
                    Due on @item.DueDate
                </td>
                <td>
                    @item.ClaimantName
                </td>
                <td>
                    @foreach (var collaborator in item.Collaborators)
                    {
                        <span>
                            @Html.Partial("Initials", collaborator)
                        </span>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p></p>
    <p><strong> No additionals</strong></p>
}
