@model CompanyForm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Company
    </h4>
</div>
<div class="modal-body">
    <form id="company-form">
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
        <div class="form-group">
            <label class="control-label">Name</label>
            <div>
                @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <div>
                @Html.TextBox("Code", Model.Code, new { @class = "form-control" })
                @Html.ValidationMessage("Code", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Color</label>
            <div>
                <input type="color" id="ColorCode" name="ColorCode" class="form-control" value="@Model.ColorCode" />
                @Html.ValidationMessage("ColorCode", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <div>
                @Html.TextArea("Description", Model.Description, 3, 1, new { @class = "form-control" })
                @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Billing Email</label>
            <div>
                <input type="email" name="BillingEmail" class="form-control" value="@Model.BillingEmail" />
                @Html.ValidationMessage("BillingEmail", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Reports Email</label>
            <div>
                <input type="email" name="ReportsEmail" class="form-control" value="@Model.ReportsEmail" />
                @Html.ValidationMessage("ReportsEmail", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Phone Number</label>
            <div>
                <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber"/>
                @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" onclick="@(Model.CompanyId.HasValue ? "saveEditCompanyForm" : "saveNewCompanyForm")($('#company-form'))" class="btn btn-primary">Save</button>
</div>