@model ReadOnlyViewModel

<div style="margin-bottom: 15px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default" onclick="showEditCompanyForm('@Model.CompanyId')">Edit</button>
        <button type="button" class="btn btn-default">Delete</button>
    </div>
</div>
<div>
    <form id="company-readonly-form">
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <input type="hidden" name="PhysicianId" value="@Model.PhysicianId" />
        <div class="form-group">
            <label class="control-label">Name</label>
            <div>
                <p class="form-control-static">@Model.Name</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <div>
                <p class="form-control-static">@Model.Code</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Color</label>
            <div>
                <input type="color" id="ColorCode" name="ColorCode" disabled class="form-control" value="@Model.ColorCode" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <div>
                <p class="form-control-static">@Model.Description</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Billing Email</label>
            <div>
                <p class="form-control-static">@Model.BillingEmail</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Reports Email</label>
            <div>
                <p class="form-control-static">@Model.ReportsEmail</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Phone Number</label>
            <div>
                <p class="form-control-static">@Model.PhoneNumber</p>
            </div>
        </div>
    </form>
</div>
