@model AvailableSlotViewModel
@{
    var slot = Model;
}
@if (!slot.IsAvailable)
{
    <div class="pull-left text-muted">
        <div>@slot.StartTime.ToString(@"hh\:mm") (@slot.Duration)</div>
        @foreach (var sr in slot.ServiceRequests)
        {
            <div>
                <a href="~/ServiceRequest/Details/@sr.ServiceRequestId" target="_blank">@sr.ServiceRequestId</a>  @Html.Partial("~/Views/Cancellation/CancellationStatus.cshtml", sr.CancellationStatus)
            </div>
        }
    </div>
}
else
{
    <div style="display:inline-flex" class="bg-info">
        <button type="button" onclick="showBookingForm('@slot.Id')" class="btn btn-link pull-left" style="padding: 0 0 0 0;color:green;"><i class="glyphicon glyphicon-plus"></i></button>
        &nbsp;
        <div class="pull-left">
            <strong>@slot.StartTime.ToString(@"hh\:mm") (@slot.Duration)</strong>
        </div>
        @if (!slot.ServiceRequests.Any())
        {
            <span>&nbsp;</span>
            <button type="button" onclick="cancelSlot('@slot.Id')" class="btn btn-link pull-left" style="padding: 0 0 0 0;"><i class="fa fa-remove fa-lg text-danger"></i></button>
        }
    </div>
    foreach (var sr in slot.ServiceRequests)
    {
        <div>
            <a href="~/ServiceRequest/Details/@sr.ServiceRequestId" target="_blank">@sr.ServiceRequestId</a>  @Html.Partial("~/Views/Cancellation/CancellationStatus.cshtml", sr.CancellationStatus)
        </div>
    }
}
