@using WebApp.Library.Helpers
@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var features = User.Identity.GetFeatures();
}

<ul class="nav nav-tabs">
    @if (features.Contains(Features.Accounting.ViewUnsentInvoices))
    {
        <li role="presentation" class="@Html.IsActive("Unsent", "", "Invoices")"><a href="~/Invoices/Unsent?@(Request.QueryString)">Unsent</a></li>
    }
    @if (features.Contains(Features.Accounting.ViewUnpaidInvoices))
    {
        <li role="presentation" class="@Html.IsActive("Unpaid", "", "Invoices")"><a href="~/Invoices/Unpaid?@(Request.QueryString)">Unpaid</a></li>
    }
    @if (features.Contains(Features.Accounting.SearchInvoices))
    {
        <li role="presentation" class="@Html.IsActive("List", "", "Invoices")"><a href="~/Invoices/List?@(Request.QueryString)">All</a></li>
    }
    @if (features.Contains(Features.Accounting.Analytics))
    {
        <li role="presentation" class="@Html.IsActive("Analytics", "", "Invoices")"><a href="~/Invoices/Analytics?@(Request.QueryString)">Analytics</a></li>
    }
</ul>
<section class="tab-content">
    <div role="tabpanel" class="tab-pane active panel-body">
        @RenderBody()
    </div>
</section>
@section Scripts {

    @RenderSection("scripts", required: false)

}