@using MVCGrid.Models
@using WebApp.Library
@model RenderingModel

@{ 
    var features =  ContextPerRequest.AuthorizedFeatures;
}

@helper SortImage(Column col)
{
if (col.SortIconDirection.HasValue)
{
    switch (col.SortIconDirection)
    {
        case MVCGrid.Models.SortDirection.Asc:
                <img src='@(Model.HandlerPath)/sortup.png' alt='Sort up' class='pull-right' />
            break;
        case MVCGrid.Models.SortDirection.Dsc:
                <img src='@(Model.HandlerPath)/sortdown.png' alt='Sort down' class='pull-right' />
            break;
        case MVCGrid.Models.SortDirection.Unspecified:
                <img src='@(Model.HandlerPath)/sort.png' alt='Sort' class='pull-right' />
            break;
    }
}
}

@helper PageLink(int pageNum, string link, int currentPage)
{
string cls = "";
if (pageNum == currentPage)
{
    cls = "active";
}

var liClassAttr = !String.IsNullOrWhiteSpace(cls) ? String.Format(" class='{0}'", cls) : "";
    <li@(Html.Raw(liClassAttr))>
        <a href='#' aria-label='Page @pageNum' onclick='@Html.Raw(link)'>@pageNum</a>
        </li>
}
@helper PageNextLink(int pageToEnd, PagingModel pagingModel)
{
string cls = "";
if (pageToEnd == pagingModel.CurrentPage)
{
    cls = "disabled";
}
string onclick = "";
if (pageToEnd > pagingModel.CurrentPage)
{
    onclick = pagingModel.PageLinks[pagingModel.CurrentPage + 1];
}

        <li class='@Html.Raw(cls)'>
            <a href='#' aria-label='Next page' onclick='@(Html.Raw(onclick))'><span aria-hidden='true'>Next &raquo;</span></a>
        </li>
}
@helper PagePreviousLink(int pageToStart, PagingModel pagingModel)
{
string cls = "";
if (pageToStart == pagingModel.CurrentPage)
{
    cls = "disabled";
}
string onclick = "";
if (pageToStart < pagingModel.CurrentPage)
{
    onclick = pagingModel.PageLinks[pagingModel.CurrentPage - 1];
}

        <li class='@Html.Raw(cls)'>
            <a href='#' aria-label='Previous page' onclick='@(Html.Raw(onclick))'><span aria-hidden='true'>&laquo; Previous</span></a>
        </li>
}

@functions {
    string ColumnOnClick(Column col)
    {
        if (col.Onclick != null)
        {
            return col.Onclick;
        }
        return "return false;";
    }

    string ColumnStyle(Column col)
    {
        if (col.Onclick != null)
        {
            return "cursor: pointer;";
        }
        return "";
    }

    string RowClass(Row row)
    {
        if (row.CalculatedCssClass != null)
        {
            return row.CalculatedCssClass;
        }
        return "";
    }

    string CellClass(Cell cell)
    {
        if (cell.CalculatedCssClass != null)
        {
            return cell.CalculatedCssClass;
        }
        return "";
    }
}

<!--Partial View!-->
<table id='@Model.TableHtmlId' class='table table-striped table-bordered table-hover'>
    <thead>
        <tr>
            @foreach (var col in Model.Columns)
            {
                var thStyleAttr = !String.IsNullOrWhiteSpace(ColumnStyle(col)) ? String.Format(" style='{0}'", ColumnStyle(col)) : "";
                <th onclick='@Html.Raw(ColumnOnClick(col))' @(Html.Raw(thStyleAttr))>@col.HeaderText @(SortImage(col))</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            var trClassAttr = !String.IsNullOrWhiteSpace(RowClass(row)) ? String.Format(" class='{0}'", RowClass(row)) : "";
            <tr@(Html.Raw(trClassAttr))>
                @foreach (var col in Model.Columns)
                {
                    var cell = row.Cells[col.Name];
                    var tdClassAttr = !String.IsNullOrWhiteSpace(CellClass(cell)) ? String.Format(" class='{0}'", CellClass(cell)) : "";
                    if (col.Name == "IsDone")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr)) width="20px">
                            <form action="~/ServiceRequestTask/ToggleCompleted" method="post" class="pull-left">
                                @Html.Hidden("serviceRequestTaskId", task.Id)
                                <span class="checkbox" style="margin-top:0px; margin-bottom:0px;">
                                    <label>
                                        <input id="task-checkbox-@task.Id" type="checkbox"
                                               name="isChecked"
                                               value="@(task.TaskStatusId == TaskStatuses.Done)"
                                               @(task.TaskStatusId == TaskStatuses.Done ? "checked" : "")
                                               onclick="toggleCompleted(this)">
                                    </label>
                                </span>
                            </form>
                        </td>
                    }
                    else if (col.Name == "AssignedTo")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr)) width="50px">
                            @if (task.TaskId == Tasks.AssessmentDay)
                            {
                                <span class="btn btn-sm btn-circle">
                                    <i class="fa fa-calendar fa-lg"></i>
                                </span>
                            }
                            else
                            {
                                @Html.Partial("_Initials2", task.AssignedTo == null ? new LookupViewModel<Guid>() : task.AssignedTo)
                            }
                        </td>
                    }
                    else if (col.Name == "Id")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr)) width="20px">
                            @Html.Partial("~/Views/ServiceRequestTask/Components/TaskActionMenu.cshtml", task)
                            </td>
                    }
                    else if (col.Name == "Physician")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr)) >
                            @Html.Partial("_Initials2", task.Physician == null ? new LookupViewModel<Guid>() : task.Physician)
                            </td>
                    }
                    else if (col.Name == "TaskStatusId")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr)) width="100px" title="@("Due on " + task.DueDate.ToOrvosiDateFormat() + ". Last changed by " + (task.TaskStatusChangedDate.HasValue ? task.TaskStatusChangedBy.Name + " on " + task.TaskStatusChangedDate.Value.ToString("ddd, MMM dd") + " at " + task.TaskStatusChangedDate.Value.ToShortTimeString() : "was not recorded"))">
                            @Html.Partial("~/Views/Shared/_TaskStatusLabel2.cshtml", task.TaskStatusId)
                            </td>
                    }
                    else if (col.Name == "ClaimantName")
                    {
                        var task = Newtonsoft.Json.JsonConvert.DeserializeObject<TaskGridRow>(cell.PlainText);
                        <td@(Html.Raw(tdClassAttr))>
                            <a style="cursor:pointer;" onclick="showCaseDetails(@task.ServiceRequestId)">@task.ClaimantName</a>
                            @if (task.HasNotes)
                            {
                                <i class="fa fa-sticky-note" style="color:goldenrod;"></i>
                            }
                        </td>
                    }
                    else
                    {
                        <td@(Html.Raw(tdClassAttr))>
                            @Html.Raw(cell.HtmlText)
                            </td>
                    }
                }
                </tr>
        }
</tbody>
</table>

@if (Model.PagingModel != null)
{
    var pagingModel = Model.PagingModel;
    int pageToStart;
    int pageToEnd;
    pagingModel.CalculatePageStartAndEnd(5, out pageToStart, out pageToEnd);

    <div class='row'>
        <div class='col-xs-6'>
            Showing @pagingModel.FirstRecord to @pagingModel.LastRecord of @pagingModel.TotalRecords entries
        </div>
        <div class='col-xs-6'>
            <ul class='pagination pull-right' role='navigation' aria-label='Pagination' style='margin-top: 0;'>
                @PagePreviousLink(pageToStart, pagingModel)
                @for (int i = pageToStart; i <= pageToEnd; i++)
                {
                    @PageLink(i, pagingModel.PageLinks[i], pagingModel.CurrentPage)
                }
                @PageNextLink(pageToEnd, pagingModel)
            </ul>
        </div>
    </div>
}

@Html.Raw(Model.ClientDataTransferHtmlBlock)
