
@model Orvosi.Shared.Model.InvoiceDetail
<form id="edit-invoice-item-form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            <span>Invoice Number: @Model.Invoice.InvoiceNumber</span>
        </h4>
    </div>
    <div class="modal-body">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <input type="hidden" id="InvoiceId" name="Invoice.Id" value="@Model.Invoice.Id" />
        <input type="hidden" id="ServiceRequestId" name="ServiceRequestId" value="@Model.ServiceRequestId" />
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea id="Description" name="Description" class="form-control" rows="3">@Html.Raw(Model.Description)</textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Amount</label>
            <input type="text" class="form-control" id="Amount" name="Amount" value="@Model.Amount" />
        </div>
        <div class="form-group" id="rate-form-group">
            <label class="control-label">Rate</label>
            <input type="text" class="form-control" id="Rate" name="Rate" value="@Model.Rate" />
            <div class="help-block">Less than 1 will be applied as a percentage. Greater than 1, the rate will override the amount.</div>
        </div>
        <div class="form-group">
            <label class="control-label">Note</label>
            <textarea id="AdditionalNotes" name="AdditionalNotes" class="form-control" rows="3">@Html.Raw(Model.AdditionalNotes)</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-success" type="button" onclick="invoiceItemSaveChanges()" value="Save" />
    </div>
</form>