<!-- THIS IS USED IN THE Accounting/_Layout.cshtml-->
<div class="row">
    <div class="col-md-12">
        <div><strong>@Model.InvoiceNumber</strong></div>
        <div><strong>@Model.Service.Code</strong> <strong>@Model.ClaimantName</strong></div>
        <div class="text-muted"><em>@Model.InvoiceDate.ToOrvosiDateFormat()</em> @(Model.Customer.City)</div>
    </div>
</div>