@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest

@{ 
    var assessment = Model;
}
<div class="row o-dashboard-tr" id="service-request-@assessment.Id">
    <div class="col-md-2 o-dashboard-td">
        <div><strong>@assessment.ClaimantName</strong> (<a target="_blank" class="small" href="~/ServiceRequest/Details/@assessment.Id">@assessment.Id</a>)</div>
        <strong style="color: @assessment.Service.ColorCode;">@assessment.Service.Code</strong>
        -
        <span>@assessment.Company.Name</span>
        <div>
            @(assessment.AppointmentDate.HasValue ? assessment.AppointmentDate.ToOrvosiDateFormat() : assessment.DueDate.ToOrvosiDateFormat()) @assessment.StartTime.ToShortTimeSafe()
        </div>
    </div>
    @if (assessment.InvoiceDetails.Count() == 0)
    {
        <div class="col-md-5 o-dashboard-td">
            <form action="~/Invoice/Create" method="post" class="form-horizontal">
                @Html.Hidden("Id", assessment.Id)
                <div class="form-group">
                    <label class="control-label col-md-2" style="text-align:left;">Catalogue Price</label>
                    <div class="col-md-2"><input class="form-control input-sm" type="text" name="Price" value="@assessment.ServiceCataloguePrice" placeholder="Override Price" /></div>
                </div>
                @if (assessment.IsNoShow)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">No Show Rate</label>
                        <div class="col-md-2">
                            <input class="form-control input-sm" type="text" name="NoShowRate" value="@assessment.NoShowRate" placeholder="Override Rate" />
                        </div>
                    </div>
                }
                else if (assessment.IsLateCancellation)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2" style="text-align:left;">Late Cancellation Rate</label>
                        <div class="col-md-2"><input class="form-control input-sm" type="text" name="LateCancellationRate" value="@assessment.LateCancellationRate" placeholder="Override Rate" /></div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(assessment.Notes))
                {
                    <div class="text-danger form-group">
                        <i class="fa fa-exclamation"></i> @assessment.Notes
                    </div>
                }
                <div class="form-group">
                    <input type="submit" class="btn btn-danger col-md-4" name="Create" value="Add Invoice" />
                </div>
            </form>
        </div>
    }
    else
    {
        foreach (var detail in assessment.InvoiceDetails)
        {
            <div class="col-md-1 o-dashboard-td">
                <strong>@detail.Invoice.InvoiceNumber</strong>
                <div>@detail.Invoice.InvoiceDate.ToOrvosiDateFormat()</div>
            </div>
                        <div class="col-md-1 o-dashboard-td" style="text-align: right;">
                            @if (assessment.IsNoShow || assessment.IsLateCancellation)
                            {
                                <span>
                                    @string.Format("{0} of {1}", detail.Rate.ToString("0%"), detail.Amount.ToString("C2"))
                                </span>
                                if (assessment.ServiceStatusId.HasValue)
                                {
                                    <div>
                                        @Html.Partial("_ServiceStatusLabel", assessment.ServiceStatusId.Value)
                                    </div>
                                }
                            }
                            else
                            {
                                <span>
                                    @detail.Amount.ToString("C2")
                                </span>
                            }
                        </div>
                        <div class="col-md-1 o-dashboard-td" style="text-align: right;">
                            @detail.Invoice.SubTotal.Value.ToString("C2")
                        </div>
                        <div class="col-md-1 o-dashboard-td" style="text-align: right;">
                            <span class="small text-muted">(@detail.Invoice.TaxRateHst.Value.ToString("0%"))</span>
                            <span>@detail.Invoice.Hst.Value.ToString("C2")</span>
                        </div>
                        <div class="col-md-1 o-dashboard-td" style="text-align: right;">
                            <div>
                                @detail.Invoice.Total.Value.ToString("C2")
                            </div>
                        </div>
            if (detail.Invoice.SentDate.HasValue)
            {
                <div class="col-md-3 o-dashboard-td" style="text-align: center;">
                    <div>
                        <i class="fa fa-check fa-3x" style="color:green;"></i>
                    </div>
                    <div>Sent @detail.Invoice.SentDate.ToOrvosiDateTimeFormat()</div>
                </div>
            }
            else
            {
                <div class="col-md-3 o-dashboard-td" style="text-align: center;">
                    <div>
                        <button class="btn btn-primary" onclick="onSend(this, @detail.Invoice.Id)"><i class="fa fa-send"></i> Send</button>
                    </div>
                    <div class="help-block small">
                        To: <strong>@detail.Invoice.Customer.BillingEmail</strong>
                    </div>
                </div>
            }
            <div class="col-md-1 o-dashboard-td" style="text-align: center;">
                <button class="btn btn-default" style="border: none;" onclick="onEdit(@detail.Id)">
                    <i class="fa fa-pencil fa-lg"></i>
                </button>
            </div>
        }
    }
</div>
