@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest

@{
    var assessment = Model;
}
<div id="service-request-@assessment.Id">
    <h4>
        <a target="_blank" href="~/ServiceRequest/Details/@assessment.Id">@assessment.ClaimantName (@assessment.Id)</a>
    </h4>
    <div style="color: @assessment.Service.ColorCode;">@assessment.Service.Name</div>

    <div>@assessment.Company.Name</div>
    @if (assessment.Address != null)
    {
        <div>
            <span>@Model.Address.City</span><span>, </span><span>@Model.Address.ProvinceCode.Split('-')[1]</span>
        </div>
    }
    @if (assessment.ServiceStatusId.HasValue)
    {
        <div>
            @Html.Partial("_ServiceStatusLabel", assessment.ServiceStatusId.Value)
        </div>
    }
    @if (!string.IsNullOrEmpty(assessment.Notes))
    {
        <div class="text-danger form-group">
            <i class="fa fa-exclamation"></i> @assessment.Notes
        </div>
    }
</div>
