@using WebApp.Library.Extensions
@using Orvosi.Shared.Enums
@model IEnumerable<Orvosi.Shared.Model.UnsentInvoiceDayFolder>
@{
    Layout = "~/Views/Accounting/_Layout.cshtml";

    var roleId = User.Identity.GetRoleId();
}

@if (Model.Count() == 0)
{
    <p><strong>There are no invoices that need to be sent out.</strong></p>
}
else
{
    <p><strong>@Model.Sum(day => day.UnsentInvoices.Count())</strong> invoices</p>
}

@foreach (var dayFolder in Model)
{
    <div class="row o-th" style="background-color: aliceblue">
        <div class="col-md-12">
            <div class="h3">
                @dayFolder.DayFormatted_MMMdd<span class="small"> @dayFolder.DayFormatted_dddd</span>
            </div>
        </div>
    </div>
    <div class="row o-dashboard-tr">
        <strong class="col-md-2 o-dashboard-td bg-warning">Case</strong>
        <strong class="col-md-2 o-dashboard-td">Header</strong>
        <strong class="col-md-4 o-dashboard-td">Items</strong>
        <strong class="col-md-2 o-dashboard-td">Total</strong>
        <strong class="col-md-2 o-dashboard-td text-right">Actions</strong>
    </div>

    foreach (var unsentInvoice in dayFolder.UnsentInvoices)
    {
        <div class="row o-dashboard-tr">
            <div class="col-md-2 o-dashboard-td bg-warning">
                @if (unsentInvoice.ServiceRequest != null)
                {
                    @Html.Partial("_ServiceRequest", unsentInvoice.ServiceRequest)
                }
                else
                {
                    <div>Invoice has no related service request</div>
                }
            </div>
            @if (unsentInvoice.Invoice != null)
            {
                <div class="col-md-8 o-dashboard-td">
                    @Html.Partial("_Invoice", unsentInvoice.Invoice)
                </div>
                <div class="col-md-2 o-dashboard-td">
                    <div class="pull-right dropdown">
                        <button class="btn btn-default" data-toggle="dropdown" data-target="">
                            <i class="fa fa-ellipsis-h fa-lg"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="~/Accounting/PreviewInvoice/@unsentInvoice.Invoice.InvoiceGuid" target="_blank">
                                    <i class="fa fa-eye"></i> &nbsp;Preview
                                </a>
                            </li>
                            <li>
                                <a href="~/Invoice/DownloadBody/@unsentInvoice.Invoice.InvoiceGuid" target="_blank">
                                    <i class="fa fa-download"></i> &nbsp;Download
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a onclick="onEditInvoiceHeader(@unsentInvoice.Invoice.Id)" style="cursor:pointer;">
                                    <i class="fa fa-pencil"></i> &nbsp;Edit Header
                                </a>
                            </li>
                            <li>
                                <a onclick="onAddInvoiceItem(@unsentInvoice.Invoice.Id)" style="cursor:pointer;">
                                    <i class="fa fa-plus"></i> &nbsp;Add Item
                                </a>
                            </li>
                        </ul>
                    </div>
                    @if (unsentInvoice.Invoice.SentDate.HasValue)
                    {
                        <div>
                            <i class="fa fa-check fa-3x" style="color:green;"></i>
                        </div>
                        <div>Sent @unsentInvoice.Invoice.SentDate.ToOrvosiDateTimeFormat()</div>
                    }
                    else if (unsentInvoice.ServiceRequest.ServiceRequestTasks.Any(srt => srt.ProcessTask.Id == Tasks.SubmitInvoice && srt.CompletedDate.HasValue))
                    {
                        <div>
                            <i class="fa fa-check fa-3x" style="color:green;"></i>
                        </div>
                        <div>Submit Invoice task checked off on @unsentInvoice.ServiceRequest.ServiceRequestTasks.Single(srt => srt.ProcessTask.Id == Tasks.SubmitInvoice).CompletedDate.ToOrvosiDateTimeFormat()</div>
                    }
                    else
                    {
                        <div class="pull-right">
                            <form id="send-invoice-form-@unsentInvoice.Invoice.Id">
                                <input type="hidden" value="@unsentInvoice.ServiceRequest.Id" id="ServiceRequestId" name="ServiceRequestId" />
                                <input type="hidden" value="@unsentInvoice.Invoice.Id" id="InvoiceId" name="InvoiceId" />
                                <div>
                                    <button type="button" class="btn btn-primary" onclick="onSend(@unsentInvoice.Invoice.Id)"><i class="fa fa-2x fa-send"></i></button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="col-md-push-8 col-md-2 o-dashboard-td">
                    <div class="pull-right">
                        <form action="~/Invoice/Create" method="post" class="form-horizontal">
                            @Html.Hidden("Id", unsentInvoice.ServiceRequest.Id)
                            <div class="form-group">
                                <button type="button" class="btn btn-success" name="Create" onclick="onCreate(@unsentInvoice.ServiceRequest.Id)"><i class="fa fa-3x fa-plus"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
}

<div class="modal fade" id="edit-invoice-header-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="edit-invoice-header-form"></form>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-invoice-item-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="edit-invoice-item-form"></form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">


        function onSend(invoiceId) {
            var url = '@Url.Content("~/Accounting/SendInvoice")';
            var form = $("#send-invoice-form-" + invoiceId);
            var serviceRequestId = form.find('#ServiceRequestId').val();

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function () {
                    toastr.success("Invoice sent successfully");
                    refreshServiceRequest(serviceRequestId);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            });
        }

        function onCreate(serviceRequestId) {
            var url = '@Url.Content("~/Accounting/Create")';

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    serviceRequestId: serviceRequestId
                }, // serializes the form's elements.
                success: function () {
                    toastr.success("Invoice created successfully");
                    refreshServiceRequest(serviceRequestId);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            });
        }

        function onEditInvoiceHeader(invoiceId) {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Content("~/Accounting/EditInvoiceHeader?invoiceId=")' + invoiceId,
                contentType: "text/html",
                success: function (result) {

                    var modalDiv = $("#edit-invoice-header-modal");
                    var formContainer = $("#edit-invoice-header-form");

                    formContainer.replaceWith(result);

                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            }, this);
        }

        function invoiceHeaderSaveChanges() {
            var url = '@Url.Content("~/Accounting/EditInvoiceHeader")';
            var form = $('#edit-invoice-header-form');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function () {
                    toastr.success("Invoice updated successfully");
                    $("#edit-invoice-header-modal").modal('toggle');
                    refreshInvoice(form.find('#Id').val());
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            });
        }

        function onEditInvoiceItem(invoiceDetailId) {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Content("~/Accounting/EditInvoiceItem?invoiceDetailId=")' + invoiceDetailId,
                contentType: "text/html",
                success: function (result) {

                    var modalDiv = $("#edit-invoice-item-modal");
                    var formContainer = $("#edit-invoice-item-form");

                    formContainer.replaceWith(result);

                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            }, this);
        }

        function onAddInvoiceItem(invoiceId) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Content("~/Accounting/AddInvoiceItem?invoiceId=")' + invoiceId,
                success: function (result) {
                    onEditInvoiceItem(result.data.Id);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            }, this);
        }

        function onDeleteInvoiceItem(invoiceDetailId, invoiceId) {
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Content("~/Accounting/DeleteInvoiceItem?invoiceDetailId=")' + invoiceDetailId,
                success: function (result) {
                    refreshInvoice(invoiceId);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            }, this);
        }

        function invoiceItemSaveChanges() {
            var url = '@Url.Content("~/Accounting/EditInvoiceItem")';
            var form = $('#edit-invoice-item-form');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function () {
                    toastr.success("Invoice item updated successfully");
                    $("#edit-invoice-item-modal").modal('toggle');
                    refreshInvoice(form.find('#InvoiceId').val());
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    toastr.error("Something went wrong.");
                }
            });
        }

        function onEdit(invoiceId, isNoShow, isLateCancellation) {

            if (isNoShow || isLateCancellation) {
                $('#rate-form-group').css({ 'display': 'block' })
            }
            else {
                $('#rate-form-group').css({ 'display': 'none' })
            }

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Accounting/Edit?invoiceId=")' + invoiceId,
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    var modalDiv = $("#edit-modal");
                    modalDiv.find('#ServiceRequestId').val(result.ServiceRequestId); // hidden field
                    modalDiv.find('#InvoiceNumber').html(result.InvoiceNumber);
                    modalDiv.find('#ClaimantName').html(result.ClaimantName);
                    modalDiv.find('#AdditionalNotes').val(result.AdditionalNotes);

                    var form = $('#edit-invoice-form');
                    form.find('#Id').val(result.Id);
                    form.find('#To').val(result.To);
                    $('#InvoiceDatePicker').datepicker('setDate', result.InvoiceDate);
                    form.find('#Amount').val(result.Amount);
                    if (isNoShow || isLateCancellation) {
                        form.find('#Rate').val(result.Rate);
                    }

                    modalDiv.modal('toggle');
                },
                error: function (err) {
                    alert(err.status + " - " + err.statusText);
                }
            }, this);
        }

        function refreshServiceRequest(serviceRequestId) {

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Accounting/ServiceRequest?serviceProviderId=" + ViewBag.SelectedUserId)&serviceRequestId=' + serviceRequestId,
                contentType: "text/html",
                success: function (result) {
                    $('#service-request-' + serviceRequestId).replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);
        }

        function refreshInvoice(invoiceId) {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Accounting/Invoice?invoiceId=")' + invoiceId,
                contentType: "text/html",
                success: function (result) {
                    $('#invoice-' + invoiceId).replaceWith(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);
        }
</script>
}
