@model CalendarNavigationViewModel

@functions{
    string IsActive(string selectedDate, string month) {
        return selectedDate == month ? "active" : string.Empty;
    }
}
<div class="list-group">
    @foreach (var month in Model.Months)
    {
        <a style="cursor:pointer;" onclick="navigateToMonth('@month.Id')" class="list-group-item @IsActive(Model.SelectedDate, month.Id)">@month.Text</a>
    }
</div>
@*<div style="display:flex; padding-top:10px; padding-bottom:10px;">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" onclick="navigateToMonth('@Model.PreviousMonth')" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
            <button type="button" onclick="navigateToMonth('@Model.NextMonth')" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="input-group date" style="width:100%" id="calendar-navigation-datepicker">
            <input class="form-control"
                   data-val="true"
                   data-val-required="The Day field is required."
                   size="10"
                   type="text"
                   value="@Model.SelectedMonth">
            <input type="hidden" id="selected-month" name="SelectedDate" />
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <div class="input-group-btn">
            <button type="button" onclick="navigateToMonth('@Model.ThisMonth')" class="btn btn-default">This Month</button>
        </div>
    </div>
</div>*@