@using WebApp.Library.Extensions
@using Orvosi.Shared.Enums.Features
@model InvoiceViewModel

@{
    var features = User.Identity.GetFeatures();
}

@if (Model == null)
{
    <div class="text-muted">Create invoice</div>
}
else
{
<div class="row" id="invoice-@Model.Id">
    <div class="col-md-3">
        <div>@Model.InvoiceNumber</div>
        <div>@Model.InvoiceDate.ToOrvosiDateFormat()</div>
        <div>NET @Model.Terms days</div>
        <strong>@Model.Customer.BillingEmail</strong><br /> 
        @(Model.Customer.City), @Model.Customer.Province
        @if (Model.IsDeleted)
        {
            <div class="label label-danger">Cancelled</div>
        }
    </div>
    <div class="col-md-6">

        <table class="table table-striped">
            @foreach (var detail in Model.InvoiceDetails)
            {
                <tr>
                    <td>
                        <span style="white-space: pre-line">@detail.Description</span>
                        <div class="text-danger">@detail.DiscountDescription</div>
                        @if (!string.IsNullOrEmpty(detail.AdditionalNotes))
                        {
                            <div><b>Notes:</b> <div>@detail.AdditionalNotes</div></div>
                        }
                    </td>
                    <td class="text-right">
                        <span>
                            @detail.Total.ToString("C2")
                        </span>
                    </td>
                    <td class="text-right">
                        @if (features.Contains(Accounting.EditInvoice))
                        {
                            <a onclick="onEditInvoiceItem(@detail.Id, @Model.Id)" style="cursor:pointer;">
                                <i class="fa fa-pencil"></i>
                            </a>
                            if (!detail.ServiceRequestId.HasValue)
                            {
                                <a onclick="onDeleteInvoiceItem(@detail.Id, @Model.Id, @detail.ServiceRequestId)" style="cursor:pointer;">
                                    <i class="fa fa-remove"></i>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="col-md-3">
        <dl class="dl-horizontal dl-clear-margins">
            <dt class="text-right">Sub Total</dt>
            <dd class="text-right">@Model.SubTotal.Value.ToString("C2")</dd>
            <dt class="text-right">Tax (@(Model.TaxRateHst.Value.ToString("0%")))</dt>
            <dd class="text-right">@Model.Hst.Value.ToString("C2")</dd>
        </dl>
        <hr class="hr-smaller-margins" />
        <dl class="dl-horizontal dl-clear-margins">
            <dt class="text-right">Total</dt>
            <dd class="text-right">@Model.Total.Value.ToString("C2")</dd>
            @if (Model.IsSent)
            {
                <dt class="text-right">Amount Paid</dt>
                <dd class="text-right">@Model.AmountPaid.ToString("C2")</dd>
                <dt class="text-right">Outstanding Balance</dt>
                <dd class="text-right">@Model.OutstandingBalance.ToString("C2")</dd>
            }
        </dl>
    </div>
</div>
}