@using WebApp.Library
@using WebApp.Views.ServiceRequestTask.Components
@using Features = Orvosi.Shared.Enums.Features
@model TaskListViewModel

@{
    var features = Model.AuthorizedFeatures;
}

@functions {
    string IsOverdue(TaskViewModel task)
    {
        return task.IsOverdue || task.IsDueToday ? "text-danger" : "";
    }
    string IsSelected(int taskId)
    {
        int selectedTask;
        if (int.TryParse(this.Request.QueryString.Get("selectedTask"), out selectedTask))
        {
            return taskId == selectedTask ? "bg-info" : "";
        }
        return "";
    }
}

@if (Model.Tasks.Count() == 0)
{
    <div>No tasks are assigned to you.</div>
}
<div class="panel">
    <div class="panel-body">
        <table class="table table-condensed" style="cursor:pointer;">
            @foreach (var task in Model.Tasks)
            {
                <tr id="tasklist-row-@(task.Id)" onclick="selectTask(@(task.Id) , @task.ServiceRequestId)" class="@IsSelected(task.Id)">
                    <td>
                        @Html.Partial("ServiceRequest/TaskList/TaskActionMenu", task.ActionMenu)
                    </td>
                    <td width="50px">
                        @if (task.TaskId == Tasks.AssessmentDay)
                        {
                            <span class="btn btn-sm btn-circle">
                                <i class="fa fa-calendar fa-lg"></i>
                            </span>
                        }
                        else
                        {
                            @Html.Partial("ServiceRequest/TaskList/AssignedTo", task.AssignedTo)
                        }
                    </td>
                    <td width="20px">
                        @if (features.Contains(Features.ServiceRequest.UpdateTaskStatus))
                        {
                            <form action="~/ServiceRequestTask/ToggleCompleted" method="post" class="pull-left">
                                @Html.Hidden("serviceRequestTaskId", task.Id)
                                <span class="checkbox" style="margin-top:0px; margin-bottom:0px;">
                                    <label>
                                        <input id="task-checkbox-@task.Id" type="checkbox"
                                               name="isChecked"
                                               value="@task.IsCheckedValue"
                                               @task.IsCheckedChecked
                                               @*@(task.StatusId == TaskStatuses.Waiting || task.StatusId == TaskStatuses.Obsolete ? "disabled" : "")*@
                                               onclick="toggleCompleted(event, this)">
                                    </label>
                                </span>
                            </form>
                        }
                    </td>
                    <td width="100px" data-toggle="tooltip" title="@task.TaskStatusMessage">
                        @Html.Partial("ServiceRequest/TaskList/TaskStatusLabel", task.StatusId)
                    </td>
                    <td>
                        <span style="@task.Style_TaskName">@task.Name</span>
                        &nbsp;&nbsp;
                        <small style="@task.Style_TaskDueDate" class="text-muted">@task.DueDate</small>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ container: 'body' });
    })
</script>