@model PhysicianFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Physician
    </h4>
</div>
<div class="modal-body">
    <form id="physician-form">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="control-label">Company Name</label>
            <div>
                @Html.TextBox("Company", Model.Company, new { @class = "form-control" })
                @Html.ValidationMessage("Company", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Company Name</label>
            <div>
                <p class="form-control-static">@Model.CompanyName</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <div>
                <p class="form-control-static">@Model.Code</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Color</label>
            <div>
                <input type="color" id="ColorCode" name="ColorCode" disabled class="form-control" value="@Model.ColorCode" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Manager</label>
            <div>
                <p class="form-control-static">@Model.Manager.Name</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" onclick="saveNewTeamMemberForm($('#newphysician-form'))" class="btn btn-primary">Save</button>
</div>