@using Enums = ImeHub.Models.Enums
@model ReadOnlyViewModel

<div>
    <form id="physician-readonly-form">
        <div class="form-group">
            <label class="control-label">Company Name</label>
            <div>
                <p class="form-control-static">@Model.CompanyName</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <div>
                <p class="form-control-static">@Model.Code</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Color</label>
            <div>
                <input type="color" id="ColorCode" name="ColorCode" disabled class="form-control" value="@Model.ColorCode" style="max-width:100px;" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Owner</label>
            <div>
                @if (Model.Owner == null)
                {
                    <p class="form-control-static text-muted text">Not set</p>

                }
                else
                {
                    <div>
                        @if (Model.Owner.AcceptanceStatusId == Enums.AcceptanceStatus.NotSent)
                        {
                            <span>Invite was prepared but has <strong>not been sent</strong>.</span>
                        }
                        else if (Model.Owner.AcceptanceStatusId == Enums.AcceptanceStatus.NotResponded)
                        {
                            <span>Invite was sent to @Model.Owner.Email on @Model.Owner.AcceptanceStatusChangedDate and has <strong>not responded</strong>.</span>
                        }
                        else if (Model.Owner.AcceptanceStatusId == Enums.AcceptanceStatus.Rejected)
                        {
                            <span>Invite was sent to @Model.Owner.Email on @Model.Owner.AcceptanceStatusChangedDate</span>
                        }
                        else
                        {
                            <span>Invite was accepted by @Model.Owner.Email on @Model.Owner.AcceptanceStatusChangedDate</span>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Manager</label>
            <div>
                <p class="form-control-static">@Model.Manager.Name</p>
            </div>
        </div>
    </form>
</div>
