@model ReadOnlyViewModel

<div style="margin-bottom: 15px;">
    <div class="btn-group">
        <button type="button" class="btn btn-default" onclick="showEditPhysicianForm('@Model.Id')">Edit</button>
        <button type="button" class="btn btn-default">Delete</button>
    </div>
</div>
<div>
    <form id="physician-readonly-form">
        <div class="form-group">
            <label class="control-label">Company Name</label>
            <div>
                <p class="form-control-static">@Model.CompanyName</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Owner</label>
            <div>
                @if (Model.OwnerId.HasValue)
                {
                    <p class="form-control-static">@Model.Owner.Name</p>
                }
                else if (Model.OwnerInvites.Any())
                {
                    foreach (var invite in Model.OwnerInvites)
                    {
                        @Html.Partial("OwnerInvitation", invite)
                    }
                }
                else
                {
                    <button type="button" onclick="showOwnerInvitationForm('@Model.Id')">Send Invitation to Physician</button>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Manager</label>
            <div>
                <p class="form-control-static">@Model.Manager.Name</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <div>
                <p class="form-control-static">@Model.Code</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Color</label>
            <div>
                <input type="color" id="ColorCode" name="ColorCode" disabled class="form-control" value="@Model.ColorCode" />
            </div>
        </div>
    </form>
</div>
