@using WebApp.FormModels
@using WebApp.Library
@using Orvosi.Data
@model ChangeServiceForm

@{
    var viewDataService = DependencyResolver.Current.GetService<ViewDataService>();
    var services = viewDataService.GetPhysicianServiceSelectList(Model.PhysicianId);
    var medicolegalTypes = viewDataService.GetMedicolegalTypes();
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Service
    </h4>
</div>
<div class="modal-body">
    <form id="service-form">
        @Html.Hidden("ServiceRequestId", Model.ServiceRequestId)
        <div class="form-group">
            <label class="control-label">Service</label>
            @Html.DropDownList("ServiceId", new SelectList(services, "Value", "Text", Model.ServiceId), string.Empty, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Plaintiff/Defense (Only applicable to Medicolegals</label>
            @foreach (var mt in medicolegalTypes)
            {
                <div class="radio">
                    <label><input type="radio" name="MedicolegalTypeId" value="@mt.Id.ToString()" checked="@(Model.MedicolegalTypeId == mt.Id)">@mt.Name</label>
                </div>
            }
            @Html.ValidationMessageFor(c => c.MedicolegalTypeId, "", new { @class = "text-danger" })
            @*Html.DropDownList("MedicolegalTypeId", new SelectList(medicolegalTypes, "Value", "Text", Model.MedicolegalTypeId), string.Empty, new { @class = "form-control" })*@
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-success" onclick="saveService($('#service-form'), false)">Save</button>
</div>