@model List<Model.InvoiceDetail>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Physician</th>
            <th>Company</th>
            <th>Invoice #</th>
            <th>Invoice Date</th>
            <th>Details</th>
            <th>Total (Before Tax)</th>
            <th>Submitted</th>
            <th>Payment Received</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>
                    <a href="~/Invoice/Edit/@detail.Invoice.Id" class="btn btn-primary btn-sm">Edit</a>
                </td>
                <td>@detail.Invoice.ServiceProviderName</td>
                <td>@detail.Invoice.CustomerName</td>
                <td>@detail.Invoice.InvoiceNumber</td>
                <td>@detail.Invoice.InvoiceDate.GetDateTimeFormats('d')[0]</td>
                <td><span class="invoice-description">@Html.Raw(detail.Description)</span></td>
                <td>@detail.Invoice.SubTotal</td>
                <td>
                    @if (detail.Invoice.SentDate.HasValue)
                    {
                        <div>
                            <span class="glyphicon glyphicon-ok" style="font-size: 200%; padding-top: 10px"></span>
                            @detail.Invoice.SentDate.Value.GetDateTimeFormats('d')[0]
                        </div>
                    }
                    else
                    {
                        @Ajax.ActionLink("Submit", "Submit", "Invoice", new { id = detail.InvoiceId }, new AjaxOptions { HttpMethod="Post", InsertionMode = InsertionMode.InsertAfter });

                    }
                </td>
                <td>
                    @(detail.Invoice.PaymentReceivedDate.HasValue ? detail.Invoice.PaymentReceivedDate.Value.GetDateTimeFormats('d')[0] : "Pending")
                </td>
            </tr>
        }
    </tbody>
</table>

