@using WebApp.Library.Extensions
@using e = Model.Enums
@model Orvosi.Data.Invoice

@if (Model.SentDate.HasValue)
{
    <dl class="dl-horizontal">
        <dt>Submitted Date</dt>
        <dd><span class="alert alert-success alert-sm"><i class="glyphicon glyphicon-ok"></i> @Model.SentDate.ToOrvosiDateTimeFormat()</span></dd>
    </dl>
}
<dl class="dl-horizontal dl-clear-margins">
    <dt>Invoice Date</dt>
    <dd>@Model.InvoiceDate.ToOrvosiDateFormat()</dd>
</dl>
<hr class="hr-smaller-margins"/>
<dl class="dl-horizontal dl-clear-margins">
    <dt>Sub Total</dt>
    <dd>@Model.SubTotal</dd>
    <dt>Tax (@(Model.TaxRateHst)%)</dt>
    <dd>@Model.Hst</dd>
</dl>
<hr class="hr-smaller-margins" />
<dl class="dl-horizontal dl-clear-margins">
    <dt>Total</dt>
    <dd>@Model.Total</dd>
</dl>