@using WebApp.Library.Extensions
@model List<Model.Invoice>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Physician</th>
            <th>Company</th>
            <th>Invoice #</th>
            <th>Invoice Date</th>
            <th>Total (Before tax)</th>
            <th>Tax Rate</th>
            <th>Total (After tax)</th>
            <th>Submitted</th>
            <th>Payment Received</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>
                    <div class="btn-group" style="width:100px">
                        @if (invoice.SentDate.HasValue)
                        {
                            <a href="~/Invoice/Details/@invoice.Id" class="btn btn-default btn-sm">View</a>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="~/Invoice/Edit/@invoice.Id" class="btn btn-sm">Edit</a></li>
                            </ul>
                        }
                        else
                        {
                            <a href="~/Invoice/Edit/@invoice.Id" class="btn btn-default btn-sm">Edit</a>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="~/Invoice/Details/@invoice.Id" class="btn btn-sm">View</a></li>
                            </ul>
                        }
                    </div>
                </td>
                <td>@invoice.ServiceProviderName</td>
                <td>@invoice.CustomerName</td>
                <td>@invoice.InvoiceNumber</td>
                <td>@invoice.InvoiceDate.ToOrvosiDateFormat()</td>
                <td>@invoice.SubTotal.Value.ToString("C2")</td>
                <td>@invoice.TaxRateHst.Value.ToString("0%")</td>
                <td>@invoice.Total.Value.ToString("C2")</td>
                <td>
                    @if (invoice.SentDate.HasValue)
                    {
                        @Html.Partial("_InvoiceSubmitted", invoice.SentDate.Value)
                    }
                    else
                    {
                        <div id="submit-invoice">
                            @Ajax.ActionLink("Submit", "Submit", "Invoice", new { id = invoice.Id }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "submit-invoice" }, new { @class = "btn btn-sm btn-danger" })
                        </div>

                    }
                </td>
                <td>
                    @(invoice.PaymentReceivedDate.HasValue ? invoice.PaymentReceivedDate.Value.ToOrvosiDateFormat() : "No")
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10"></td>
        </tr>
    </tfoot>
</table>
