@using WebApp.Library.Extensions
@using Orvosi.Data
@using Orvosi.Shared.Enums
@model WebApp.ViewModels.InvoiceViewModels.DashboardViewModel

@{
    Layout = "~/Views/Accounting/_Layout.cshtml";
}

@{
    var db = new OrvosiDbContext();

    //TODO: Filter out the lookups that are not needed per role
    ViewBag.ServiceProviders = db.BillableEntities
        .Where(c => c.EntityType == EntityTypes.Physician)
        .Select(c => new SelectListItem()
        {
            Text = c.EntityName,
            Value = c.EntityGuid.ToString()
        });

    ViewBag.Customers = db.Companies
        .Where(c => c.IsParent == false)
        .Select(c => new SelectListItem()
        {
            Text = c.Name,
            Value = c.ObjectGuid.ToString(),
            Group = new SelectListGroup() { Name = c.Parent.Name }
        });

    ViewBag.Years = DateRanges.GetYears()
        .Where(y => y.Key <= SystemTime.Now().Year)
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();

    ViewBag.Months = DateRanges.GetMonths()
        .Where(y => y.Key <= SystemTime.Now().Month)
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        })
        .ToList();
}

<div class="row" style="margin-bottom:20px">
    <div class="col-md-12">
        <form action="~/Accounting/Analytics/" method="get" class="form-inline">
            @if (User.Identity.GetRoleId() == AspNetRoles.SuperAdmin)
            {
                @Html.Hidden("ServiceProviderId", Model.FilterArgs.ServiceProviderId.HasValue ? Model.FilterArgs.ServiceProviderId.Value : Guid.Empty)
                <div class="form-group">
                    @Html.DropDownList("CustomerId", new SelectList(ViewBag.Customers, "Value", "Text", "Group.Name", Model.FilterArgs.CustomerId.HasValue ? Model.FilterArgs.CustomerId.Value : Guid.Empty), "-- Customer --", new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
            }
            <div class="form-group">
                @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Value", "Text", Model.FilterArgs.Year.HasValue ? Model.FilterArgs.Year.Value.ToString() : string.Empty), "-- Year --", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail alert alert-warning">
            <div class="caption">
                <div class="h1 text-center">@Model.InvoiceCount.ToString()</div>
                <div class="text-muted text-center">Invoices</div>
                <div class="text-muted text-center"><small>&nbsp;</small></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail alert alert-success">
            <div class="caption">
                <div class="h1 text-center">@Model.NetIncome.Value.ToString("C0")</div>
                <div class="text-center"><strong>Your Take Home!</strong></div>
                <div class="text-muted text-center"><small>(Expenses and HST are already deducted)</small></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail alert alert-info">
            <div class="caption">
                <div class="h1 text-center">@Model.Hst.Value.ToString("C0")</div>
                <div class="text-muted text-center">HST</div>
                <div class="text-muted text-center"><small>&nbsp;</small></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>@Model.FilterArgs.Year Take Home By Month</h2>
        <div id="revenueByMonth" style="width:100%; height:100%;"></div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>@Model.FilterArgs.Year Take Home By Company</h2>
        <div id="revenueByCompany" style="width:100%; height:100%;"></div>
    </div>
</div>
<div class="panel panel-default" style="margin-top: 40px">
    <div class="panel-heading" role="tab" id="headingOne">
        <h2 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                @Model.FilterArgs.Year Invoices
                <small>&nbsp;(click to view)</small>
            </a>
        </h2>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        @Html.Action("Table", "Invoice", new { invoices = Model.Invoices })
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/highcharts")

    <script>
        $(function () {
            $('#revenueByMonth').highcharts({
                colors: ["#90ee7e"],
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'bar'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [@Model.Months.ToCSV()]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    labels: {
                        overflow: 'justify',
                        formatter: function () {
                            return '$' + this.value;
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: -10,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false,
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}',
                    valueDecimals: 2,
                    valuePrefix: '$',
                    valueSuffix: ' CAD'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                if (this.y != 0) {
                                    return '$' + this.y;
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Your Take Home',
                    data: [@string.Join(",", Model.NetIncomeByMonth)]
                }]
            });

            $('#revenueByCompany').highcharts({
                colors: ["#f7a35c"],
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'bar'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [@Model.Companies.ToCSV()],
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    labels: {
                        formatter: function () {
                            return '$' + this.value;
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: -10,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false,
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}',
                    valueDecimals: 2,
                    valuePrefix: '$',
                    valueSuffix: ' CAD'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                if (this.y != 0) {
                                    return '$' + this.y;
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Your Take Home',
                    data: [@string.Join(",", Model.NetIncomeByCompany)]
                }]
            });
        });
    </script>
}
