@model Model.Invoice
@using WebApp.Library.Enums

@if (ViewBag.FormMode == FormModes.Add)
{
    <form action="~/Invoice/Create" method="post">
        @Html.Hidden("ServiceRequestId", Model.InvoiceDetails.First().ServiceRequestId)

        <div class="container">
            @Html.Partial("_Invoice", Model)
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
}
else if (ViewBag.FormMode == FormModes.Edit)
{
    <form action="~/Invoice/Edit" method="post">
        @Html.Hidden("Id", Model.Id)
        <div class="container">
            @Html.Partial("_Invoice", Model)
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="container">
        @Html.Partial("_Invoice", Model)
        <div>
            <a href="~/Invoice/Edit/@Model.Id" class="btn btn-primary">Edit</a>
        </div>
        <form action="~/Invoice/Send" method="post">
            <div class="form-group">
                <input type="text" value="@Model.CustomerEmail" name="CustomerEmail" class="form-control" placeholder="Bill To Email" />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
}
