@using Model
@using Model.Enums
@model WebApp.ViewModels.InvoiceViewModels.IndexViewModel

@{
    var db = new OrvosiEntities();

    ViewBag.BillableEntities = db.BillableEntities
        .Select(c => new SelectListItem()
        {
            Text = c.EntityName,
            Value = c.EntityGuid.ToString(),
            Group = new SelectListGroup() { Name = c.EntityType }
        }).ToList();

    ViewBag.Years = DateRanges.GetYears()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();

    ViewBag.Months = DateRanges.GetMonths()
        .Select(c => new SelectListItem()
        {
            Text = c.Value,
            Value = c.Key.ToString()
        }).ToList();
}
<h1>Invoices</h1>

<div class="row" style="margin-bottom:20px">
    <div class="col-md-12">
        <form action="~/Invoice/Index/" method="get" class="form-inline">
            @if (Model.CurrentUser.RoleCategoryId == RoleCategory.Admin)
            {
                <div class="form-group">
                    @Html.DropDownList("ServiceProviderId", new SelectList(ViewBag.BillableEntities, "Value", "Text", Model.FilterArgs.ServiceProviderId.HasValue ? Model.FilterArgs.ServiceProviderId.Value : Guid.Empty), new { @class = "form-control", placeholder="Service Provider" })
                </div>
                <div class="form-group">
                    @Html.DropDownList("CustomerId", new SelectList(ViewBag.BillableEntities, "Value", "Text", Model.FilterArgs.CustomerId.HasValue ? Model.FilterArgs.CustomerId.Value : Guid.Empty), new { @class = "form-control", placeholder="Customer" })
                </div>
            }
            <div class="form-group">
                @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Value", "Text", Model.FilterArgs.Year.Value.ToString()), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("Month", new SelectList(ViewBag.Months, "Value", "Text", Model.FilterArgs.Month.Value.ToString()), new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Get Invoices</button>
        </form>
    </div>
</div>

@foreach (var invoice in Model.Invoices)
{
    <div>@invoice.InvoiceNumber</div>
}



