@using WebApp.Library.Enums
@using WebApp.Library.Extensions
@model Orvosi.Data.Invoice
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    ViewBag.Title = "Invoice";
}

<style type="text/css">
    body {
        font-family: Arial;
    }

    .header {
        width: 100%;
        background-color: lightgray;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    th, td {
        padding: 10px;
    }

    table thead tr:first-child {
        border-bottom: 1px solid gray !important;
    }

    table tfoot tr:first-child {
        border-top: 1px dashed gray !important;
    }

    table tfoot tr:last-child {
        border-top: 1px solid gray !important;
        border-bottom: 1px solid gray !important;
    }

    dt {
        float: left;
        clear: both;
    }

    dd {
        float: right;
        margin-left: 50px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid darkgray;
        margin: 1em 0;
        padding: 0;
    }
</style>

@Html.Partial("DocumentHeader", Model)
<div style="clear: both"></div>
<div style="padding: 5px; margin-top: 40px;">
    <div style="padding-bottom: 5px;">
        <strong>Bill To:</strong>
    </div>
    <div style="float: left;">
        <h1>@Model.CustomerName</h1>
        <div>@Model.CustomerAddress1</div>
        <div>@Model.CustomerAddress2</div>
        <div>@(string.Format("{0}, {1} {2}", Model.CustomerCity, Model.CustomerProvince, Model.CustomerCountry))</div>
        <div>@Model.CustomerPostalCode</div>
        <div>@Model.CustomerEmail</div>
    </div>
    <div style="float:right;">
        <h1 style="text-align: right; color: darkred;">
            <strong>INVOICE</strong>
        </h1>
        <dl style="text-align: right;">
            <dt>Invoice Number</dt>
            <dd style="float: right;margin-left: 50px;">@Model.InvoiceNumber</dd>
            <dt>Invoice Date</dt>
            <dd>
                @if (ViewBag.FormMode == FormModes.Edit || ViewBag.FormMode == FormModes.Add)
                {
                    <div class="input-group date" style="width:100%" id="InvoiceDatePicker">
                        @Html.TextBox("InvoiceDate", Model.InvoiceDate.ToOrvosiDateFormat(), new { @class = "form-control" })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                }
                else
                {
                    @Model.InvoiceDate.ToOrvosiDateFormat()
                }
            </dd>
            <dt>Payment Terms</dt>
            <dd>NET 90 Days</dd>
        </dl>
    </div>
    <div style="clear: both;"></div>
    <div style="margin-bottom: 40px;"></div>
    <strong style="float:left;">Description</strong>
    <strong style="float:right;">Amount</strong>
    @foreach (var item in Model.InvoiceDetails)
    {
        <div style="clear:both;"></div>
        <hr style="margin-top: 0;" />
        <div style="float:left;">
            <span style="white-space: pre-line;">@Html.Raw(item.Description)</span>
            <br />
            @if (!string.IsNullOrEmpty(item.DiscountDescription))
                {
                <div style="color:darkred;"><strong>@item.DiscountDescription</strong></div>
                <br />
            }
            @if (!string.IsNullOrEmpty(Model.InvoiceDetails.First().AdditionalNotes))
                {
                <label style="padding-top: 10px;">Notes</label>
                <div>@item.AdditionalNotes</div>
            }
        </div>
        <div style="float:right;">
            <div class="text-right">@item.Total.Value.ToString("C2")</div>
        </div>
    }
    <div style="clear:both;"></div>
    <hr style="margin-top: 0; border-style:dashed;" />
    <div style="float:left;">
        <div class="text-right"><strong>Sub-Total</strong></div>
        <div class="text-right"><strong>Tax (@Model.TaxRateHst.Value.ToString("0%"))</strong></div>
    </div>
    <div style="float:right;">
        <div class="text-right"><strong>@Model.SubTotal.Value.ToString("C2")</strong></div>
        <div class="text-right"><strong>@Model.Hst.Value.ToString("C2")</strong></div>
    </div>
    <div style="clear:both;"></div>
    <hr style="margin-top: 0;" />
    <div style="float:left;">
        <h2 class="text-right">Total</h2>
    </div>
    <div style="float:right;">
        <h2 class="text-right">@Model.Total.Value.ToString("C2")</h2>
    </div>
</div>
<div style="clear: both;"></div>
<div class="header" style="text-align: center; margin-top: 40px;">
    All cheques payable to @Model.ServiceProviderName. Thank you for your referral!
</div>