@model Model.Document

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnedByObjectGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedByObjectGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTemplateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTemplateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnedByDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedByDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnedByEntityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedByEntityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTemplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTemplateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTemplateOwnedByDisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTemplateOwnedByDisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTemplateOwnedByEntityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTemplateOwnedByEntityType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
