@model WeekSummaryViewModel

@if (Model != null)
{
    <a role="button" onclick="getWeek('@Model.FirstDayOfWeek', 'week-@Model.Id')">
        <div class="panel-title">
            <div style="display:flex;flex-flow:row nowrap;justify-content:flex-start;">
                <div style="width:150px;">
                    <span>@Model.FirstDayOfWeek</span>
                </div>
                <div style="width:75px;" class="text-center">
                    <span id="todo-total-label" class="small label @(Model.OpenCount > 0 ? "label-default" : "bg-default")"><strong id="count-total">@Model.OpenCount</strong></span>
                </div>
                <div style="width:75px;" class="text-center">
                    <span id="todo-total-label" class="small label @(Model.ToDoCount > 0 ? "label-danger" : "bg-danger")"><strong id="todo-total">@Model.ToDoCount</strong></span>
                </div>
                <div style="width:75px;" class="text-center">
                    <span id="waiting-total-label" class="small label @(Model.WaitingCount > 0 ? "label-warning" : "bg-warning")"><strong id="waiting-total">@Model.WaitingCount</strong></span>
                </div>
                <div style="width:75px;" class="text-center">
                    <span id="onhold-total-label" class="small label @(Model.OnHoldCount > 0 ? "label-info" : "bg-info")"><strong id="onhold-total">@Model.OnHoldCount</strong></span>
                </div>
            </div>
        </div>
    </a>
}
