@model DetailsViewModel

<div style="display:flex; align-items:stretch; padding-bottom: 10px;">

    <div class="panel panel-default panel-shadow">
        <div class="panel-body">
            <div style="display:flex; align-items:center;">
                <div id="case-container-@Model.Id" style="margin-right:auto;">
                    <div style="padding-bottom:5px;">
                        <strong>@Model.ClaimantName (@(Model.CaseNumber))</strong>
                        @Html.Partial("Status", Model.Status)
                        @Html.Partial("CancellationStatus", Model.CancellationStatus)
                    </div>
                    <div>
                        <small class="text-muted">@Model.Company.Name</small>
                        @if (!string.IsNullOrEmpty(Model.ReferralSource))
                        {
                            <small class="text-muted"> (@Model.ReferralSource)</small>
                        }
                    </div>
                    <div>
                        <small class="text-muted">@Model.Service.Name</small>
                        @if (Model.MedicolegalTypeId.HasValue)
                        {
                            <small class="text-muted"> (@Model.MedicolegalType.Name)</small>
                        }
                    </div>
                </div>
                @*<span id="actionmenu-container-@Model.Id" style="margin:auto;">
                        @Html.Partial("~/Views/ServiceRequest/ActionMenu.cshtml", Model)
                    </span>
                    <span style="margin-left:auto;">
                        @Html.Partial("~/Views/ServiceRequest/PhysicianLabel.cshtml", Model.Id)
                    </span>*@
            </div>
        </div>
    </div>
    <div id="assessment-middle-container" style="display:flex;">
    </div>
    <div id="assesment-left-container">
        @Model.ClaimantName
    </div>
</div>
@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts{

    @Html.Partial("DetailsJS")
}
