@using Orvosi.Shared.Enums
@model EditCancellationPolicyFormModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Cancellation Policy
    </h4>
</div>
<div class="modal-body">
    <form id="cancellationpolicy-form">
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <div class="form-group">
            <label class="control-label">No Show Rate</label>
            <div class="checkbox-inline">
                <label><input type="radio" name="NoShowRateFormat" value="@RateFormat.Amount" checked="@(Model.NoShowRateFormat == RateFormat.Amount)"> @Enum.GetName(typeof(RateFormat), RateFormat.Amount)</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="radio" name="NoShowRateFormat" value="@RateFormat.Percentage" checked="@(Model.NoShowRateFormat == RateFormat.Percentage)"> @Enum.GetName(typeof(RateFormat), RateFormat.Percentage)</label>
            </div>
            <div>
                @Html.TextBox("NoShowRate", Model.NoShowRate, new { @class = "form-control" })
                @Html.ValidationMessage("NoShowRate", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Late Cancellation Rate</label>
            <div class="checkbox-inline">
                <label><input type="radio" name="LateCancellationRateFormat" value="@RateFormat.Amount" checked="@(Model.LateCancellationRateFormat == RateFormat.Amount)"> @Enum.GetName(typeof(RateFormat), RateFormat.Amount)</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="radio" name="LateCancellationRateFormat" value="@RateFormat.Percentage" checked="@(Model.LateCancellationRateFormat == RateFormat.Percentage)"> @Enum.GetName(typeof(RateFormat), RateFormat.Percentage)</label>
            </div>
            <div>
                @Html.TextBox("LateCancellationRate", Model.LateCancellationRate, new { @class = "form-control" })
                @Html.ValidationMessage("LateCancellationRate", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Late Cancellation Policy in Hours (eg. 72 hours = 3 days)</label>
            <div>
                @Html.TextBox("LateCancellationPolicy", Model.LateCancellationPolicy, new { @class = "form-control" })
                @Html.ValidationMessage("LateCancellationPolicy", "", new { @class = "text-danger" })
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" onclick="saveEditCancellationPolicyForm('@Model.CompanyId', $('#cancellationpolicy-form'))" class="btn btn-primary">Save</button>
</div>
