@model PricingMatrixViewModel


<table class="table table-bordered" id="exams-table">
    <thead>
        <tr>
            <th>
                City
            </th>
            @foreach (var service in Model.Services)
            {
                <th>
                    @service.Name<br />
                    <span>(@service.Price)</span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var city in Model.ViewData.Cities.OrderBy(c => c.Name))
    {
        <tr>
            <td>
                <div>@city.Name</div>
            </td>
            @foreach (var service in Model.Services)
            {
                var travelPrice = service.TravelPrices.SingleOrDefault(c => c.CityId == city.Id);
            <td>
                @if (travelPrice == null)
                {
                    <span>@service.Price</span>
                    <br />
                    <a style="cursor:pointer;" onclick="showNewTravelPriceForm('@Model.CompanyId', '@service.Id', '@city.Id')">Override</a>
                }
                else
                {
                    <span class="text-warning">@travelPrice.Price</span>
                    <br />
                    <a style="cursor:pointer;" onclick="showEditTravelPriceForm('@Model.CompanyId', '@travelPrice.Id')">edit</a>
                }
            </td>
            }
        </tr>
    }
    </tbody>
</table>

