@model AddressListViewModel

<div class="btn-group" style="margin-bottom: 15px;">
    <button type="button" class="btn btn-default" onclick="showNewAddressForm('@Model.CompanyId')">New Address</button>
</div>
<div class="list-group">
    @foreach (var address in Model.Addresses)
    {
        <div class="list-group-item">
            @address.Address1<br />
            @address.CityName, @address.ProvinceName @address.CountryName<br />
            @address.PostalCode
            @if (address.IsBillingAddress)
            {
                <br />
                <span class="label label-default">Billing Address</span>
            }
        </div>
    }
</div>