@model Orvosi.Data.ServiceCatalogueRate

@{ 

    var userId = User.Identity.GetGuidUserId();
    var userContext = User.Identity.GetPhysician();
    var physicianId = userContext == null ? (Guid?)null : userContext.Id;
    var currentContextId = physicianId.GetValueOrDefault(userId);
    var roleId = User.Identity.GetRoleId();
}
<div class="row">
    <div class="col-md-12">
        <form action="~/ServiceCatalogue/EditRates" method="post">
            @Html.Hidden("ServiceProviderGuid", currentContextId)
            @Html.Hidden("CustomerGuid", Model.CustomerGuid)
            <div class="form-group">
                <label class="control-label">No Show Rate</label>
                <input type="text" class="form-control" name="NoShowRate" value="@Model.NoShowRate" />
            </div>
            <div class="form-group">
                <label class="control-label">Late Cancellation Rate</label>
                <input type="text" class="form-control" name="LateCancellationRate" value="@Model.LateCancellationRate" />
            </div>
            <div class="form-group">
                <label class="control-label">Late Cancellation Policy in Hours (eg. 72 hours = 3 days)</label>
                <input type="text" class="form-control" name="LateCancellationPolicy" value="@Model.LateCancellationPolicy" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
