@using Orvosi.Data
@using WebApp.Models
@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@using WebApp.Library
@using LinqKit
@model WebApp.ViewModels.ServiceCatalogueViewModels.IndexViewModel

@{
    ViewBag.Title = "Service Catalogue";

    var db = ContextPerRequest.db;

    var companies = db.Companies
        .Select(c => new SelectListItem()
        {
            Text = c.Name,
            Value = c.Id.ToString(),
            Group = new SelectListGroup() { Name = c.Parent.Name }
        }).ToList();

    var userContext = User.Identity.GetUserContext();
}


<div class="row">
    <div class="col-md-12">
        <form action="~/ServiceCatalogue/Index/" method="get" class="form-inline">
            <div class="form-group">
                @Html.DropDownList("CompanyId", new SelectList(companies, "Value", "Text", "Group.Name", Model.FilterArgs.CompanyId), "-- All Companies --", new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </form>
    </div>
</div>
<p />
<div class="h3 lead">
    @if (Model.SelectedCompany != null)
    {
        <span>Services for @userContext.DisplayName and <strong>@Model.SelectedCompany.Name</strong></span>
    }
    else
    {
        <span>Services for @userContext.DisplayName</span>
    }
</div>

@if (Model.ServiceCatalogueRate == null)
{
    <div class="text-info">No Show Rate and Late Cancellation Rate have not been set.</div>
}
else
{
    <dl class="dl-horizontal">
        <dt>No Show Rate</dt>
        <dd>
            @{ var noShowFormat = Model.ServiceCatalogueRate.NoShowRate.HasValue && Model.ServiceCatalogueRate.NoShowRate > 1 ? "C2" : "0%"; }
            @Model.ServiceCatalogueRate.NoShowRate.GetValueOrDefault(0).ToString(noShowFormat)
        </dd>
        <dt>Late Cancel Rate</dt>
        <dd>
            @{ var lateCancellationFormat = Model.ServiceCatalogueRate.LateCancellationRate.HasValue && Model.ServiceCatalogueRate.LateCancellationRate > 1 ? "C2" : "0%"; }
            @Model.ServiceCatalogueRate.LateCancellationRate.GetValueOrDefault(0).ToString(lateCancellationFormat)
        </dd>
    </dl>
                }
<a class="btn btn-sm btn-primary" style="margin-bottom:20px;" href="~/@(string.Format("ServiceCatalogue/EditRates?ServiceProviderGuid={0}&CustomerGuid={1}", userContext.Id, Model.SelectedCompany != null ? Model.SelectedCompany.ObjectGuid.ToString() : string.Empty))">Set Rates</a>



<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#exams-tab" aria-controls="exams" role="tab" data-toggle="tab">Exams</a></li>
    <li role="presentation"><a href="#addons-tab" aria-controls="addons" role="tab" data-toggle="tab">Add Ons</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="exams-tab">
        <div id="exams-container" class="panel-body">
            @Html.Partial("_Exams", Model)
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="addons-tab">
        <div id="addons-container" class="panel-body">
            @Html.Partial("_AddOns", Model)
        </div>
    </div>
</div>

@Html.Partial("ModalContainer")

@section Scripts{

    @Html.Partial("~/Views/ServiceCatalogue/ServiceCatalogueJS.cshtml")

    <script type="text/javascript">

        function serviceCataloguePartialViewLoaded(html) {
            var id = $(html)[0].id;
            if (id == 'exams-table') {
                document.getElementById('exams-container').innerHTML = html;
            }
            else if (id == 'addons-table') {
                document.getElementById('addons-container').innerHTML = html;
            }
        }

    </script>
}
